Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

kedro initial commit
  terraform/aws/analytical-platform-development/firebreak-kedro/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/firebreak-kedro/data.tf
  terraform/aws/analytical-platform-development/firebreak-kedro/kubernetes-namespaces.tf
  terraform/aws/analytical-platform-development/firebreak-kedro/terraform.tf
  terraform/aws/analytical-platform-development/firebreak-kedro/terraform.tfvars
  terraform/aws/analytical-platform-development/firebreak-kedro/variables.tf
Labels: none

Wildcard time Add Jupyterlab
  terraform/aws/analytical-platform-development/firebreak-coder/acm-certificates.tf
  terraform/aws/analytical-platform-development/firebreak-coder/route53-records.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/README.md
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes-jupyterlab/README.md
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes-jupyterlab/coder-agent.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes-jupyterlab/coder-app.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes-jupyterlab/data.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes-jupyterlab/kubernetes-pod.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes-jupyterlab/kubernetes-pvc.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes-jupyterlab/terraform.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/helm/coder/values.yml.tftpl
Labels: none

terraform filter update
  .github/path-filter/terraform.yml
Labels: none

stop committing secrets to repos
  terraform/aws/analytical-platform-development/jupyterhub/src/helm/jupyterhub/values.yml.tftpl
Labels: none

add rstudio docker container
  containers/rstudio/CHANGELOG.md
  containers/rstudio/Dockerfile
  containers/rstudio/config.json
Labels: none

add changelog
  containers/rstudio/CHANGELOG.md
Labels: none

add rstudio image
  containers/rstudio/ffs/CHANGELOG.md
  containers/rstudio/ffs/Dockerfile
  containers/rstudio/ffs/config.json
Labels: none

oops, bad file path
  containers/rstudio/CHANGELOG.md
  containers/rstudio/Dockerfile
  containers/rstudio/config.json
Labels: none

add rstudio image (#950)
  .github/dependabot.yml
  .github/path-filter/containers.yml
  containers/rstudio/CHANGELOG.md
  containers/rstudio/Dockerfile
  containers/rstudio/config.json
Labels: none

stop committing secrets to repos
  terraform/aws/analytical-platform-development/jupyterhub/src/helm/jupyterhub/values.yml.tftpl
Labels: none

Extend coder permissions Add IRSA mapping Update Coder Remove Jupyterlab
  terraform/aws/analytical-platform-development/firebreak-coder/data.tf
  terraform/aws/analytical-platform-development/firebreak-coder/helm-releases.tf
  terraform/aws/analytical-platform-development/firebreak-coder/kubernetes-rolebinding.tf
  terraform/aws/analytical-platform-development/firebreak-coder/kubernetes-roles.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes-jupyterlab/README.md
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes-jupyterlab/coder-agent.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes-jupyterlab/coder-app.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes-jupyterlab/data.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes-jupyterlab/kubernetes-pod.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes-jupyterlab/kubernetes-pvc.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes-jupyterlab/terraform.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/data.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/kubernetes-pod.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/kubernetes-serviceaccount.tf
Labels: none

Update locals.tf
  terraform/github/application-migration/locals.tf
Labels: none

Update locals.tf
  terraform/github/application-migration/locals.tf
Labels: none

add docs container and bump libraries versions
  .github/path-filter/containers.yml
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/requirements.txt
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/Dockerfile
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/index.html
  containers/daap-docs/src/var/task/main.js
  containers/daap-docs/src/var/task/swagger.json
  containers/daap-get-glue-metadata/src/var/task/requirements.txt
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/config.json
  containers/daap-presigned-url/src/var/task/requirements.txt
Labels: none

Add GitLeaks config
  .github/linters/.gitleaks.toml
Labels: none

Disable HTML linter
  .github/workflows/repository-github-super-linter.yml
Labels: github-workflow

disable js linting
  .github/workflows/repository-github-super-linter.yml
Labels: github-workflow

exclude daap-docs/src/var/task/swagger.json
  .github/linters/.jscpd.json
Labels: none

Bump athena-load versions
  containers/daap-athena-load/src/var/task/requirements.txt
Labels: none

Update CHANGELOG
  containers/daap-athena-load/CHANGELOG.md
Labels: none

dropping urllib3 to satisfy botocore
  containers/daap-athena-load/src/var/task/requirements.txt
Labels: none

drop parameterized version
  containers/daap-athena-load/src/var/task/requirements.txt
Labels: none

Drop s3fs version Bump pip version
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/src/var/task/requirements.txt
  containers/daap-get-glue-metadata/Dockerfile
  containers/daap-presigned-url/Dockerfile
Labels: none

:construction: WIP - Add terraform.tf
  terraform/aws/analytical-platform-development/sqs/terraform.tf
Labels: none

add docs container and bump libraries versions (#958)
  .github/dependabot.yml
  .github/linters/.gitleaks.toml
  .github/linters/.jscpd.json
  .github/path-filter/containers.yml
  .github/workflows/repository-github-super-linter.yml
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/requirements.txt
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/Dockerfile
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/index.html
  containers/daap-docs/src/var/task/main.js
  containers/daap-docs/src/var/task/swagger.json
  containers/daap-get-glue-metadata/Dockerfile
  containers/daap-get-glue-metadata/src/var/task/requirements.txt
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/Dockerfile
  containers/daap-presigned-url/config.json
  containers/daap-presigned-url/src/var/task/requirements.txt
Labels: github-workflow

:construction: Rename folder
  terraform/aws/analytical-platform-development/control-panel-message-broker/terraform.tf
Labels: none

:construction: Add terraform files.
  terraform/aws/analytical-platform-development/control-panel-message-broker/sqs.tf
  terraform/aws/analytical-platform-development/control-panel-message-broker/terraform.tf
  terraform/aws/analytical-platform-development/control-panel-message-broker/terraform.tfvars
  terraform/aws/analytical-platform-development/control-panel-message-broker/variables.tf
Labels: none

Add Open Metadata EKS OIDC
  terraform/aws/analytical-platform-development/firebreak-coder/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/firebreak-coder/data.tf
  terraform/aws/analytical-platform-development/firebreak-coder/iam-openid-connect-providers.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/coder-agent.tf
  terraform/aws/analytical-platform-development/firebreak-coder/terraform.tf
  terraform/aws/analytical-platform-development/firebreak-coder/terraform.tfvars
Labels: none

remove members that have left AP team
  terraform/pagerduty/schedules.tf
Labels: none

update glue crawler and glue database
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-catalogs.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawlers.tf
Labels: none

linter and terraform updates
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-catalogs.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawlers.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/security-config.tf
Labels: none

adding s3 security config
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/security-config.tf
Labels: none

removing s3 security config and adding cloudwatch config
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/security-config.tf
Labels: none

provision karpenter terraform
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

remove previous team member from all pagerduty references
  terraform/pagerduty/teams.tf
  terraform/pagerduty/users.tf
Labels: none

Update VS Code location
  .devcontainer/docs/DEVCONTAINER.md
Labels: devcontainer

update templates
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server/README.md
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server/coder-agent.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server/coder-app.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server/data.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server/kubernetes-pod.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server/kubernetes-pvc.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server/kubernetes-serviceaccount.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server/terraform.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/jupyterlab/README.md
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/jupyterlab/coder-agent.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/jupyterlab/coder-app.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/jupyterlab/data.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/jupyterlab/kubernetes-pod.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/jupyterlab/kubernetes-pvc.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/jupyterlab/kubernetes-serviceaccount.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/jupyterlab/terraform.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/README.md
Labels: none

Bump disk size to 150, need more space captain
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
Labels: none

replaced EKS MNG
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
Labels: none

🔀 ⬆️ Increase Open Metadata EKS disk size (#977)
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
Labels: none
