Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

sorted black error
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

isort fixes
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

fixing isort issues
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

fixing isort issues
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

Add pyproject.toml to specify black as isort profile superlinter uses above for isort
  .github/linters/pyproject.toml
  .github/workflows/repository-github-super-linter.yml
Labels: github-workflow

fix workspace path ref
  .github/workflows/repository-github-super-linter.yml
Labels: github-workflow

debug
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

as above
  .github/workflows/repository-github-super-linter.yml
Labels: github-workflow

log message if regex not found (rather than return) add logging rather than printing (cannot use custom logger as it would create circular dependency) black import linting
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

added comments
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

Moved some functions to base image (#1644)
  .github/linters/pyproject.toml
  .github/workflows/repository-github-super-linter.yml
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: github-workflow

replace tfsec ref
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

test changes
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

bug
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

add working-level
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Refactor athena load module for inferring schemas (#1649)
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
  containers/daap-athena-load/tests/unit/athena_load_handler_test.py
  containers/daap-athena-load/tests/unit/conftest.py
  containers/daap-athena-load/tests/unit/infer_glue_schema_test.py
Labels: none

Remove unused arguments
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/create_raw_athena_table.py
  containers/daap-athena-load/tests/unit/create_raw_athena_table_test.py
Labels: none

updated README.md and typo fix
  README.md
  docs/docs/about.md
  docs/docs/tech-docs/ADRs/ADR000.md
  docs/docs/tech-docs/ADRs/ADR001.md
  docs/docs/tech-docs/ADRs/ADR002.md
  docs/docs/tech-docs/ADRs/ADR003.md
  docs/docs/tech-docs/ADRs/ADR004.md
  docs/docs/tech-docs/ADRs/ADR005.md
Labels: documentation

binary version
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Remove unused arguments (#1651)
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/create_raw_athena_table.py
  containers/daap-athena-load/tests/unit/create_raw_athena_table_test.py
Labels: none

code reafctor
  containers/daap-resync-unprocessed-files/Dockerfile
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

binary version bug
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

binary version bug
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Refactored regex
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

bumped version
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: none

Changed terminology in change log
  containers/daap-python-base/CHANGELOG.md
Labels: none

Added unit test
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

Fixed lint issues
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

Changed regex grouping
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

Fixed lint error
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

fixed regex pattern issue
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

fixed lint isort error
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

Refactored regex (#1652)
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

Replace dashes with underscores in random table name
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

Replace dashes with underscores in random table name (#1654)
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

updated vision statement
  docs/docs/about.md
Labels: documentation

rip out trivy/tfsec
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Ensure raw athena table is deleted on error
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_raw_athena_table.py
  containers/daap-athena-load/tests/unit/athena_load_handler_test.py
  containers/daap-athena-load/tests/unit/create_raw_athena_table_test.py
Labels: none

Bump base image
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
Labels: none

Added unit test
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
  containers/daap-resync-unprocessed-files/tests/unit/resync_unprocessed_file_test.py
Labels: none
