Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

Added MSFT code server Switch to subdomain
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server-msft/README.md
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server-msft/coder-agent.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server-msft/coder-app.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server-msft/data.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server-msft/kubernetes-pod.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server-msft/kubernetes-pvc.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server-msft/kubernetes-serviceaccount.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server-msft/terraform.tf
Labels: none

Updated TF doc Added docs script
  docs/source/documentation/platform/infrastructure/terraform.html.md.erb
  scripts/docs/docker.sh
Labels: documentation

Add script to upload templates Add template config
  scripts/coder/template.sh
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server-msft/coder.json
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/code-server/coder.json
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/jupyterlab/coder.json
Labels: none

add provisioners
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
  terraform/aws/analytical-platform-development/cluster/vpc.tf
Labels: none

move
  .devcontainer/devcontainer-build.json
  .devcontainer/features/src/git-tools/devcontainer-feature.json
  .devcontainer/hack/build.sh
Labels: devcontainer

Update teams.tf
  terraform/github/data-platform/teams.tf
Labels: none

Adding CKV_GIT_1 skip check
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Bumped AWS provider Bumped EKS module Added AMP and AMG
  terraform/aws/analytical-platform-development/open-metadata/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
  terraform/aws/analytical-platform-development/open-metadata/helm-charts.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-policies.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-roles.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-namespace.tf
  terraform/aws/analytical-platform-development/open-metadata/managed-grafana.tf
  terraform/aws/analytical-platform-development/open-metadata/managed-prometheus.tf
  terraform/aws/analytical-platform-development/open-metadata/src/helm/prometheus/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/terraform.tf
Labels: none

Adding CKV_GIT_1 skip check
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

destroying unwanted resources
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-catalogs.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawlers.tf
Labels: none

🔀 🔥 Added Managed Prometheus and Grafana (#1025)
  .github/path-filter/terraform.yml
  terraform/aws/analytical-platform-development/open-metadata/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
  terraform/aws/analytical-platform-development/open-metadata/helm-charts.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-policies.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-roles.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-namespace.tf
  terraform/aws/analytical-platform-development/open-metadata/managed-grafana.tf
  terraform/aws/analytical-platform-development/open-metadata/managed-prometheus.tf
  terraform/aws/analytical-platform-development/open-metadata/src/helm/prometheus/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/terraform.tf
Labels: none

🔀 Update teams.tf (#1023)
  terraform/github/data-platform/teams.tf
Labels: none

Bumped AWS provider Moved some resoureces Corrected policy name
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-catalogs.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawlers.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-policies.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-roles.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/terraform.tf
Labels: none

linter
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

🔀 Retiring alpha-vcms-data (#1026)
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-catalogs.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawlers.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-policies.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-roles.tf
Labels: none

add provisioners (#1022)
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
  terraform/aws/analytical-platform-development/cluster/vpc.tf
Labels: none

Update wording
  docs/source/documentation/platform/infrastructure/terraform.html.md.erb
Labels: documentation

Add static analysis note
  docs/source/documentation/platform/infrastructure/terraform.html.md.erb
Labels: documentation

bump checkov
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

🔀 📝 Add (much needed) documentation and quality of life improvements to Terraform (#979)
  .devcontainer/features/test/.dependabot-docker-ignore
  .github/dependabot.yml
  .github/linters/.jscpd.json
  .github/path-filter/containers.yml
  .github/path-filter/terraform.yml
  .github/workflows/archived/repository-containers-path-filter-generator.yml
  .github/workflows/archived/repository-dependabot-configuration-generator.yml
  .github/workflows/archived/repository-terraform-path-filter-generator.yml
  .github/workflows/reusable-workflow-terraform.yml
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/platform/infrastructure/containers.html.md.erb
  docs/source/documentation/platform/infrastructure/terraform.html.md.erb
  scripts/dependabot/configuration-generator.sh
  scripts/docs/docker.sh
  scripts/path-filter/configuration-generator.sh
  scripts/path-filter/generator.sh
Labels: documentation, github-workflow, devcontainer

Add GHCR
  .github/workflows/containers.yml
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

Update references
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

Remvoe a line
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

Add GHCR code block to docs
  docs/source/documentation/platform/infrastructure/containers.html.md.erb
Labels: documentation

Auth0 logging to AWS CloudWatch
  terraform/aws/analytical-platform-development/open-metadata/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/open-metadata/auth0-log-streams.tf
  terraform/aws/analytical-platform-development/open-metadata/cloudwatch-log-groups.tf
  terraform/aws/analytical-platform-development/open-metadata/data.tf
  terraform/aws/analytical-platform-development/open-metadata/eventbridge-rules.tf
  terraform/aws/analytical-platform-development/open-metadata/eventbridge-targets.tf
  terraform/aws/analytical-platform-development/open-metadata/helm-charts.tf
  terraform/aws/analytical-platform-development/open-metadata/src/helm/auth0-exporter/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/terraform.tf
Labels: none

Remove Auth0 exporter Helm chart
  terraform/aws/analytical-platform-development/open-metadata/helm-charts.tf
  terraform/aws/analytical-platform-development/open-metadata/src/helm/auth0-exporter/values.yml.tftpl
Labels: none

create own irsa
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

linter
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

:bento: Add soft serve container
  .github/dependabot.yml
  .github/path-filter/containers.yml
  containers/soft-serve/CHANGELOG.md
  containers/soft-serve/Dockerfile
  containers/soft-serve/config.yaml 
  containers/soft-serve/scripts/add-repo-mirrors.sh
  containers/soft-serve/scripts/entrypoint.sh
  containers/soft-serve/scripts/remove-repo-mirrors.sh
  containers/soft-serve/scripts/repos_list.txt
Labels: none

Update containers/soft-serve/CHANGELOG.md
  containers/soft-serve/CHANGELOG.md
Labels: none

linter
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

:fire: Remove trailing spaces / unneeded newlines
  containers/soft-serve/CHANGELOG.md
  containers/soft-serve/Dockerfile
  containers/soft-serve/config.json
  containers/soft-serve/config.yaml 
  containers/soft-serve/scripts/add-repo-mirrors.sh
  containers/soft-serve/scripts/entrypoint.sh
  containers/soft-serve/scripts/remove-repo-mirrors.sh
Labels: none

Added Auth0
  terraform/aws/analytical-platform-development/open-metadata/auth0-log-streams.tf
  terraform/aws/analytical-platform-development/open-metadata/data.tf
  terraform/aws/analytical-platform-development/open-metadata/terraform.tf
Labels: none

Add component
  .github/dependabot.yml
  .github/path-filter/terraform.yml
  terraform/cloud-platform/live/data-platform-development/soft-serve/.terraform.lock.hcl
  terraform/cloud-platform/live/data-platform-development/soft-serve/data.tf
  terraform/cloud-platform/live/data-platform-development/soft-serve/terraform.tf
  terraform/cloud-platform/live/data-platform-development/soft-serve/terraform.tfvars
  terraform/cloud-platform/live/data-platform-development/soft-serve/variables.tf
Labels: none

create own irsa (#1052)
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

:passport_control: Create sqs iam permissions
  terraform/aws/analytical-platform-development/cluster/iam-policies.tf
Labels: none

:bug: Removed reference to var.target_account
  terraform/aws/analytical-platform-development/cluster/iam-policies.tf
Labels: none

:wrench: Update IAM policies permissions
  terraform/aws/analytical-platform-development/control-panel-message-broker/iam-policies.tf
Labels: none

:passport_control: Create sqs iam permissions (#1055)
  terraform/aws/analytical-platform-development/cluster/iam-policies.tf
Labels: none

Revert ":wrench: Update IAM policies permissions"
  terraform/aws/analytical-platform-development/control-panel-message-broker/iam-policies.tf
Labels: none

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"
