Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

add `database_name` to `BaseJsonSchema` - used in glue schema add `database_name` to `DataProductElement` - used in `curated_data_table` update tests
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

try again
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

update changelogs
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-python-base/CHANGELOG.md
Labels: none

Revert debug
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

:memo: Update docs for presigned url and delete table
  containers/daap-docs/src/var/task/swagger.json
Labels: none

♻️ Refactor GitHub Terraform component (#1985)
  .github/dependabot.yml
  .github/path-filter/terraform.yml
  .github/workflows/configuration-workflow-terraform.yml
  .github/workflows/reusable-workflow-terraform.yml
  terraform/aws/analytical-platform/oidc/configuration/ap_migration_apps.json
  terraform/aws/analytical-platform/oidc/locals.tf
  terraform/github/.terraform.lock.hcl
  terraform/github/analytical-platform-repositories.tf
  terraform/github/analytical-platform-teams.tf
  terraform/github/data-engineering-teams.tf
  terraform/github/data-platform-repositories.tf
  terraform/github/data-platform-teams.tf
  terraform/github/data-platform/.terraform.lock.hcl
  terraform/github/data-platform/backend.tf
  terraform/github/data-platform/data.tf
  terraform/github/data-platform/locals.tf
  terraform/github/data-platform/main.tf
  terraform/github/data-platform/providers.tf
  terraform/github/data-platform/teams.tf
  terraform/github/data-platform/versions.tf
  terraform/github/data.tf
  terraform/github/locals.tf
  terraform/github/modules/contributor/main.tf
  terraform/github/modules/contributor/providers.tf
  terraform/github/modules/contributor/variables.tf
  terraform/github/modules/repository/main.tf
  terraform/github/modules/repository/outputs.tf
  terraform/github/modules/repository/variables.tf
  terraform/github/modules/team/main.tf
  terraform/github/modules/team/outputs.tf
  terraform/github/modules/team/variables.tf
  terraform/github/scripts/mv-resources.sh
  terraform/github/terraform.tf
  terraform/github/terraform.tfvars
  terraform/github/variables.tf
Labels: github-workflow

Update Data Product tech docs (#2177)
  docs/source/documentation/data-products/components/data-cleansing-definitions.html.md.erb
  docs/source/documentation/data-products/components/data-dictionary-definitions.html.md.erb
  docs/source/documentation/data-products/components/data-transformation-definitions.html.md.erb
  docs/source/documentation/data-products/components/product-governance.html.md.erb
  docs/source/documentation/data-products/components/product-specification.html.md.erb
  docs/source/documentation/data-products/example_data_product/governance.yml
  docs/source/documentation/data-products/example_data_product/specification.yml
  docs/source/documentation/data-products/index.html.md.erb
  docs/source/documentation/data-products/product-versioning.html.md.erb
Labels: documentation

✨ Ways of Working 2.0 (#2153)
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/team/our-ceremonies.html.md.erb
  docs/source/documentation/team/ways-of-working.html.md.erb
Labels: documentation

Updated docs (#2241)
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: none

linting
  containers/daap-python-base/CHANGELOG.md
Labels: none

:memo: Update changelog & version
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
Labels: none

Swagger docs update (#2250)
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: none

fix container dockerfiles: `LAMDA_TASK_ROOT` -> `LAMBDA_TASK_ROOT`
  containers/daap-athena-load/Dockerfile
  containers/daap-authorizer/Dockerfile
  containers/daap-create-metadata/Dockerfile
  containers/daap-create-schema/Dockerfile
  containers/daap-delete-table-for-data-product/Dockerfile
  containers/daap-docs/Dockerfile
  containers/daap-get-glue-metadata/Dockerfile
  containers/daap-get-schema/Dockerfile
  containers/daap-landing-to-raw/Dockerfile
  containers/daap-presigned-url/Dockerfile
  containers/daap-preview-data/Dockerfile
  containers/daap-python-base/Dockerfile
  containers/daap-reload-data-product/Dockerfile
  containers/daap-resync-unprocessed-files/Dockerfile
  containers/daap-update-metadata/Dockerfile
  containers/daap-update-schema/Dockerfile
Labels: none

Update containers/daap-push-to-catalogue/Dockerfile
  containers/daap-push-to-catalogue/Dockerfile
Labels: none

Dp 1797 update athena_load to use existing schema for curated table (#2156)
  .gitignore
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/tests/unit/athena_load_handler_test.py
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

Added basic python for JML... lambda?
  terraform/aws/analytical-platform-development/test.py
Labels: none

update evaluate_checks workflow error reporting
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

update changelogs
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-authorizer/CHANGELOG.md
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-schema/CHANGELOG.md
  containers/daap-delete-table-for-data-product/CHANGELOG.md
  containers/daap-docs/CHANGELOG.md
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-schema/CHANGELOG.md
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-preview-data/CHANGELOG.md
  containers/daap-python-base/CHANGELOG.md
  containers/daap-reload-data-product/CHANGELOG.md
  containers/daap-resync-unprocessed-files/CHANGELOG.md
  containers/daap-update-metadata/CHANGELOG.md
  containers/daap-update-schema/CHANGELOG.md
Labels: none

Upgrade to latest base image
  containers/daap-reload-data-product/CHANGELOG.md
  containers/daap-reload-data-product/Dockerfile
  containers/daap-reload-data-product/config.json
  containers/daap-reload-data-product/tests/unit/reload_data_product_test.py
  containers/daap-resync-unprocessed-files/CHANGELOG.md
  containers/daap-resync-unprocessed-files/Dockerfile
  containers/daap-resync-unprocessed-files/config.json
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
  containers/daap-resync-unprocessed-files/tests/unit/conftest.py
  containers/daap-resync-unprocessed-files/tests/unit/resync_unprocessed_file_test.py
Labels: none

Check csv for issues even if schema is not available (#2205)
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/config.json
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
Labels: none

Add limit-severities-for-sarif option to Trivy scan
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

Resolve #1740
  containers/alpine-base/CHANGELOG.md
  containers/alpine-base/Dockerfile
  containers/alpine-base/config.json
Labels: none

Resolve #1729
  containers/kubectl/CHANGELOG.md
  containers/kubectl/Dockerfile
  containers/kubectl/config.json
Labels: none

Fix CHANGELOG
  containers/alpine-base/CHANGELOG.md
Labels: none

Add data product name to the logger and update to latest base image in reload/resync lambdas (#2211)
  containers/daap-reload-data-product/CHANGELOG.md
  containers/daap-reload-data-product/Dockerfile
  containers/daap-reload-data-product/config.json
  containers/daap-reload-data-product/src/var/task/reload_data_product.py
  containers/daap-reload-data-product/tests/unit/reload_data_product_test.py
  containers/daap-resync-unprocessed-files/CHANGELOG.md
  containers/daap-resync-unprocessed-files/Dockerfile
  containers/daap-resync-unprocessed-files/config.json
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
  containers/daap-resync-unprocessed-files/tests/unit/conftest.py
  containers/daap-resync-unprocessed-files/tests/unit/resync_unprocessed_file_test.py
Labels: none

Resolves #1962
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/requirements.txt
Labels: none

Resolves #1961
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/config.json
  containers/daap-landing-to-raw/src/var/task/requirements.txt
Labels: none

🚑 Add `limit-severities-for-sarif` option to `aquasecurity/trivy-action` (#2254)
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

Tidy CHANGELOG
  containers/alpine-base/CHANGELOG.md
  containers/kubectl/CHANGELOG.md
Labels: none

Adds ONBUILD
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/Dockerfile
  containers/daap-python-base/config.json
Labels: none

yum update yourself
  containers/daap-python-base/Dockerfile
Labels: none

Install security updates only
  containers/daap-python-base/Dockerfile
Labels: none

:fire: Remove delete table schema references
  containers/daap-docs/src/var/task/swagger.json
Labels: none

:memo: Update changelog and config.json for v1.0.11
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
Labels: none

Remove delete table schema references (#2257)
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: none

fix container dockerfiles: `LAMDA_TASK_ROOT` -> `LAMBDA_TASK_ROOT` (#2253)
  .github/workflows/reusable-workflow-containers.yml
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-authorizer/CHANGELOG.md
  containers/daap-authorizer/Dockerfile
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/Dockerfile
  containers/daap-create-schema/CHANGELOG.md
  containers/daap-create-schema/Dockerfile
  containers/daap-delete-table-for-data-product/CHANGELOG.md
  containers/daap-delete-table-for-data-product/Dockerfile
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/Dockerfile
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-glue-metadata/Dockerfile
  containers/daap-get-schema/CHANGELOG.md
  containers/daap-get-schema/Dockerfile
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/Dockerfile
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/Dockerfile
  containers/daap-preview-data/CHANGELOG.md
  containers/daap-preview-data/Dockerfile
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/Dockerfile
  containers/daap-reload-data-product/CHANGELOG.md
  containers/daap-reload-data-product/Dockerfile
  containers/daap-resync-unprocessed-files/CHANGELOG.md
  containers/daap-resync-unprocessed-files/Dockerfile
  containers/daap-update-metadata/CHANGELOG.md
  containers/daap-update-metadata/Dockerfile
  containers/daap-update-schema/CHANGELOG.md
  containers/daap-update-schema/Dockerfile
Labels: github-workflow

fix get schema use DataProductSchema to fetch schema
  containers/daap-get-schema/src/var/task/get_schema.py
  containers/daap-get-schema/tests/unit/mock_test.py
Labels: none

Return text/plain preview instead of application/json
  containers/daap-preview-data/CHANGELOG.md
  containers/daap-preview-data/config.json
  containers/daap-preview-data/src/var/task/preview_data.py
  containers/daap-preview-data/tests/unit/mock_test.py
Labels: none

update version and changelog
  containers/daap-get-schema/CHANGELOG.md
  containers/daap-get-schema/config.json
Labels: none

Return text/plain preview instead of application/json (#2260)
  containers/daap-preview-data/CHANGELOG.md
  containers/daap-preview-data/config.json
  containers/daap-preview-data/src/var/task/preview_data.py
  containers/daap-preview-data/tests/unit/mock_test.py
Labels: none
