Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

correctly handle calls to write_json_to_s3 before validate() method ran on metadata
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

Renamed to reload data product
  containers/daap-reload-data-product/CHANGELOG.md
  containers/daap-reload-data-product/Dockerfile
  containers/daap-reload-data-product/config.json
  containers/daap-reload-data-product/src/var/task/reload_data_product.py
Labels: none

Refactor to use regex
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

linting
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

linting
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

Apply suggestions from code review
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

Update containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

Offboarding Bogdan
  terraform/github/data-platform/teams.tf
Labels: none

Offboarding Bogdan
  terraform/github/data-platform/teams.tf
Labels: none

lint
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

Update containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

Apply suggestions from code review
  containers/daap-reload-data-product/src/var/task/reload_data_product.py
Labels: none

Improve typing
  containers/daap-reload-data-product/src/var/task/reload_data_product.py
Labels: none

Ignore __pycache__
  .gitignore
Labels: none

Add a unit test for get glue metadata
  README.md
  containers/daap-get-glue-metadata/tests/requirements.txt
  containers/daap-get-glue-metadata/tests/unit/__init__.py
  containers/daap-get-glue-metadata/tests/unit/conftest.py
  containers/daap-get-glue-metadata/tests/unit/mock_test.py
Labels: documentation

🚑 Fix OIDC repository configuration (#1376)
  terraform/aws/analytical-platform/oidc/configuration/assumable-roles.json
  terraform/aws/analytical-platform/oidc/oidc-roles.tf
Labels: none

DMT-1239-airflow_dev_eksRole_role_211908c (#1370)
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
Labels: none

Offboarding Bogdan
  terraform/github/data-platform/teams.tf
Labels: none

add Matt
  terraform/github/data-platform/teams.tf
Labels: none

Dpl 1193 create metadata lambda (#1372)
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/Dockerfile
  containers/daap-create-metadata/config.json
  containers/daap-create-metadata/src/var/task/.dependabot-pip-ignore
  containers/daap-create-metadata/src/var/task/create_metadata.py
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/src/var/task/requirements.txt
Labels: none

add path for metadata container
  .github/path-filter/containers.yml
Labels: none

little change
  containers/daap-create-metadata/src/var/task/create_metadata.py
Labels: none

upversion image
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/config.json
Labels: none

lint
  containers/daap-create-metadata/src/var/task/create_metadata.py
Labels: none

Apply suggestions from code review
  terraform/github/data-platform/teams.tf
Labels: none

add path for metadata container (#1398)
  .github/path-filter/containers.yml
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/config.json
  containers/daap-create-metadata/src/var/task/create_metadata.py
Labels: none

directory structure changes
  terraform/aws/analytical-platform-data-production/airflow/files/dev/config
  terraform/aws/analytical-platform-data-production/airflow/files/prod/config
Labels: none

updated config file locations
  terraform/aws/analytical-platform-data-production/airflow/buckets.tf
Labels: none

Remove config & config_prof files
  terraform/aws/analytical-platform-data-production/airflow/files/config_prod
Labels: none

add Mat to AWS, remove hemesh (#1397)
  terraform/github/data-platform/teams.tf
Labels: none

Add airflow prod bucket associations (#1373)
  terraform/aws/analytical-platform-data-production/airflow/buckets.tf
  terraform/aws/analytical-platform-data-production/airflow/files/dev/config
  terraform/aws/analytical-platform-data-production/airflow/files/prod/config
Labels: none

:truck: Move kubeconfig -> kubeconfig_dev
  terraform/aws/analytical-platform-data-production/airflow/buckets.tf
Labels: none

:recycle: Refactor AWS Account ID to variable
  terraform/aws/analytical-platform-data-production/airflow/buckets.tf
Labels: none

:truck: Move kubeconfig -> kubeconfig_dev (#1399)
  terraform/aws/analytical-platform-data-production/airflow/buckets.tf
Labels: none

Add a workflow job to run tests
  .github/workflows/test-daap.yml
Labels: github-workflow

Handle 400 and 404 errors in get_glue_metadata
  containers/daap-get-glue-metadata/src/var/task/get_glue_metadata.py
  containers/daap-get-glue-metadata/tests/unit/mock_test.py
Labels: none

Add missing Content-Type header to get_glue_metadata lambda
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-glue-metadata/src/var/task/get_glue_metadata.py
  containers/daap-get-glue-metadata/tests/unit/mock_test.py
Labels: none

Bump version
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-glue-metadata/config.json
Labels: none

:construction: WIP
  terraform/aws/analytical-platform-data-production/airflow/network.tf
Labels: none

:construction: WIP - plan succeeding
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
  terraform/aws/analytical-platform-data-production/airflow/network.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
  terraform/aws/analytical-platform-data-production/airflow/variables.tf
Labels: none
