Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

Add missing changelog and remove redundant code
  containers/daap-authorizer/CHANGELOG.md
  containers/daap-authorizer/src/var/task/authorizer.py
Labels: none

Refactor athena load lambda to use shared paths module (#1469)
  .github/linters/.jscpd.json
  .github/path-filter/pytest.yml
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/create_raw_athena_table.py
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
  containers/daap-athena-load/tests/requirements.txt
  containers/daap-athena-load/tests/unit/__init__.py
  containers/daap-athena-load/tests/unit/athena_load_handler_test.py
  containers/daap-athena-load/tests/unit/conftest.py
  containers/daap-athena-load/tests/unit/create_curated_athena_table_test.py
  containers/daap-athena-load/tests/unit/create_raw_athena_table_test.py
  containers/daap-athena-load/tests/unit/infer_glue_schema_test.py
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

Generate pytest path filter config on the fly
  .github/path-filter/pytest.yml
  .github/workflows/test-daap.yml
  .gitignore
Labels: github-workflow

linting
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
Labels: none

Bump base image version in daap-get-glue-metadata
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-glue-metadata/Dockerfile
  containers/daap-get-glue-metadata/config.json
  containers/daap-get-glue-metadata/src/var/task/get_glue_metadata.py
  containers/daap-get-glue-metadata/tests/unit/conftest.py
  containers/daap-get-glue-metadata/tests/unit/mock_test.py
Labels: none

add github action access to role assume for eks dev
  terraform/aws/analytical-platform-data-production/airflow/files/dev/aws-auth-configmap.yaml
Labels: none

fix github action roles for eks aws-auth
  terraform/aws/analytical-platform-data-production/airflow/files/dev/aws-auth-configmap.yaml
Labels: none

move providers to terraform.tf
  terraform/aws/analytical-platform-data-production/airflow/providers.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tf
Labels: none

Add eks cluster kube resources (#1525)
  terraform/aws/analytical-platform-data-production/airflow/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/files/dev/aws-auth-configmap.yaml
  terraform/aws/analytical-platform-data-production/airflow/terraform.tf
Labels: none

Generate pytest path filter on demand & bump base image in daap-get-glue-metadata (#1524)
  .github/path-filter/pytest.yml
  .github/workflows/test-daap.yml
  .gitignore
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-glue-metadata/Dockerfile
  containers/daap-get-glue-metadata/config.json
  containers/daap-get-glue-metadata/src/var/task/get_glue_metadata.py
  containers/daap-get-glue-metadata/tests/unit/conftest.py
  containers/daap-get-glue-metadata/tests/unit/mock_test.py
Labels: github-workflow

Upgrade to latest logging package
  containers/daap-reload-data-product/Dockerfile
  containers/daap-reload-data-product/src/var/task/reload_data_product.py
Labels: none

Add tests for reload_data_product
  containers/daap-reload-data-product/CHANGELOG.md
  containers/daap-reload-data-product/config.json
  containers/daap-reload-data-product/src/var/task/reload_data_product.py
  containers/daap-reload-data-product/tests/requirements.txt
  containers/daap-reload-data-product/tests/unit/__init__.py
  containers/daap-reload-data-product/tests/unit/conftest.py
  containers/daap-reload-data-product/tests/unit/reload_data_product_test.py
Labels: none

Add unit tests for reload_data_product (#1523)
  containers/daap-reload-data-product/CHANGELOG.md
  containers/daap-reload-data-product/Dockerfile
  containers/daap-reload-data-product/config.json
  containers/daap-reload-data-product/src/var/task/reload_data_product.py
  containers/daap-reload-data-product/tests/requirements.txt
  containers/daap-reload-data-product/tests/unit/__init__.py
  containers/daap-reload-data-product/tests/unit/conftest.py
  containers/daap-reload-data-product/tests/unit/reload_data_product_test.py
Labels: none

properly sort semantic versioning
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

more data_product_metadata unit tests
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

updated changelog and config
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: none

debug dependabot linter
  terraform/aws/analytical-platform/oidc/oidc-roles.tf
Labels: none

linting
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

linting
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

remove commented out code
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

Data Platform overview rewrite (#1333)
  docs/source/documentation/platform/introduction/index.html.md.erb
Labels: documentation

Dlp metadata minor change plus more tests (#1547)
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

Excluding DaaP's Python based images from Dependabot
  .github/dependabot.yml
Labels: none

updated logging in athena load lambda
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/create_raw_athena_table.py
Labels: none

update daap-athena-load config and changelog
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
Labels: none

update base image version
  containers/daap-athena-load/Dockerfile
Labels: none

updated logger in daap-create-metadata
  containers/daap-create-metadata/src/var/task/create_metadata.py
Labels: none

update changelog, config and dockerfile for daap-create-metadata
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/Dockerfile
  containers/daap-create-metadata/config.json
Labels: none

update logger in daap-presigned-url
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

update config, changelog and dockerfile for daap-presigned-url
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/Dockerfile
  containers/daap-presigned-url/config.json
Labels: none

three namespace added
  terraform/aws/analytical-platform-data-production/airflow/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
Labels: none

three namespace added (#1551)
  terraform/aws/analytical-platform-data-production/airflow/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
Labels: none

fix athena load tests
  containers/daap-athena-load/tests/unit/create_curated_athena_table_test.py
  containers/daap-athena-load/tests/unit/create_raw_athena_table_test.py
Labels: none

add moto to presignedurl tests reqs
  containers/daap-presigned-url/tests/requirements.txt
Labels: none

lint
  containers/daap-create-metadata/src/var/task/create_metadata.py
Labels: none

Added unit test
  containers/daap-resync-unprocessed-files/Dockerfile
  containers/daap-resync-unprocessed-files/tests/requirements.txt
  containers/daap-resync-unprocessed-files/tests/unit/__init__.py
  containers/daap-resync-unprocessed-files/tests/unit/conftest.py
Labels: none

Updated config file
  containers/daap-resync-unprocessed-files/config.json
Labels: none

add dependabot ignore files for daap
  containers/daap-athena-load/.dependabot-docker-ignore
  containers/daap-athena-load/tests/.dependabot-pip-ignore
  containers/daap-authorizer/.dependabot-docker-ignore
  containers/daap-create-metadata/.dependabot-docker-ignore
  containers/daap-docs/.dependabot-docker-ignore
  containers/daap-get-glue-metadata/.dependabot-docker-ignore
  containers/daap-get-glue-metadata/tests/.dependabot-pip-ignore
  containers/daap-presigned-url/.dependabot-docker-ignore
  containers/daap-presigned-url/tests/.dependabot-pip-ignore
  containers/daap-python-base/.dependabot-docker-ignore
  containers/daap-python-base/tests/.dependabot-pip-ignore
  containers/daap-reload-data-product/.dependabot-docker-ignore
  containers/daap-reload-data-product/tests/.dependabot-pip-ignore
  containers/daap-resync-unprocessed-files/.dependabot-docker-ignore
  containers/daap-simulated-data-producer/.dependabot-docker-ignore
Labels: none

add generated yaml
  .github/dependabot.yml
Labels: none

fixed unit test error
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"
