Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

fix code block (#1154)
  docs/source/documentation/team/developing.html.md.erb
Labels: documentation

📦 Add GitHub Container Registry (#1028)
  .github/workflows/containers.yml
  .github/workflows/reusable-workflow-containers.yml
  docs/source/documentation/platform/infrastructure/containers.html.md.erb
Labels: documentation, github-workflow

Push to GHCR
  containers/daap-python-base/config.json
Labels: none

Add imageTag
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

Add Skopeo for GHCR
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

Update GHCR check
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

Update image name reference
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

if image doesn't exist, add to GITHUB_ENV
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

Update CHANGELOG
  containers/daap-python-base/CHANGELOG.md
Labels: none

📦 Push DaaP Python Base to GHCR (#1155)
  .github/workflows/reusable-workflow-containers.yml
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: github-workflow

hottest fix
  .github/workflows/reusable-workflow-containers.yml
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: github-workflow

hottest fix (#1156)
  .github/workflows/reusable-workflow-containers.yml
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: github-workflow

add data-platform component so teams are added to new repos
  .github/workflows/configuration-workflow-terraform.yml
Labels: github-workflow

Add additional repos for ECR
  terraform/aws/analytical-platform/oidc/locals.tf
Labels: none

add data-platform component so teams are added to new repos (#1158)
  .github/workflows/configuration-workflow-terraform.yml
Labels: github-workflow

add oidc component so oidc connections are updated for app repos
  .github/workflows/configuration-workflow-terraform.yml
Labels: github-workflow

Remove unecessary repos
  terraform/aws/analytical-platform/oidc/locals.tf
Labels: none

add oidc component so oidc connections are updated for app repos (#1160)
  .github/workflows/configuration-workflow-terraform.yml
Labels: github-workflow

sort json to trigger tf plan and apply update
  configuration/ap_migration_apps.json
Labels: none

sort json to trigger tf plan and apply update (#1161)
  configuration/ap_migration_apps.json
Labels: none

pd-865 check data product exists
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/config.json
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

dp-865 reinstate md5 hash check
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

Add additional repo for ECR (#1159)
  terraform/aws/analytical-platform/oidc/locals.tf
Labels: none

ANPL-1698 Create MQ on product env for cpanel
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/data.tf
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/iam-policies.tf
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/locals.tf
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/outputs.tf
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/sqs.tf
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/terraform.tf
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/terraform.tfvars
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/variables.tf
  terraform/aws/analytical-platform-production/cluster/data.tf
  terraform/aws/analytical-platform-production/cluster/iam-policies.tf
  terraform/aws/analytical-platform-production/cluster/iam-roles.tf
  terraform/aws/analytical-platform-production/cluster/terraform.tf
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
  terraform/aws/analytical-platform-production/cluster/variables.tf
Labels: none

format change
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/terraform.tfvars
Labels: none

attempt to see whether it makes different
  terraform/aws/analytical-platform-production/cluster/iam-roles.tf
Labels: none

Changed the format
  terraform/github/data-platform/teams.tf
Labels: none

Off board Louise :( (#1135)
  terraform/github/data-platform/teams.tf
Labels: none

Update containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/CHANGELOG.md
Labels: none

run super-linter locally
  .github/super-linter.env
  .github/workflows/repository-github-super-linter.yml
  scripts/super-linter/local-linter.sh
Labels: github-workflow

Update script and env
  .github/super-linter.env
  scripts/super-linter/local-linter.sh
Labels: none

Fixed trailing whitespace
  containers/daap-presigned-url/CHANGELOG.md
Labels: none

Fixed line length
  containers/daap-presigned-url/CHANGELOG.md
Labels: none

Added a get to list objects json
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

Update terraform/aws/analytical-platform-data-production/control-panel-message-broker/terraform.tfvars
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/terraform.tfvars
Labels: none

Update terraform/aws/analytical-platform-production/cluster/iam-roles.tf
  terraform/aws/analytical-platform-production/cluster/iam-roles.tf
Labels: none

Dp 865 (#1162)
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/config.json
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

try again
  terraform/aws/analytical-platform-production/cluster/iam-roles.tf
Labels: none

add remaining apps to migration flow
  configuration/ap_migration_apps.json
Labels: none

add remaining apps to migration flow (#1169)
  configuration/ap_migration_apps.json
Labels: none

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"
