Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

:white_check_mark: Update tests
  containers/daap-delete-table-for-data-product/tests/unit/conftest.py
  containers/daap-delete-table-for-data-product/tests/unit/mock_test.py
  containers/daap-python-base/tests/unit/conftest.py
  containers/daap-python-base/tests/unit/versioning_test.py
Labels: none

:memo: Update change logs and version files
  containers/daap-delete-table-for-data-product/tests/unit/conftest.py
  containers/daap-delete-table-for-data-product/tests/unit/mock_test.py
  containers/daap-python-base/tests/unit/versioning_test.py
Labels: none

add DPL as members of AP DE sandbox teams
  terraform/github/analytical-platform-teams.tf
Labels: none

Adding PR trigger for testing,
  .github/workflows/trivy.yml
Labels: github-workflow

attempt trivy sarif bug workaround
  .github/workflows/trivy.yml
Labels: github-workflow

🚑 Remove audit-and-security from Modernisation Platform teams (#2464)
  terraform/github/data-platform-teams.tf
Labels: none

:technologist: Add user dotfile functionality (#2463)
  .devcontainer/devcontainer.json
Labels: devcontainer

:recycle: Add database versioning support (#2468)
  containers/daap-delete-data-product/CHANGELOG.md
  containers/daap-delete-data-product/config.json
  containers/daap-delete-data-product/src/var/task/delete_data_product.py
  containers/daap-delete-data-product/tests/unit/conftest.py
  containers/daap-delete-data-product/tests/unit/mock_test.py
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/glue_and_athena_utils.py
Labels: none

syncronise upversion
  containers/daap-python-base/config.json
Labels: none

fix KeyError if new field added to metadata as part of update (#2462)
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/versioning_test.py
Labels: none

:memo: Update Changelog
  containers/daap-python-base/CHANGELOG.md
Labels: none

:memo: Update to include dotfile information (#2466)
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
Labels: documentation

Created copy_and_remove function
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
Labels: none

Bumped container version
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/config.json
Labels: none

Removed unused variable
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
Labels: none

:recycle: Add glue utility functions
  containers/daap-python-base/src/var/task/glue_and_athena_utils.py
  containers/daap-python-base/src/var/task/versioning.py
Labels: none

Remove Alex Vilela
  terraform/github/data-engineering-teams.tf
  terraform/github/data-platform-teams.tf
  terraform/pagerduty/schedules.tf
  terraform/pagerduty/teams.tf
  terraform/pagerduty/users.tf
Labels: none

:pushpin: Update python base version
  containers/daap-delete-data-product/CHANGELOG.md
  containers/daap-delete-data-product/Dockerfile
  containers/daap-delete-data-product/config.json
Labels: none

Update containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
Labels: none

:pushpin: Update python base version (#2493)
  containers/daap-delete-data-product/CHANGELOG.md
  containers/daap-delete-data-product/Dockerfile
  containers/daap-delete-data-product/config.json
Labels: none

Created copy_and_remove function (#2491)
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/config.json
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
Labels: none

Add GitHub and PagerDuty joining docs
  docs/source/documentation/team/joining-our-teams.html.md.erb
Labels: documentation

📝 Add GitHub and PagerDuty joining docs (#2494)
  docs/source/documentation/team/joining-our-teams.html.md.erb
Labels: documentation

👋 Remove Alex Vilela (#2492)
  terraform/github/data-engineering-teams.tf
  terraform/github/data-platform-teams.tf
  terraform/pagerduty/schedules.tf
  terraform/pagerduty/teams.tf
  terraform/pagerduty/users.tf
Labels: none

add DPL as members of AP DE sandbox teams (#2487)
  terraform/github/analytical-platform-teams.tf
Labels: none

from suggestions - remove comment and bracket argument
  containers/daap-python-base/src/var/task/curated_data/curated_data_loader.py
Labels: none

get existing unit test working
  containers/daap-python-base/src/var/task/versioning.py
  containers/daap-python-base/tests/unit/conftest.py
  containers/daap-python-base/tests/unit/versioning_test.py
Labels: none

:sparkles: Introduce delete data product docs
  containers/daap-docs/src/var/task/swagger.json
Labels: none

:bookmark: Update changelog and version file to v1.0.14
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
Labels: none

fix tests again
  containers/daap-python-base/tests/unit/versioning_test.py
Labels: none

:sparkles: Introduce delete data product docs (#2495)
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: none

move schema writes to versioning and return a copy response
  containers/daap-python-base/src/var/task/curated_data/curated_data_loader.py
  containers/daap-python-base/src/var/task/versioning.py
Labels: none

fix existing tests again
  containers/daap-python-base/src/var/task/versioning.py
  containers/daap-python-base/tests/unit/versioning_test.py
Labels: none

Add DPAT EKS CADT
  scripts/eks/terraform-authentication.sh
  terraform/dpat-eks/production/github-actions/create-a-derived-table/data.tf
  terraform/dpat-eks/production/github-actions/create-a-derived-table/terraform.tf
  terraform/dpat-eks/production/github-actions/create-a-derived-table/terraform.tfvars
  terraform/dpat-eks/production/github-actions/create-a-derived-table/variables.tf
Labels: none

Fix tflint
  terraform/dpat-eks/production/github-actions/create-a-derived-table/terraform.tf
Labels: none

Disable issues and projects in data-platform-control-panel repo
  terraform/github/data-platform-repositories.tf
Labels: none

Disable issues and projects in data-platform-control-panel repo (#2499)
  terraform/github/data-platform-repositories.tf
Labels: none

more appropriate name for validate
  containers/daap-python-base/src/var/task/curated_data/curated_data_loader.py
Labels: none

add new unit tests for `CuratedDataCopier` class
  containers/daap-python-base/tests/unit/curated_data/test_curated_data_query_builder.py
  containers/daap-python-base/tests/unit/versioning_test.py
Labels: none

changelog and config update
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: none

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"
