Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

updated resource ref
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-roles.tf
Labels: none

terraform fmt update
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-roles.tf
Labels: none

add derived data as a loop
  docs/source/documentation/diagrams/c4-model-level1.excalidraw.png
Labels: documentation

Generated TF lock Renamed files Updated policy ARN
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/data.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-catalogs.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawlers.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-policies.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-roles.tf
Labels: none

Bumped provider to 5.7.0
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/terraform.tf
Labels: none

Add k8s resources
  terraform/aws/analytical-platform-development/cluster/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/cluster/kubernetes-namespaces.tf
  terraform/aws/analytical-platform-development/cluster/kubernetes-role-bindings.tf
  terraform/aws/analytical-platform-development/cluster/kubernetes-roles.tf
  terraform/aws/analytical-platform-development/cluster/kubernetes-services-accounts.tf
  terraform/aws/analytical-platform-development/cluster/terraform.tf
  terraform/aws/analytical-platform-development/cluster/terraform.tfvars
Labels: none

🔀 Add IAM role and create Glue Crawler task (#790)
  .github/dependabot.yml
  .github/workflows/terraform-aws-analytical-platform-data-production-s3-data-crawler.yml
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/data.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-catalogs.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawlers.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-policies.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-roles.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/terraform.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/terraform.tfvars
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/variables.tf
Labels: github-workflow

🔀 ❇️ Add version as a build argument (#781)
  .github/workflows/reusable-workflow-containers.yml
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/config.json
Labels: github-workflow

📐 arrange arrows and change case
  docs/source/documentation/diagrams/c4-model-level1.excalidraw.png
Labels: documentation

enable alert_manager
  terraform/pagerduty/modules/service/technical/main.tf
  terraform/pagerduty/technical-services.tf
  vendor.sh
Labels: none

linter
  terraform/pagerduty/modules/service/technical/main.tf
  terraform/pagerduty/technical-services.tf
  vendor.sh
Labels: none

add derived data proposal C - both users (#798)
  docs/source/documentation/diagrams/c4-model-level1.excalidraw.png
Labels: documentation

spelling error
  terraform/pagerduty/technical-services.tf
Labels: none

enable integration
  terraform/pagerduty/modules/service/technical/outputs.tf
  terraform/pagerduty/modules/service/technical/variables.tf
  terraform/pagerduty/technical-services.tf
Labels: none

change vendor name
  terraform/pagerduty/modules/service/technical/main.tf
Labels: none

linter
  terraform/pagerduty/modules/service/technical/outputs.tf
  terraform/pagerduty/modules/service/technical/variables.tf
  vendor.sh
Labels: none

pr change requests
  scripts/pagerduty/vendor.sh
  terraform/pagerduty/modules/service/technical/main.tf
  terraform/pagerduty/technical-services.tf
Labels: none

linter spacing
  terraform/pagerduty/technical-services.tf
Labels: none

📝 update review dates
  docs/source/documentation/adrs/adr-001-use-cloud-platform-for-hosting-infrastructure.html.md.erb
  docs/source/documentation/adrs/adr-002-use-moderisation-platform-for-hosting-infrastructure-not-suitable-for-cloud-platform.html.md.erb
  docs/source/documentation/adrs/adr-003-use-azuread-for-identity-and-access-management.html.md.erb
  docs/source/documentation/adrs/adr-004-data-should-be-pushed-into-data-products.html.md.erb
  docs/source/documentation/platform/index.html.md.erb
  docs/source/documentation/platform/introduction/index.html.md.erb
Labels: documentation

remove from service
  terraform/pagerduty/technical-services.tf
Labels: none

linter spacing
  terraform/pagerduty/technical-services.tf
Labels: none

enable alert_manager (#816)
  scripts/pagerduty/vendor.sh
  terraform/pagerduty/modules/service/technical/main.tf
  terraform/pagerduty/modules/service/technical/outputs.tf
  terraform/pagerduty/modules/service/technical/variables.tf
  terraform/pagerduty/technical-services.tf
Labels: none

Add overrideFeatureInstallOrder to fix install
  .devcontainer/platform-engineering/devcontainer.json
Labels: devcontainer

Add overrideFeatureInstallOrder to fix install (#821)
  .devcontainer/platform-engineering/devcontainer.json
Labels: devcontainer

Bumps RDS module version Use new RDS secret ARN output Bump Terraform version
  .github/workflows/terraform-aws-analytical-platform-development-open-metadata.yml
  terraform/aws/analytical-platform-development/open-metadata/data.tf
  terraform/aws/analytical-platform-development/open-metadata/rds.tf
Labels: github-workflow

🔀 Bumps RDS module version (#822)
  .github/workflows/terraform-aws-analytical-platform-development-open-metadata.yml
  terraform/aws/analytical-platform-development/open-metadata/data.tf
  terraform/aws/analytical-platform-development/open-metadata/rds.tf
Labels: github-workflow

Add Airflow resources in data production
  terraform/aws/analytical-platform-data-production/airflow/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/airflow/data.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
  terraform/aws/analytical-platform-data-production/airflow/variables.tf
  terraform/aws/analytical-platform-development/cluster/kubernetes-services-accounts.tf
Labels: none

📝 update review dates (#818)
  docs/source/documentation/adrs/adr-001-use-cloud-platform-for-hosting-infrastructure.html.md.erb
  docs/source/documentation/adrs/adr-002-use-moderisation-platform-for-hosting-infrastructure-not-suitable-for-cloud-platform.html.md.erb
  docs/source/documentation/adrs/adr-003-use-azuread-for-identity-and-access-management.html.md.erb
  docs/source/documentation/adrs/adr-004-data-should-be-pushed-into-data-products.html.md.erb
  docs/source/documentation/platform/index.html.md.erb
  docs/source/documentation/platform/introduction/index.html.md.erb
Labels: documentation

Imported OpenID connect provider
  terraform/aws/analytical-platform-data-production/airflow/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/airflow/data.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-openid-connect-providers.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tf
Labels: none

Remove Bogdan Update docs
  docs/source/documentation/team/ways-of-working.html.md.erb
  terraform/pagerduty/schedules.tf
  terraform/pagerduty/teams.tf
  terraform/pagerduty/users.tf
Labels: documentation

Bump PD provider
  terraform/pagerduty/.terraform.lock.hcl
  terraform/pagerduty/terraform.tf
Labels: none

🔀 📝 Update PagerDuty documentation and remove user (#835)
  docs/source/documentation/team/ways-of-working.html.md.erb
  terraform/pagerduty/.terraform.lock.hcl
  terraform/pagerduty/schedules.tf
  terraform/pagerduty/teams.tf
  terraform/pagerduty/terraform.tf
  terraform/pagerduty/users.tf
Labels: documentation

update syntax
  terraform/aws/analytical-platform-data-production/airflow/data.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-openid-connect-providers.tf
Labels: none

ITS ALIVE
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
Labels: none

Adding victims-bill-consultation app
  configuration/ap_migration_apps.json
Labels: none

Updating value for iam role lookup to source repo name.
  terraform/application-migration/app-role-trusts.tf
Labels: none

Passing role name via role_name_suffix instead.
  configuration/ap_migration_apps.json
  terraform/application-migration/app-role-trusts.tf
Labels: none

Adding victims-bill-consultation app
  configuration/ap_migration_apps.json
Labels: none

Passing role name via role_name_suffix instead.
  configuration/ap_migration_apps.json
  terraform/application-migration/app-role-trusts.tf
Labels: none

Updating value for iam role lookup to source repo name.
  terraform/application-migration/app-role-trusts.tf
Labels: none

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"
