Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - changed-files:
    - any-glob-to-any-file: "docs/*"
    - any-glob-to-any-file: "README.md"

github-workflow:
  - changed-files:
    - any-glob-to-any-file: ".github/workflows/**"

identity-access-management:
  - changed-files:
    - any-glob-to-any-file: "terraform/github/*teams.tf"

devcontainer:
  - changed-files:
    - any-glob-to-any-file: ".devcontainer/**"

skip CKV_TF_1 dev cluster (#2664)
  terraform/aws/analytical-platform-data-engineering-production/10ds/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-engineering-production/10ds/ec2-instances.tf
  terraform/aws/analytical-platform-data-engineering-production/10ds/security-groups.tf
  terraform/aws/analytical-platform-data-engineering-production/10ds/vpc.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
  terraform/aws/analytical-platform-development/cluster/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
  terraform/aws/analytical-platform-development/cluster/iam-roles.tf
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
  terraform/aws/analytical-platform-development/cluster/rds.tf
  terraform/aws/analytical-platform-development/cluster/redis.tf
  terraform/aws/analytical-platform-development/cluster/vpc.tf
  terraform/aws/analytical-platform-management-production/cluster/.terraform.lock.hcl
  terraform/aws/analytical-platform-management-production/cluster/eks-cluster.tf
  terraform/aws/analytical-platform-management-production/cluster/iam-roles.tf
  terraform/aws/analytical-platform-management-production/cluster/vpc.tf
  terraform/aws/analytical-platform-production/cluster/.terraform.lock.hcl
  terraform/aws/analytical-platform-production/cluster/eks-cluster.tf
  terraform/aws/analytical-platform-production/cluster/iam-roles.tf
  terraform/aws/analytical-platform-production/cluster/rds.tf
  terraform/aws/analytical-platform-production/cluster/redis.tf
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
  terraform/aws/analytical-platform-production/cluster/vpc.tf
  terraform/aws/analytical-platform/oidc/iam-roles.tf
  terraform/aws/analytical-platform/oidc/oidc-providers.tf
  terraform/aws/analytical-platform/oidc/oidc-roles.tf
Labels: none

Remove parent teams Remove data-platform-observability-platform team
  terraform/github/analytical-platform-teams.tf
  terraform/github/data-platform-teams.tf
Labels: identity-access-management

change all the hard-coded to variable and fix placeholder
  containers/jml-extract-lambda/src/var/task/new_handler.py
Labels: none

fix the flask8 error
  containers/jml-extract-lambda/src/var/task/new_handler.py
Labels: none

♻️ Refactor to remove parent team structure (#2706)
  terraform/github/analytical-platform-teams.tf
  terraform/github/data-platform-teams.tf
Labels: identity-access-management

yeet Tom
  terraform/github/analytical-platform-teams.tf
Labels: identity-access-management

delete the new file correct the old one
  containers/jml-extract-lambda/src/var/task/handler.py
  containers/jml-extract-lambda/src/var/task/new_handler.py
Labels: none

fix super-linter
  containers/jml-extract-lambda/src/var/task/handler.py
Labels: none

yeet Tom
  terraform/github/analytical-platform-teams.tf
Labels: identity-access-management

fix super-linter
  containers/jml-extract-lambda/src/var/task/handler.py
Labels: none

super-linter correction
  containers/jml-extract-lambda/src/var/task/handler.py
Labels: none

add new line to make happy super-linter
  containers/jml-extract-lambda/src/var/task/handler.py
Labels: none

Update docs publishing
  .github/workflows/documentation.yml
  scripts/docs/docker.sh
Labels: github-workflow

Add note for enable Rosetta Fix Cloud Platform login link
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
Labels: none

📌 Update tech-docs (#2708)
  .github/workflows/documentation.yml
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
  scripts/docs/docker.sh
Labels: github-workflow

:busts_in_silhouette: Add Parminder
  terraform/github/data-engineering-teams.tf
Labels: identity-access-management

this doesn't work yet
  terraform/github/analytical-platform-teams.tf
  terraform/github/configuration/data-engineering-access.json
  terraform/github/data-engineering-teams.tf
Labels: identity-access-management

Sets @calumabarnett as code owner for DE access control Update members logic for teams that DE user Update data-platform repo to use DE team from data source
  .github/CODEOWNERS
  terraform/github/analytical-platform-teams.tf
  terraform/github/configuration/data-engineering-access.json
  terraform/github/data-engineering-teams.tf
  terraform/github/data-platform-repositories.tf
  terraform/github/data.tf
Labels: identity-access-management

Remove unused data source
  terraform/github/data.tf
Labels: none

🛂 Data Engineering AWS access (#2712)
  .github/CODEOWNERS
  terraform/github/analytical-platform-teams.tf
  terraform/github/configuration/data-engineering-access.json
  terraform/github/data-engineering-teams.tf
  terraform/github/data-platform-repositories.tf
  terraform/github/data.tf
Labels: identity-access-management

grant sean AP access
  terraform/github/analytical-platform-teams.tf
Labels: identity-access-management

linter
  terraform/github/analytical-platform-teams.tf
Labels: identity-access-management

amend access
  terraform/github/analytical-platform-teams.tf
  terraform/github/configuration/data-engineering-access.json
Labels: identity-access-management

grant sean AP access (#2725)
  terraform/github/configuration/data-engineering-access.json
Labels: none

Remove Sean from DE access config Add Sean to Labs team
  terraform/github/configuration/data-engineering-access.json
  terraform/github/data-platform-teams.tf
Labels: identity-access-management

Add Sean to AP administrator teams
  terraform/github/analytical-platform-teams.tf
Labels: identity-access-management

Extending Parminder's AWS access
  terraform/github/configuration/data-engineering-access.json
Labels: none

Removing trailing ,
  terraform/github/configuration/data-engineering-access.json
Labels: none

Update Parminder in data-engineering-access.json
  terraform/github/configuration/data-engineering-access.json
Labels: none

Adds Sean back to DE access
  terraform/github/configuration/data-engineering-access.json
Labels: none

Adds Sean to AP accounts
  terraform/github/analytical-platform-teams.tf
Labels: identity-access-management

Revert "terraform(deps): bump hashicorp/aws in /terraform/pagerduty"
  terraform/pagerduty/.terraform.lock.hcl
  terraform/pagerduty/terraform.tf
Labels: none

Extending Parminder's AWS access (#2730)
  terraform/github/configuration/data-engineering-access.json
Labels: none

Update alpine-base Remove kubectl Update Dependabot configuration generator
  .github/dependabot.yml
  containers/alpine-base/CHANGELOG.md
  containers/alpine-base/Dockerfile
  containers/alpine-base/config.json
  containers/kubectl/CHANGELOG.md
  containers/kubectl/Dockerfile
  containers/kubectl/config.json
  scripts/dependabot/configuration-generator.sh
Labels: none

kubectl lives to see another day
  containers/kubectl/CHANGELOG.md
  containers/kubectl/Dockerfile
  containers/kubectl/config.json
Labels: none

Update CHANGELOG and config
  containers/kubectl/CHANGELOG.md
  containers/kubectl/config.json
Labels: none

Add Dependabot Docker workflow
  .github/workflows/repository-dependabot-docker.yml
Labels: github-workflow

⛰️ Update Alpine to 3.19.0 (#2733)
  .github/dependabot.yml
  .github/workflows/repository-dependabot-docker.yml
  containers/alpine-base/CHANGELOG.md
  containers/alpine-base/Dockerfile
  containers/alpine-base/config.json
  containers/kubectl/CHANGELOG.md
  containers/kubectl/Dockerfile
  containers/kubectl/config.json
  scripts/dependabot/configuration-generator.sh
Labels: github-workflow
