Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

bump python and libraries versions
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/requirements.txt
Labels: none

appeasing the trash panda
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

add authorizer and presigne-url containers
  .github/workflows/path-filter/containers.yml
  containers/daap-authorizer/CHANGELOG.md
  containers/daap-authorizer/Dockerfile
  containers/daap-authorizer/config.json
  containers/daap-authorizer/src/var/task/authorizer.py
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/Dockerfile
  containers/daap-presigned-url/config.json
  containers/daap-presigned-url/src/var/task/presigned_url.py
  containers/daap-presigned-url/src/var/task/requirements.txt
Labels: github-workflow

bump python and libraries versions
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/requirements.txt
Labels: none

bump boto3 and botocore versions
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-glue-metadata/src/var/task/requirements.txt
  containers/daap-presigned-url/src/var/task/requirements.txt
Labels: none

appeasing the trash panda
  containers/daap-authorizer/src/var/task/authorizer.py
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

set labels for Terraform
  .github/dependabot.yml
  scripts/dependabot/configuration-generator.sh
Labels: none

labelled wrong thing
  .github/dependabot.yml
  scripts/dependabot/configuration-generator.sh
Labels: none

Fixed an issue with python folders
  .github/dependabot.yml
  scripts/dependabot/configuration-generator.sh
Labels: none

add lambda containers and bump python nad libraries versions
  .github/workflows/path-filter/containers.yml
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/requirements.txt
  containers/daap-authorizer/CHANGELOG.md
  containers/daap-authorizer/Dockerfile
  containers/daap-authorizer/config.json
  containers/daap-authorizer/src/var/task/authorizer.py
  containers/daap-get-glue-metadata/Dockerfile
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/Dockerfile
  containers/daap-presigned-url/config.json
  containers/daap-presigned-url/src/var/task/presigned_url.py
  containers/daap-presigned-url/src/var/task/requirements.txt
Labels: github-workflow

add lambda containers and bump python nad libraries versions (#907)
  .github/dependabot.yml
  .github/workflows/path-filter/containers.yml
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/requirements.txt
  containers/daap-authorizer/CHANGELOG.md
  containers/daap-authorizer/Dockerfile
  containers/daap-authorizer/config.json
  containers/daap-authorizer/src/var/task/authorizer.py
  containers/daap-get-glue-metadata/Dockerfile
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/Dockerfile
  containers/daap-presigned-url/config.json
  containers/daap-presigned-url/src/var/task/presigned_url.py
  containers/daap-presigned-url/src/var/task/requirements.txt
Labels: github-workflow

Fixed an issue with python folders
  .github/dependabot.yml
  scripts/dependabot/configuration-generator.sh
Labels: none

set labels for Terraform
  .github/dependabot.yml
  scripts/dependabot/configuration-generator.sh
Labels: none

labelled wrong thing
  .github/dependabot.yml
  scripts/dependabot/configuration-generator.sh
Labels: none

Update script Regen config
  .github/dependabot.yml
  scripts/dependabot/configuration-generator.sh
Labels: none

Update script (#908)
  .github/dependabot.yml
  scripts/dependabot/configuration-generator.sh
Labels: none

Add ACM certificate Add RDS Add k8s namespace Add k8s secret
  terraform/aws/analytical-platform-development/open-metadata/certificates.tf
  terraform/aws/analytical-platform-development/open-metadata/data.tf
  terraform/aws/analytical-platform-development/open-metadata/helm-charts.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-namespace.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-secrets.tf
  terraform/aws/analytical-platform-development/open-metadata/locals.tf
  terraform/aws/analytical-platform-development/open-metadata/rds.tf
  terraform/aws/analytical-platform-development/open-metadata/src/helm/coder/values.yml.tftpl
Labels: none

Add parameter to RDS Update Helm chart version
  terraform/aws/analytical-platform-development/open-metadata/helm-charts.tf
  terraform/aws/analytical-platform-development/open-metadata/rds.tf
Labels: none

Remove from OMD component
  terraform/aws/analytical-platform-development/open-metadata/certificates.tf
  terraform/aws/analytical-platform-development/open-metadata/data.tf
  terraform/aws/analytical-platform-development/open-metadata/helm-charts.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-namespace.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-secrets.tf
  terraform/aws/analytical-platform-development/open-metadata/locals.tf
  terraform/aws/analytical-platform-development/open-metadata/rds.tf
  terraform/aws/analytical-platform-development/open-metadata/src/helm/coder/values.yml.tftpl
Labels: none

Add deployed code
  .github/dependabot.yml
  .github/workflows/path-filter/terraform.yml
  terraform/aws/analytical-platform-development/firebreak-coder/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/firebreak-coder/acm-certificates.tf
  terraform/aws/analytical-platform-development/firebreak-coder/data.tf
  terraform/aws/analytical-platform-development/firebreak-coder/helm-releases.tf
  terraform/aws/analytical-platform-development/firebreak-coder/kubernetes-namespaces.tf
  terraform/aws/analytical-platform-development/firebreak-coder/kubernetes-secrets.tf
  terraform/aws/analytical-platform-development/firebreak-coder/locals.tf
  terraform/aws/analytical-platform-development/firebreak-coder/random.tf
  terraform/aws/analytical-platform-development/firebreak-coder/rds-instances.tf
  terraform/aws/analytical-platform-development/firebreak-coder/route53-records.tf
  terraform/aws/analytical-platform-development/firebreak-coder/security-groups.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/helm/coder/values.yml.tftpl
  terraform/aws/analytical-platform-development/firebreak-coder/terraform.tf
  terraform/aws/analytical-platform-development/firebreak-coder/terraform.tfvars
  terraform/aws/analytical-platform-development/firebreak-coder/variables.tf
Labels: github-workflow

Add SSO
  terraform/aws/analytical-platform-development/firebreak-coder/data.tf
  terraform/aws/analytical-platform-development/firebreak-coder/helm-releases.tf
  terraform/aws/analytical-platform-development/firebreak-coder/kubernetes-secrets.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/helm/coder/values.yml.tftpl
Labels: none

remove coder
  .github/workflows/path-filter/terraform.yml
Labels: github-workflow

Add coder deployment
  terraform/aws/analytical-platform-development/firebreak-coder/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/firebreak-coder/acm-certificates.tf
  terraform/aws/analytical-platform-development/firebreak-coder/data.tf
  terraform/aws/analytical-platform-development/firebreak-coder/helm-releases.tf
  terraform/aws/analytical-platform-development/firebreak-coder/kubernetes-namespaces.tf
  terraform/aws/analytical-platform-development/firebreak-coder/kubernetes-secrets.tf
  terraform/aws/analytical-platform-development/firebreak-coder/locals.tf
  terraform/aws/analytical-platform-development/firebreak-coder/random.tf
  terraform/aws/analytical-platform-development/firebreak-coder/rds-instances.tf
  terraform/aws/analytical-platform-development/firebreak-coder/route53-records.tf
  terraform/aws/analytical-platform-development/firebreak-coder/security-groups.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/helm/coder/values.yml.tftpl
  terraform/aws/analytical-platform-development/firebreak-coder/terraform.tf
  terraform/aws/analytical-platform-development/firebreak-coder/terraform.tfvars
  terraform/aws/analytical-platform-development/firebreak-coder/variables.tf
Labels: none

Switch to DATA_PLATFORM_ROBOT_TOKEN
  .github/workflows/repository-containers-path-filter-generator.yml
  .github/workflows/repository-dependabot-configuration-generator.yml
  .github/workflows/repository-pull-request-assigner.yml
  .github/workflows/repository-pull-request-labeler.yml
  .github/workflows/repository-staler.yml
  .github/workflows/repository-terraform-path-filter-generator.yml
Labels: github-workflow

Committing updated path-filter configuration
  .github/workflows/path-filter/terraform.yml
Labels: github-workflow

Revert labeler
  .github/workflows/repository-pull-request-labeler.yml
Labels: github-workflow

skipping Checkov rules
  terraform/aws/analytical-platform-development/firebreak-coder/rds-instances.tf
  terraform/aws/analytical-platform-development/firebreak-coder/security-groups.tf
Labels: none

Add kubernetes template Add upload instructions
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/README.md
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/README.md
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/coder-agent.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/coder-app.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/data.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/kubernetes-pod.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/kubernetes-pvc.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/terraform.tf
Labels: none

Moved path-filter configurations Combined generator script
  .github/path-filter/containers.yml
  .github/path-filter/devcontainer.yml
  .github/path-filter/terraform.yml
  .github/workflows/containers.yml
  .github/workflows/devcontainer.yml
  .github/workflows/repository-containers-path-filter-generator.yml
  .github/workflows/repository-terraform-path-filter-generator.yml
  .github/workflows/reusable-workflow-terraform.yml
  .github/workflows/terraform.yml
  .grype.yml
  scripts/path-filter/containers-generator.sh
  scripts/path-filter/generator.sh
Labels: github-workflow

Add if statement
  .github/workflows/containers.yml
  .github/workflows/terraform.yml
Labels: github-workflow

don't trigger on dependabot PRs
  .github/workflows/repository-containers-path-filter-generator.yml
  .github/workflows/repository-terraform-path-filter-generator.yml
Labels: github-workflow

🔀 🚑 Moved path-filter configuration out of workflows folder (#941)
  .github/path-filter/containers.yml
  .github/path-filter/devcontainer.yml
  .github/path-filter/terraform.yml
  .github/workflows/containers.yml
  .github/workflows/devcontainer.yml
  .github/workflows/repository-containers-path-filter-generator.yml
  .github/workflows/repository-terraform-path-filter-generator.yml
  .github/workflows/reusable-workflow-terraform.yml
  .github/workflows/terraform.yml
  .grype.yml
  scripts/path-filter/containers-generator.sh
  scripts/path-filter/generator.sh
Labels: github-workflow

Adding Coder deployment code Using DATA_PLATFORM_ROBOT_TOKEN for generation
  .github/workflows/repository-containers-path-filter-generator.yml
  .github/workflows/repository-terraform-path-filter-generator.yml
  terraform/aws/analytical-platform-development/firebreak-coder/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/firebreak-coder/acm-certificates.tf
  terraform/aws/analytical-platform-development/firebreak-coder/data.tf
  terraform/aws/analytical-platform-development/firebreak-coder/helm-releases.tf
  terraform/aws/analytical-platform-development/firebreak-coder/kubernetes-namespaces.tf
  terraform/aws/analytical-platform-development/firebreak-coder/kubernetes-secrets.tf
  terraform/aws/analytical-platform-development/firebreak-coder/locals.tf
  terraform/aws/analytical-platform-development/firebreak-coder/random.tf
  terraform/aws/analytical-platform-development/firebreak-coder/rds-instances.tf
  terraform/aws/analytical-platform-development/firebreak-coder/route53-records.tf
  terraform/aws/analytical-platform-development/firebreak-coder/security-groups.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/README.md
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/README.md
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/coder-agent.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/coder-app.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/data.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/kubernetes-pod.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/kubernetes-pvc.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/coder/templates/kubernetes/terraform.tf
  terraform/aws/analytical-platform-development/firebreak-coder/src/helm/coder/values.yml.tftpl
  terraform/aws/analytical-platform-development/firebreak-coder/terraform.tf
  terraform/aws/analytical-platform-development/firebreak-coder/terraform.tfvars
  terraform/aws/analytical-platform-development/firebreak-coder/variables.tf
Labels: github-workflow

Committing updated path-filter configuration
  .github/path-filter/terraform.yml
Labels: none

Revert robot changes
  .github/workflows/repository-containers-path-filter-generator.yml
  .github/workflows/repository-terraform-path-filter-generator.yml
Labels: github-workflow

Update DEVCONTAINER.md
  .devcontainer/docs/DEVCONTAINER.md
Labels: devcontainer

Update DEVCONTAINER.md (#945)
  .devcontainer/docs/DEVCONTAINER.md
Labels: devcontainer

Remove jupyterhub namespace and fargate group
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-namespace.tf
Labels: none

Remove jupyterhub namespace and fargate group (#946)
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-namespace.tf
Labels: none

added terraform to deploy jupyterhub's helm chart in the openmetadata cluster
  terraform/aws/analytical-platform-development/jupyterhub/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/jupyterhub/acm-certificates.tf
  terraform/aws/analytical-platform-development/jupyterhub/auth0-secrets.tf
  terraform/aws/analytical-platform-development/jupyterhub/data.tf
  terraform/aws/analytical-platform-development/jupyterhub/helm-releases.tf
  terraform/aws/analytical-platform-development/jupyterhub/kubernetes-namespaces.tf
  terraform/aws/analytical-platform-development/jupyterhub/kubernetes-secrets.tf
  terraform/aws/analytical-platform-development/jupyterhub/locals.tf
  terraform/aws/analytical-platform-development/jupyterhub/route53-records.tf
  terraform/aws/analytical-platform-development/jupyterhub/src/helm/jupyterhub/values.yml.tftpl
  terraform/aws/analytical-platform-development/jupyterhub/terraform.tf
  terraform/aws/analytical-platform-development/jupyterhub/terraform.tfvars
  terraform/aws/analytical-platform-development/jupyterhub/variables.tf
Labels: none
