Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

right file format for config
  containers/daap-push-to-catalogue/config.json
Labels: none

Set AP Control Panel to public Archive AP Control Panel public fork Add Required checks on DP Control Panel
  terraform/github/analytical-platform-repositories.tf
  terraform/github/data-platform-repositories.tf
Labels: none

Add Matt Price
  terraform/github/data-platform/teams.tf
Labels: none

Fix linting
  terraform/github/data-platform/teams.tf
Labels: none

:bug: Fix repo name
  containers/daap-delete-table-for-data-product/CHANGELOG.md
  containers/daap-delete-table-for-data-product/config.json
Labels: none

:bug: Fix repo name (#2240)
  containers/daap-delete-table-for-data-product/CHANGELOG.md
  containers/daap-delete-table-for-data-product/config.json
Labels: none

Updated docs
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: none

unit tests for push to catalogue
  containers/daap-push-to-catalogue/src/var/task/push_to_catalogue.py
  containers/daap-push-to-catalogue/src/var/task/requirements.txt
  containers/daap-push-to-catalogue/tests/requirements.txt
  containers/daap-push-to-catalogue/tests/unit/test_push_to_catalogue.py
Labels: none

:ambulance: Update repository name
  containers/daap-delete-table-for-data-product/config.json
Labels: none

:bookmark: Update changelog and increase version
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
Labels: none

:memo: Update change logs and bump delete table version
  containers/daap-delete-table-for-data-product/CHANGELOG.md
Labels: none

:memo: Update delete table swagger documentation
  containers/daap-docs/src/var/task/swagger.json
Labels: none

Retire AP control panel fork
  terraform/github/analytical-platform-repositories.tf
Labels: none

Add pricemg Fix analytics-platform-control-panel-public
  terraform/github/analytical-platform-repositories.tf
  terraform/github/data-engineering-teams.tf
Labels: none

update dependabot and path-filters
  .github/dependabot.yml
  .github/path-filter/terraform.yml
Labels: none

Added 400 response
  containers/daap-docs/src/var/task/swagger.json
Labels: none

Updated docs (#2241)
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: none

Rename new wow file
  docs/source/documentation/team/ways-of-working.html.md.erb
  docs/source/documentation/team/wow-2.html.md.erb
Labels: documentation

roll back daap-create-metadata changes
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/Dockerfile
  containers/daap-create-metadata/config.json
  containers/daap-create-metadata/src/var/task/create_metadata.py
Labels: none

Minor phrasing changes and add missing punctuation
  docs/source/documentation/team/ways-of-working.html.md.erb
Labels: documentation

Reword support section
  docs/source/documentation/team/ways-of-working.html.md.erb
Labels: documentation

Remove full stops from bullet points
  docs/source/documentation/team/ways-of-working.html.md.erb
Labels: documentation

Reword sprint review
  docs/source/documentation/team/ways-of-working.html.md.erb
Labels: documentation

test-daap workflow conditional python version
  .github/workflows/test-daap.yml
Labels: github-workflow

♻️ Refactor GitHub Terraform component (#1985)
  .github/dependabot.yml
  .github/path-filter/terraform.yml
  .github/workflows/configuration-workflow-terraform.yml
  .github/workflows/reusable-workflow-terraform.yml
  terraform/aws/analytical-platform/oidc/configuration/ap_migration_apps.json
  terraform/aws/analytical-platform/oidc/locals.tf
  terraform/github/.terraform.lock.hcl
  terraform/github/analytical-platform-repositories.tf
  terraform/github/analytical-platform-teams.tf
  terraform/github/data-engineering-teams.tf
  terraform/github/data-platform-repositories.tf
  terraform/github/data-platform-teams.tf
  terraform/github/data-platform/.terraform.lock.hcl
  terraform/github/data-platform/backend.tf
  terraform/github/data-platform/data.tf
  terraform/github/data-platform/locals.tf
  terraform/github/data-platform/main.tf
  terraform/github/data-platform/providers.tf
  terraform/github/data-platform/teams.tf
  terraform/github/data-platform/versions.tf
  terraform/github/data.tf
  terraform/github/locals.tf
  terraform/github/modules/contributor/main.tf
  terraform/github/modules/contributor/providers.tf
  terraform/github/modules/contributor/variables.tf
  terraform/github/modules/repository/main.tf
  terraform/github/modules/repository/outputs.tf
  terraform/github/modules/repository/variables.tf
  terraform/github/modules/team/main.tf
  terraform/github/modules/team/outputs.tf
  terraform/github/modules/team/variables.tf
  terraform/github/scripts/mv-resources.sh
  terraform/github/terraform.tf
  terraform/github/terraform.tfvars
  terraform/github/variables.tf
Labels: github-workflow

✨ Ways of Working 2.0 (#2153)
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/team/our-ceremonies.html.md.erb
  docs/source/documentation/team/ways-of-working.html.md.erb
Labels: documentation

Update docs/source/documentation/data-products/components/product-specification.html.md.erb
  docs/source/documentation/data-products/components/product-specification.html.md.erb
Labels: documentation

remove unused import from tests
  containers/daap-push-to-catalogue/tests/unit/test_push_to_catalogue.py
Labels: none

rename push-to-catalogue tests
  containers/daap-push-to-catalogue/tests/unit/push_to_catalogue_test.py
Labels: none

because 3.10 did not work
  .github/workflows/test-daap.yml
Labels: github-workflow

clarify `email` contact info definition markdown formatting
  docs/source/documentation/data-products/components/product-specification.html.md.erb
  docs/source/documentation/data-products/index.html.md.erb
Labels: documentation

python 3.10.10 looks available
  .github/workflows/test-daap.yml
Labels: github-workflow

conftest
  containers/daap-push-to-catalogue/tests/unit/__init__.py
  containers/daap-push-to-catalogue/tests/unit/conftest.py
Labels: none

lint
  containers/daap-push-to-catalogue/tests/unit/conftest.py
  containers/daap-push-to-catalogue/tests/unit/push_to_catalogue_test.py
Labels: none

remove unneeded code from tests
  containers/daap-push-to-catalogue/tests/requirements.txt
  containers/daap-push-to-catalogue/tests/unit/push_to_catalogue_test.py
Labels: none

upversion packages to fixed vulnerabily versions
  containers/daap-push-to-catalogue/Dockerfile
Labels: none

Update Data Product tech docs (#2177)
  docs/source/documentation/data-products/components/data-cleansing-definitions.html.md.erb
  docs/source/documentation/data-products/components/data-dictionary-definitions.html.md.erb
  docs/source/documentation/data-products/components/data-transformation-definitions.html.md.erb
  docs/source/documentation/data-products/components/product-governance.html.md.erb
  docs/source/documentation/data-products/components/product-specification.html.md.erb
  docs/source/documentation/data-products/example_data_product/governance.yml
  docs/source/documentation/data-products/example_data_product/specification.yml
  docs/source/documentation/data-products/index.html.md.erb
  docs/source/documentation/data-products/product-versioning.html.md.erb
Labels: documentation

Update containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/athena_load_handler.py
Labels: none

Add trivy debug
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

try again
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow
