Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

🔀 Update VS Code location (#976)
  .devcontainer/docs/DEVCONTAINER.md
Labels: devcontainer

removing security configuration
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawlers.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/security-config.tf
Labels: none

create roles
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

:wrench: Add three SQS queues and output URLs
  terraform/aws/analytical-platform-development/control-panel-message-broker/outputs.tf
  terraform/aws/analytical-platform-development/control-panel-message-broker/sqs.tf
Labels: none

:wrench: Add .terraform.lock.hcl
  terraform/aws/analytical-platform-development/control-panel-message-broker/.terraform.lock.hcl
Labels: none

requires node.js 14
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/Dockerfile
  containers/daap-docs/config.json
Labels: none

requires node.js 14 (#978)
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/Dockerfile
  containers/daap-docs/config.json
Labels: none

add ref to karpenter
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

linter
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

linter
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

lint
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

linting bug
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

:wrench: Remove wait periods
  terraform/aws/analytical-platform-development/control-panel-message-broker/sqs.tf
Labels: none

module hash
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

version
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

version
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

version
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

:wrench: Add IAM policies for queues
  terraform/aws/analytical-platform-development/control-panel-message-broker/iam-policies.tf
Labels: none

version
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

fix whitespace
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

whitespace
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

linter
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
Labels: none

reverted changes to existing crawler, created new crawler
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-catalogs.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawlers.tf
Labels: none

adding checkov skip comment
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawlers.tf
Labels: none

whitespace
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
Labels: none

superlinter
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
Labels: none

linting
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
Labels: none

linter
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
Labels: none

Add docs for Containers Add docs for Terraform Rename script
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/platform/infrastructure/containers.html.md.erb
  docs/source/documentation/platform/infrastructure/terraform.html.md.erb
  scripts/path-filter/configuration-generator.sh
Labels: documentation

disable workflows
  .github/workflows/archived/repository-containers-path-filter-generator.yml
  .github/workflows/archived/repository-dependabot-configuration-generator.yml
  .github/workflows/archived/repository-terraform-path-filter-generator.yml
Labels: github-workflow

🔀 remove members that have left AP team (#973)
  terraform/pagerduty/schedules.tf
  terraform/pagerduty/teams.tf
  terraform/pagerduty/users.tf
Labels: none

Refactored Dependabot script Update comment in path-filter script Regenerated Dependabot Regenerated path-filters Exluded devcontainer test from Dependabot docker Updated docs
  .devcontainer/features/test/.dependabot-docker-ignore
  .github/dependabot.yml
  .github/path-filter/containers.yml
  .github/path-filter/terraform.yml
  docs/source/documentation/platform/infrastructure/containers.html.md.erb
  docs/source/documentation/platform/infrastructure/terraform.html.md.erb
  scripts/dependabot/configuration-generator.sh
  scripts/path-filter/configuration-generator.sh
Labels: documentation, devcontainer

Updated TF workflow
  .github/workflows/reusable-workflow-terraform.yml
  terraform/aws/analytical-platform-development/cluster/README.md
Labels: github-workflow

Updated workflow Exuded TF workflow from jscpd
  .github/linters/.jscpd.json
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Update if statement for static analysis
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

remove override label
  .github/dependabot.yml
  scripts/dependabot/configuration-generator.sh
Labels: none

Update comment
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Removed test Updated docs
  docs/source/documentation/platform/infrastructure/containers.html.md.erb
  docs/source/documentation/platform/infrastructure/terraform.html.md.erb
  terraform/aws/analytical-platform-development/cluster/README.md
Labels: documentation

provision karpenter terraform (#975)
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: none

update glue crawler and glue database (#974)
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-catalogs.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawlers.tf
Labels: none
