Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

Use new interface for infer_glue_schema
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
  containers/daap-athena-load/tests/unit/athena_load_handler_test.py
Labels: none

Remove redundant check of locals()
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
Labels: none

Extract method for checking table metadata
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
Labels: none

Added more unit test
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
  containers/daap-resync-unprocessed-files/tests/unit/conftest.py
  containers/daap-resync-unprocessed-files/tests/unit/resync_unprocessed_file_test.py
Labels: none

Removed functions to move to base image
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

Moved some functions to base image
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

Added change log
  containers/daap-python-base/CHANGELOG.md
Labels: none

some file fixes
  docs/docs/about.md
  docs/docs/styles/base.scss
  docs/docs/support/support.md
  docs/docs/tech-docs/ADRs/ADR000.md
  docs/docs/tech-docs/ADRs/ADR001.md
  docs/docs/tech-docs/ADRs/ADR005.md
  docs/docs/tech-docs/ADRs/ADRs.md
  docs/docs/tech-docs/tech-docs.md
Labels: documentation

removed trailing spaces
  docs/docs/tech-docs/ADRs/ADR005.md
Labels: documentation

post to page test
  docs/docs/tech-docs/ADRs/ADR000.md
  docs/docs/tech-docs/ADRs/ADR001.md
  docs/docs/tech-docs/ADRs/ADR002.md
  docs/docs/tech-docs/ADRs/ADR003.md
  docs/docs/tech-docs/ADRs/ADR004.md
  docs/docs/tech-docs/ADRs/ADR005.md
Labels: documentation

Refactor create_curated_athena_table
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/create_raw_athena_table.py
  containers/daap-athena-load/tests/unit/create_raw_athena_table_test.py
Labels: none

refactored functions
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

code refactor
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

Fixed lint error
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

fixed lint error
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

fixed uper linter error
  containers/daap-python-base/CHANGELOG.md
Labels: none

fixed lint error
  containers/daap-python-base/CHANGELOG.md
Labels: none

Fixed unit test
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

:fire: Remove import blocks
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
Labels: none

:fire: Remove moved block
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
Labels: none

replace tfsec with trivy
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

lint
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
  containers/daap-athena-load/tests/unit/infer_glue_schema_test.py
Labels: none

:recycle: Refactor to abide by naming convention
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
Labels: none

trigger workflow
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

debug
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

updated some name changes
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

:rotating_light: Formatting
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
Labels: none

Fixed lint error
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

Added return statement
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

added return typing
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

🔥 Remove `import` + `moved` blocks (#1646)
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
Labels: none

Changed the return type
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

Changed the return type
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

Fixed lint error
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

Fixed lint error
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

Fixed black error
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

undo last change
  .github/workflows/reusable-workflow-terraform.yml
  terraform/pagerduty/business-services.tf
Labels: github-workflow

Test some more edge cases
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
  containers/daap-athena-load/tests/unit/infer_glue_schema_test.py
Labels: none

Extract function for sampling CSV
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
  containers/daap-athena-load/tests/unit/infer_glue_schema_test.py
Labels: none

Refactor infer_glue_schema function
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
  containers/daap-athena-load/tests/unit/athena_load_handler_test.py
  containers/daap-athena-load/tests/unit/conftest.py
  containers/daap-athena-load/tests/unit/infer_glue_schema_test.py
Labels: none
