Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

Bump version
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
Labels: none

Update load handler to latest base image (#1835)
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/tests/unit/athena_load_handler_test.py
  containers/daap-athena-load/tests/unit/conftest.py
  containers/daap-athena-load/tests/unit/create_curated_athena_table_test.py
Labels: none

resolves #1659 add format_table_schema function to base schema get_schema lambda returns reformatted schema tweak get_schema tests
  containers/daap-get-schema/CHANGELOG.md
  containers/daap-get-schema/config.json
  containers/daap-get-schema/src/var/task/get_schema.py
  containers/daap-get-schema/tests/unit/mock_test.py
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

linting
  containers/daap-get-schema/tests/unit/mock_test.py
Labels: none

inherit base image requirements for task
  containers/daap-get-schema/src/var/task/requirements.txt
Labels: none

:construction: WIP
  terraform/aws/analytical-platform-development/sagemaker/iam-roles.tf
  terraform/aws/analytical-platform-development/sagemaker/outputs.tf
  terraform/aws/analytical-platform-development/sagemaker/sagemaker.tf
  terraform/aws/analytical-platform-development/sagemaker/terraform.tf
  terraform/aws/analytical-platform-development/sagemaker/terraform.tfvars
  terraform/aws/analytical-platform-development/sagemaker/variables.tf
Labels: none

fix requirements
  containers/daap-get-schema/src/var/task/requirements.txt
Labels: none

:fire: Remove prod provider
  terraform/aws/analytical-platform-development/sagemaker/terraform.tf
Labels: none

:truck: Rename file
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-storageclass.tf
Labels: none

Add Apps and Tools Production EKS
  .devcontainer/features/src/kubernetes-tools/src/home/vscode/.kube/config
Labels: devcontainer

:truck: Rename file (#1974)
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-storageclass.tf
Labels: none

Update data_product_metadata.py
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

update docs with get schema endpoint
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: none

lint
  containers/daap-docs/CHANGELOG.md
Labels: none

🔀 Add Apps and Tools Production EKS (#1976)
  .devcontainer/features/src/kubernetes-tools/src/home/vscode/.kube/config
Labels: devcontainer

rename table schema component
  containers/daap-docs/src/var/task/swagger.json
Labels: none

Set serviceType = Glue
  python-libraries/data-platform-catalogue/data_platform_catalogue/client.py
  python-libraries/data-platform-catalogue/tests/test_client.py
Labels: none

Update documentation
  python-libraries/data-platform-catalogue/README.md
  python-libraries/data-platform-catalogue/data_platform_catalogue/client.py
  python-libraries/data-platform-catalogue/diagram.png
Labels: none

get_schema lambda returns schema in original upload format (#1972)
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
  containers/daap-get-schema/CHANGELOG.md
  containers/daap-get-schema/config.json
  containers/daap-get-schema/src/var/task/get_schema.py
  containers/daap-get-schema/src/var/task/requirements.txt
  containers/daap-get-schema/tests/unit/mock_test.py
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

:wrench: Update config / WIP
  terraform/aws/analytical-platform-development/sagemaker/data.tf
  terraform/aws/analytical-platform-development/sagemaker/outputs.tf
  terraform/aws/analytical-platform-development/sagemaker/sagemaker.tf
  terraform/aws/analytical-platform-development/sagemaker/terraform.tf
  terraform/aws/analytical-platform-development/sagemaker/variables.tf
  terraform/aws/analytical-platform-development/sagemaker/vpc.tf
Labels: none

:wrench: Add terraform.lock.hcl
  terraform/aws/analytical-platform-development/sagemaker/.terraform.lock.hcl
Labels: none

set no-cache to true
  .github/workflows/devcontainer.yml
Labels: github-workflow

set log-level to trace
  .github/workflows/devcontainer.yml
Labels: github-workflow

set push to false
  .github/workflows/devcontainer.yml
Labels: github-workflow

remove arm64
  .github/workflows/devcontainer.yml
Labels: github-workflow

push amd64
  .github/workflows/devcontainer.yml
Labels: github-workflow

Initial Data Platform teams
  terraform/github/data-platform-2/.terraform.lock.hcl
  terraform/github/data-platform-2/README.md
  terraform/github/data-platform-2/data-platform-teams.tf
  terraform/github/data-platform-2/data.tf
  terraform/github/data-platform-2/modules/team/locals.tf
  terraform/github/data-platform-2/modules/team/main.tf
  terraform/github/data-platform-2/modules/team/outputs.tf
  terraform/github/data-platform-2/modules/team/providers.tf
  terraform/github/data-platform-2/modules/team/variables.tf
  terraform/github/data-platform-2/terraform.tf
  terraform/github/data-platform-2/terraform.tfvars
  terraform/github/data-platform-2/variables.tf
Labels: none

Add component to path-filter Split out CP access
  .github/path-filter/terraform.yml
  terraform/github/data-platform-2/data-platform-teams.tf
Labels: none

Rename CP access team
  terraform/github/data-platform-2/data-platform-teams.tf
Labels: none

Remove unused locals
  terraform/github/data-platform-2/modules/team/locals.tf
Labels: none

BONUS: Trivy
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

use scanners
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

switch to config scan
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Testing bad code
  .github/workflows/reusable-workflow-terraform.yml
  terraform/github/data-platform-2/test.tf
Labels: github-workflow

Update github-script Add Trivy to process outcome step
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Removing comment
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

trivy ignore public repo
  terraform/github/data-platform-2/test.tf
Labels: none

DP-1833 First draft of the catalogue library (python 3.10) (#1960)
  .github/linters/.jscpd.json
  python-libraries/data-platform-catalogue/.gitignore
  python-libraries/data-platform-catalogue/README.md
  python-libraries/data-platform-catalogue/data_platform_catalogue/__init__.py
  python-libraries/data-platform-catalogue/data_platform_catalogue/client.py
  python-libraries/data-platform-catalogue/diagram.png
  python-libraries/data-platform-catalogue/poetry.lock
  python-libraries/data-platform-catalogue/pyproject.toml
  python-libraries/data-platform-catalogue/tests/__init__.py
  python-libraries/data-platform-catalogue/tests/test_client.py
Labels: none

Add workflows for new data-platform-catalogue package
  .github/workflows/python-data-platform-catalogue.yml
  .github/workflows/test-data-platform-catalogue.yml
Labels: github-workflow

test ci
  python-libraries/data-platform-catalogue/data_platform_catalogue/__init__.py
Labels: none
