Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

Change config.yml to config.json
  containers/rshiny-open-source-base/config.json
Labels: none

Fix indentation
  containers/rshiny-open-source-base/config.json
Labels: none

Update docs to specify creating config.json
  docs/source/documentation/platform/infrastructure/containers.html.md.erb
Labels: documentation

Fix flake8 error
  containers/rshiny-open-source-base/gather_env_vars.py
Labels: none

Use port 9999 for shiny-server
  containers/rshiny-open-source-base/Dockerfile
  containers/rshiny-open-source-base/shiny-server.conf
Labels: none

Fix black lint error
  containers/rshiny-open-source-base/gather_env_vars.py
Labels: none

Fix isort error
  containers/rshiny-open-source-base/gather_env_vars.py
Labels: none

Fix Dockerfile lint error, use COPY rather than ADD
  containers/rshiny-open-source-base/Dockerfile
Labels: none

:construction: Initial Commit
  containers/daap-delete-table-for-data-product/CHANGELOG.md
  containers/daap-delete-table-for-data-product/Dockerfile
  containers/daap-delete-table-for-data-product/config.json
  containers/daap-delete-table-for-data-product/src/var/task/delete_table.py
  containers/daap-delete-table-for-data-product/src/var/task/requirements.txt
  containers/daap-delete-table-for-data-product/tests/requirements.txt
  containers/daap-delete-table-for-data-product/tests/unit/conftest.py
  containers/daap-delete-table-for-data-product/tests/unit/mock_test.py
Labels: none

:recycle: Utilise existing s3_recursive delete function
  containers/daap-delete-table-for-data-product/src/var/task/delete_table.py
Labels: none

:art: Improve handler code layout
  containers/daap-delete-table-for-data-product/src/var/task/delete_table.py
Labels: none

:recycle: Refactor Unit tests
  containers/daap-delete-table-for-data-product/src/var/task/delete_table.py
  containers/daap-delete-table-for-data-product/src/var/task/requirements.txt
  containers/daap-delete-table-for-data-product/tests/requirements.txt
  containers/daap-delete-table-for-data-product/tests/unit/conftest.py
  containers/daap-delete-table-for-data-product/tests/unit/mock_test.py
Labels: none

:white_check_mark: Update failing tests
  containers/daap-delete-table-for-data-product/tests/unit/conftest.py
  containers/daap-delete-table-for-data-product/tests/unit/mock_test.py
Labels: none

:recycle: Remove legacy response format functions
  containers/daap-delete-table-for-data-product/src/var/task/delete_table.py
  containers/daap-delete-table-for-data-product/tests/unit/mock_test.py
Labels: none

:rotating_light: Fix linter warnings
  containers/daap-delete-table-for-data-product/config.json
  containers/daap-delete-table-for-data-product/src/var/task/delete_table.py
  containers/daap-delete-table-for-data-product/src/var/task/requirements.txt
  containers/daap-delete-table-for-data-product/tests/requirements.txt
  containers/daap-delete-table-for-data-product/tests/unit/mock_test.py
Labels: none

Update create-a-derived-table role back to OIDC
  terraform/aws/analytical-platform-data-production/create-a-derived-table/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-policies.tf
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-roles.tf
  terraform/aws/analytical-platform-data-production/create-a-derived-table/terraform.tf
Labels: none

Added Helm chart
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/Chart.yaml
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/templates/_helpers.tpl
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/templates/deployment.yml
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/templates/service-account.yml
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/values.yaml
Labels: none

Add CP component
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/.terraform.lock.hcl
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/data.tf
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/helm-releases.tf
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/terraform.tf
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/terraform.tfvars
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/variables.tf
Labels: none

Skip CKV_TF_1
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-roles.tf
Labels: none

Update dependabot
  .github/dependabot.yml
Labels: none

Add path-filter generation to jobs that refernce it
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

add typing and better docstring
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

log what changed in schema when new version created
  containers/daap-python-base/src/var/task/versioning.py
Labels: none

schema_update_type docstring
  containers/daap-python-base/src/var/task/versioning.py
Labels: none

v5.3.0 update to config and changelog
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: none

update specification and governance Add alpha, beta, later labels for sections in current or later iterations
  docs/source/documentation/data-products/components/product-governance.html.md.erb
  docs/source/documentation/data-products/components/product-specification.html.md.erb
  docs/source/documentation/data-products/example_data_product/governance.yml
  docs/source/documentation/data-products/example_data_product/specification.yml
  docs/source/documentation/data-products/index.html.md.erb
Labels: documentation

linitng
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

lint
  containers/daap-python-base/src/var/task/versioning.py
Labels: none

:white_check_mark: Fix test credential issue
  containers/daap-delete-table-for-data-product/tests/unit/conftest.py
Labels: none

more lint and remove `BaseJsonSchema.latest_version_saved_data=None`
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/src/var/task/versioning.py
  containers/daap-python-base/tests/unit/versioning_test.py
Labels: none

just changelog now
  containers/daap-python-base/CHANGELOG.md
Labels: none

:recycle: Simplify recursive delete to utilise s3 resource
  containers/daap-delete-table-for-data-product/src/var/task/delete_table.py
Labels: none

:white_check_mark: Utilise KeyCount in file deletion tests
  containers/daap-delete-table-for-data-product/tests/unit/mock_test.py
Labels: none

Create a secret and use it
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/helm-releases.tf
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/templates/deployment.yml
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/templates/secrets.yml
Labels: none

:recycle: Abstract Glue table delete to helper function
  containers/daap-delete-table-for-data-product/src/var/task/delete_table.py
Labels: none

Create home directory Add lsb-release
  containers/actions-runner/Dockerfile
  containers/actions-runner/src/usr/local/bin/actions-runner-utils/entrypoint.sh
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/Chart.yaml
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/values.yaml
Labels: none

fix relative file paths for yml file previews
  docs/source/documentation/data-products/example_data_product/index.html.md.erb
Labels: documentation

fix internal references linting
  docs/source/documentation/data-products/components/data-cleansing-definitions.html.md.erb
  docs/source/documentation/data-products/components/data-transformation-definitions.html.md.erb
  docs/source/documentation/data-products/components/product-governance.html.md.erb
  docs/source/documentation/data-products/example_data_product/index.html.md.erb
Labels: documentation

linting
  docs/source/documentation/data-products/example_data_product/data-dictionary.yml
Labels: documentation

Initial implementation of new base rshiny image for apps (#2083)
  containers/rshiny-open-source-base/CHANGELOG.md
  containers/rshiny-open-source-base/Dockerfile
  containers/rshiny-open-source-base/config.json
  containers/rshiny-open-source-base/gather_env_vars.py
  containers/rshiny-open-source-base/shiny-server.conf
  containers/rshiny-open-source-base/shiny-server.sh
  docs/source/documentation/platform/infrastructure/containers.html.md.erb
Labels: documentation

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"
