Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

Move error function
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/src/var/task/data_platform_api_responses.py
  containers/daap-python-base/tests/unit/data_platform_api_responses_test.py
Labels: none

Document the existing behaviour of BaseJsonSchema
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

Add AP, DE and DP teams Add repository access
  terraform/github/data-platform-2/analytical-platform-teams.tf
  terraform/github/data-platform-2/data-engineering-teams.tf
  terraform/github/data-platform-2/data-platform-repositories.tf
  terraform/github/data-platform-2/data-platform-teams.tf
  terraform/github/data-platform-2/data.tf
  terraform/github/data-platform-2/modules/repository/main.tf
  terraform/github/data-platform-2/modules/repository/variables.tf
  terraform/github/data-platform-2/modules/team/outputs.tf
Labels: none

Added Analytical Platform access teams Added Data Engineering team
  terraform/github/data-platform-2/README.md
  terraform/github/data-platform-2/analytical-platform-teams.tf
  terraform/github/data-platform-2/data-engineering-teams.tf
  terraform/github/data-platform-2/data-platform-teams.tf
Labels: none

add kms alias
  terraform/aws/analytical-platform/baseline/modules/cost-explorer-anomaly-monitor/main.tf
  terraform/aws/analytical-platform/baseline/modules/guardduty/main.tf
Labels: none

Ensure environment variables are set before code is imported
  containers/daap-python-base/tests/unit/conftest.py
Labels: none

Add more updatable fields
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

slight rewording
  terraform/aws/analytical-platform/baseline/modules/cost-explorer-anomaly-monitor/main.tf
  terraform/aws/analytical-platform/baseline/modules/guardduty/main.tf
Labels: none

Added ADR006 Use GOV.UK Eleventy Plugin for user documentation and front door (#2015)
  docs/source/documentation/adrs/adr-006-use-gov-uk-eleventy-plugin-for-user-documentation-and-front-door.html.md.erb
  docs/source/documentation/adrs/adr-index.html.md.erb
Labels: documentation

add kms alias (#2039)
  terraform/aws/analytical-platform/baseline/modules/cost-explorer-anomaly-monitor/main.tf
  terraform/aws/analytical-platform/baseline/modules/guardduty/main.tf
Labels: none

Add actions-runner image (WIP) Add ID to path-filter step Add path-filter generation to Terraform
  .github/workflows/containers.yml
  .github/workflows/terraform.yml
  .gitignore
  containers/actions-runner/CHANGELOG.md
  containers/actions-runner/Dockerfile
  containers/actions-runner/config.json
Labels: github-workflow

Code review suggestion
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

Fix type
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

add provider for kms
  terraform/aws/analytical-platform/baseline/modules/cost-explorer-anomaly-monitor/main.tf
  terraform/aws/analytical-platform/baseline/modules/guardduty/main.tf
Labels: none

add provider for kms
  terraform/aws/analytical-platform/baseline/modules/cost-explorer-anomaly-monitor/main.tf
  terraform/aws/analytical-platform/baseline/modules/guardduty/main.tf
Labels: none

linter
  terraform/aws/analytical-platform/baseline/modules/cost-explorer-anomaly-monitor/main.tf
  terraform/aws/analytical-platform/baseline/modules/guardduty/main.tf
Labels: none

Bump Checkov action Bump AWS provider Pull in @jhpyke's changes for create-a-derived-table
  .github/workflows/reusable-workflow-terraform.yml
  terraform/aws/analytical-platform-data-production/create-a-derived-table/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-policies.tf
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-roles.tf
  terraform/aws/analytical-platform-data-production/create-a-derived-table/terraform.tf
Labels: github-workflow

Remove scanning of external modules, some are out of our contorl
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

:memo: Update ADR dates
  docs/source/documentation/adrs/adr-001-use-cloud-platform-for-hosting-infrastructure.html.md.erb
  docs/source/documentation/adrs/adr-002-use-moderisation-platform-for-hosting-infrastructure-not-suitable-for-cloud-platform.html.md.erb
  docs/source/documentation/adrs/adr-003-use-azuread-for-identity-and-access-management.html.md.erb
Labels: documentation

:memo: Update docs
  docs/source/documentation/team/joining-our-teams.html.md.erb
  docs/source/documentation/team/our-ceremonies.html.md.erb
Labels: documentation

Code review suggestion: rename bucket_path -> latest_version_path
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

Increment to new major version
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: none

DP-1657 Add update metadata function to base image (#2027)
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_api_responses.py
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/conftest.py
  containers/daap-python-base/tests/unit/data_platform_api_responses_test.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

📝 Update Documentation (#2050)
  docs/source/documentation/adrs/adr-001-use-cloud-platform-for-hosting-infrastructure.html.md.erb
  docs/source/documentation/adrs/adr-002-use-moderisation-platform-for-hosting-infrastructure-not-suitable-for-cloud-platform.html.md.erb
  docs/source/documentation/adrs/adr-003-use-azuread-for-identity-and-access-management.html.md.erb
  docs/source/documentation/team/joining-our-teams.html.md.erb
  docs/source/documentation/team/our-ceremonies.html.md.erb
Labels: documentation

reformat
  terraform/aws/analytical-platform/baseline/modules/cost-explorer-anomaly-monitor/main.tf
  terraform/aws/analytical-platform/baseline/modules/guardduty/main.tf
Labels: none

linter
  terraform/aws/analytical-platform/baseline/modules/cost-explorer-anomaly-monitor/main.tf
  terraform/aws/analytical-platform/baseline/modules/guardduty/main.tf
Labels: none

📌 Bump Checkov (#2048)
  .github/workflows/reusable-workflow-terraform.yml
  terraform/aws/analytical-platform-data-production/create-a-derived-table/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-policies.tf
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-roles.tf
  terraform/aws/analytical-platform-data-production/create-a-derived-table/terraform.tf
Labels: github-workflow

Update UID and GID Add libicu-dev Fix cURL and tar
  containers/actions-runner/Dockerfile
Labels: none

Add entrypoint Adding cleanup
  containers/actions-runner/Dockerfile
  containers/actions-runner/src/usr/local/bin/actions-runner-utils/cleanup.sh
  containers/actions-runner/src/usr/local/bin/actions-runner-utils/entrypoint.sh
Labels: none

add provider for kms (#2047)
  terraform/aws/analytical-platform/baseline/modules/cost-explorer-anomaly-monitor/main.tf
  terraform/aws/analytical-platform/baseline/modules/guardduty/main.tf
Labels: none

Added landing_zone_prefix to DataProductElement
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

Added landing_data_path method
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

Fixed linting errors
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

Dp 1891 prep (#2054)
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

Changed ps url destination to landing bucket
  containers/daap-presigned-url/src/var/task/presigned_url.py
  containers/daap-presigned-url/tests/unit/mock_test.py
Labels: none

Delete file in landing after copy to raw
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/config.json
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
  containers/daap-landing-to-raw/tests/unit/landing_to_raw_test.py
Labels: none

Add Actions Runner .env
  .gitignore
  containers/actions-runner/src/actions-runner/.env
Labels: none

Upversion base image
  containers/daap-presigned-url/Dockerfile
Labels: none

Upversioned python base
  containers/daap-landing-to-raw/Dockerfile
Labels: none

Upversion container version
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/config.json
Labels: none

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"
