Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

🔀 ❇️ Add resources for MWAA (#815)
  .github/dependabot.yml
  terraform/aws/analytical-platform-data-production/airflow/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/airflow/data.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-openid-connect-providers.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
  terraform/aws/analytical-platform-data-production/airflow/variables.tf
  terraform/aws/analytical-platform-development/cluster/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/cluster/kubernetes-namespaces.tf
  terraform/aws/analytical-platform-development/cluster/kubernetes-role-bindings.tf
  terraform/aws/analytical-platform-development/cluster/kubernetes-roles.tf
  terraform/aws/analytical-platform-development/cluster/kubernetes-services-accounts.tf
  terraform/aws/analytical-platform-development/cluster/terraform.tfvars
Labels: none

Removed Data Engineering container Updated path referencing Added build job
  .devcontainer/devcontainer.json
  .devcontainer/platform-engineering/devcontainer.json
  .github/workflows/devcontainer.yml
Labels: github-workflow, devcontainer

Testing publish
  .devcontainer/devcontainer-build.json
  .devcontainer/devcontainer.json
  .devcontainer/hack/build.sh
  .github/workflows/devcontainer.yml
Labels: github-workflow, devcontainer

testing wrapped values
  .github/workflows/devcontainer.yml
Labels: github-workflow

Testing
  .github/workflows/reusable-terraform.yml
  .github/workflows/terraform-aws-analytical-platform-development-open-metadata.yml
Labels: github-workflow

Updated if logic Using DATA_PLATFORM_ROBOT_TOKEN
  .github/workflows/reusable-terraform.yml
Labels: github-workflow

Update if statement
  .github/workflows/reusable-terraform.yml
Labels: github-workflow

Testing
  .github/workflows/reusable-terraform.yml
Labels: github-workflow

Update API
  .github/workflows/reusable-terraform.yml
Labels: github-workflow

updated field
  .github/workflows/reusable-terraform.yml
Labels: github-workflow

Testing
  .github/workflows/reusable-terraform.yml
Labels: github-workflow

Add if statement back
  .github/workflows/reusable-terraform.yml
Labels: github-workflow

Update if statement
  .github/workflows/reusable-terraform.yml
Labels: github-workflow

Testing comment
  .github/workflows/reusable-terraform.yml
Labels: github-workflow

Update actor, ID and naming
  .github/workflows/reusable-terraform.yml
Labels: github-workflow

Update body
  .github/workflows/reusable-terraform.yml
Labels: github-workflow

testing dynamic workflow
  .github/workflows/path-filter/terraform.yml
  .github/workflows/reusable-workflow-terraform.yml
  .github/workflows/terraform-aws-analytical-platform-development-open-metadata.yml
  .github/workflows/terraform.yml
Labels: github-workflow

Test
  terraform/aws/analytical-platform-development/open-metadata/README.md
Labels: none

Fixed indentation
  .github/workflows/terraform.yml
  scripts/path-filter/terraform-generator.sh
Labels: github-workflow

Remove README
  terraform/aws/analytical-platform-development/open-metadata/README.md
Labels: none

Test
  .github/workflows/archive/terraform-application-migration.yml
  .github/workflows/archive/terraform-aws-analytical-platform-baseline.yml
  .github/workflows/archive/terraform-aws-analytical-platform-data-engineering-production-10ds.yml
  .github/workflows/archive/terraform-aws-analytical-platform-data-production-artifact-repos.yml
  .github/workflows/archive/terraform-aws-analytical-platform-data-production-kops.yml
  .github/workflows/archive/terraform-aws-analytical-platform-data-production-rds-s3-exports.yml
  .github/workflows/archive/terraform-aws-analytical-platform-data-production-s3-data-crawler.yml
  .github/workflows/archive/terraform-aws-analytical-platform-development-cluster.yml
  .github/workflows/archive/terraform-aws-analytical-platform-development-open-metadata.yml
  .github/workflows/archive/terraform-aws-analytical-platform-management-production-cluster.yml
  .github/workflows/archive/terraform-aws-analytical-platform-oidc.yml
  .github/workflows/archive/terraform-aws-analytical-platform-production-cluster.yml
  .github/workflows/archive/terraform-github-application-migration.yml
  .github/workflows/archive/terraform-github-data-platform.yml
  .github/workflows/archive/terraform-pagerduty.yml
  .github/workflows/reusable-workflow-terraform.yml
  terraform/aws/analytical-platform-development/open-metadata/README.md
Labels: github-workflow

Update working directory logic, working locally
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Add workflow for tf generator
  .github/workflows/repository-terraform-path-filter-generator.yml
Labels: github-workflow

testing two components
  terraform/aws/analytical-platform-development/cluster/README.md
Labels: none

testing length
  .github/workflows/terraform.yml
Labels: github-workflow

test
  .github/workflows/terraform.yml
Labels: github-workflow

test
  .github/workflows/terraform.yml
Labels: github-workflow

not else, but fi
  .github/workflows/terraform.yml
Labels: github-workflow

remove one test file
  terraform/aws/analytical-platform-development/cluster/README.md
Labels: none

Delete archive
  .github/workflows/archive/terraform-application-migration.yml
  .github/workflows/archive/terraform-aws-analytical-platform-baseline.yml
  .github/workflows/archive/terraform-aws-analytical-platform-data-engineering-production-10ds.yml
  .github/workflows/archive/terraform-aws-analytical-platform-data-production-artifact-repos.yml
  .github/workflows/archive/terraform-aws-analytical-platform-data-production-kops.yml
  .github/workflows/archive/terraform-aws-analytical-platform-data-production-rds-s3-exports.yml
  .github/workflows/archive/terraform-aws-analytical-platform-data-production-s3-data-crawler.yml
  .github/workflows/archive/terraform-aws-analytical-platform-development-cluster.yml
  .github/workflows/archive/terraform-aws-analytical-platform-development-open-metadata.yml
  .github/workflows/archive/terraform-aws-analytical-platform-management-production-cluster.yml
  .github/workflows/archive/terraform-aws-analytical-platform-oidc.yml
  .github/workflows/archive/terraform-aws-analytical-platform-production-cluster.yml
  .github/workflows/archive/terraform-github-application-migration.yml
  .github/workflows/archive/terraform-github-data-platform.yml
  .github/workflows/archive/terraform-pagerduty.yml
Labels: github-workflow

Updated workflow
  .github/workflows/repository-staler.yml
Labels: github-workflow

🔀 Updated workflow (#861)
  .github/workflows/repository-staler.yml
Labels: github-workflow

Testing PR comment
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Update script
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

update script
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

update script
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Add comment update
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Add comment update
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Updating wording
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

update script
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"
