Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

:white_check_mark: Update tests
  containers/daap-delete-table-for-data-product/tests/unit/conftest.py
  containers/daap-delete-table-for-data-product/tests/unit/mock_test.py
  containers/daap-python-base/tests/unit/conftest.py
  containers/daap-python-base/tests/unit/versioning_test.py
Labels: none

🎡 Add aws-nuke (#2445)
  .devcontainer/features/src/aws-tools/devcontainer-feature.json
  .devcontainer/features/src/aws-tools/install-aws-nuke.sh
  .devcontainer/features/src/aws-tools/install.sh
  .devcontainer/features/test/aws-tools/test.sh
Labels: devcontainer

✨ Auth0 custom domain (#2442)
  terraform/auth0/ministryofjustice-data-platform-development/auth0-custom-domain.tf
  terraform/auth0/ministryofjustice-data-platform/auth0-clients.tf
  terraform/auth0/ministryofjustice-data-platform/auth0-custom-domain.tf
Labels: none

Adding kyverno configuration in Airflow-Dev (#2444)
  .github/linters/.yaml-lint.yml
  terraform/aws/analytical-platform-data-production/airflow/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/files/kyverno_policies/kyv.privilege_escalation.yaml
  terraform/aws/analytical-platform-data-production/airflow/files/kyverno_policies/kyv.run_as_non_root.yaml
  terraform/aws/analytical-platform-data-production/airflow/files/kyverno_policies/kyv.run_as_non_root_user.yaml
  terraform/aws/analytical-platform-data-production/airflow/helm-charts.tf
  terraform/aws/analytical-platform-data-production/airflow/src/helm/kyverno/values.yml.tftpl
  terraform/aws/analytical-platform-data-production/airflow/terraform.tf
Labels: none

🔥 Destroy firebreak environment (#2441)
  .github/dependabot.yml
  .github/path-filter/terraform.yml
  terraform/aws/analytical-platform-development/open-metadata/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/open-metadata/certificates.tf
  terraform/aws/analytical-platform-development/open-metadata/data.tf
  terraform/aws/analytical-platform-development/open-metadata/efs.tf
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
  terraform/aws/analytical-platform-development/open-metadata/helm-charts.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-policies.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-roles.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-namespace.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-pv.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-pvc.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-resources.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-secrets.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-storageclass.tf
  terraform/aws/analytical-platform-development/open-metadata/locals.tf
  terraform/aws/analytical-platform-development/open-metadata/managed-grafana.tf
  terraform/aws/analytical-platform-development/open-metadata/managed-prometheus.tf
  terraform/aws/analytical-platform-development/open-metadata/opensearch.tf
  terraform/aws/analytical-platform-development/open-metadata/random.tf
  terraform/aws/analytical-platform-development/open-metadata/rds.tf
  terraform/aws/analytical-platform-development/open-metadata/route53.tf
  terraform/aws/analytical-platform-development/open-metadata/security-groups.tf
  terraform/aws/analytical-platform-development/open-metadata/src/helm/aws-efs-csi-driver/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/aws-load-balancer-controller/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/cert-manager/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/cluster-autoscaler/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/external-dns/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/openmetadata-dependencies/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/openmetadata/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/prometheus/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/terraform.tf
  terraform/aws/analytical-platform-development/open-metadata/terraform.tfvars
  terraform/aws/analytical-platform-development/open-metadata/variables.tf
  terraform/aws/analytical-platform-development/open-metadata/vpc.tf
Labels: none

:memo: Update to include dotfile information
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
Labels: documentation

:technologist: Add user dotfile functionality (#2463)
  .devcontainer/devcontainer.json
Labels: devcontainer

:recycle: No longer raises entityNotFoundException back to the client
  containers/daap-python-base/src/var/task/glue_utils.py
Labels: none

🚑 Remove audit-and-security from Modernisation Platform teams (#2464)
  terraform/github/data-platform-teams.tf
Labels: none

🚚 Update GitHub team slugs for accessing Modernisation Platform (#2460)
  terraform/github/analytical-platform-teams.tf
  terraform/github/data-platform-teams.tf
Labels: none

upversion athena load (#2459)
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/config.json
Labels: none

[DP-2107] move athena code to the python base image (#2421)
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/create_raw_athena_table.py
  containers/daap-athena-load/tests/unit/create_curated_athena_table_test.py
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/curated_data/__init__.py
  containers/daap-python-base/src/var/task/curated_data/curated_data_loader.py
  containers/daap-python-base/src/var/task/curated_data/curated_data_query_builder.py
  containers/daap-python-base/src/var/task/glue_and_athena_utils.py
  containers/daap-python-base/src/var/task/glue_utils.py
  containers/daap-python-base/src/var/task/versioning.py
  containers/daap-python-base/tests/unit/curated_data/__init__.py
  containers/daap-python-base/tests/unit/curated_data/test_curated_data_query_builder.py
  containers/daap-python-base/tests/unit/glue_and_athena_utils_test.py
  containers/daap-python-base/tests/unit/versioning_test.py
Labels: none

:truck: Change paramater to specify database name
  containers/daap-python-base/src/var/task/glue_and_athena_utils.py
Labels: none

:fire: Glue_utils.py has been replaced
  containers/daap-python-base/src/var/task/glue_utils.py
Labels: none

:recycle: Add database name parameter
  containers/daap-python-base/src/var/task/glue_and_athena_utils.py
  containers/daap-python-base/tests/unit/versioning_test.py
Labels: none

:white_check_mark: Update Tests
  containers/daap-python-base/tests/unit/conftest.py
  containers/daap-python-base/tests/unit/versioning_test.py
Labels: none

:memo: Update change logs and version files
  containers/daap-delete-table-for-data-product/CHANGELOG.md
  containers/daap-delete-table-for-data-product/config.json
  containers/daap-delete-table-for-data-product/src/var/task/delete_table.py
  containers/daap-delete-table-for-data-product/tests/unit/conftest.py
  containers/daap-delete-table-for-data-product/tests/unit/mock_test.py
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/tests/unit/versioning_test.py
Labels: none

:recycle: Refactor for database versioning support
  containers/daap-delete-data-product/src/var/task/delete_data_product.py
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

:recycle: Add database versioning support
  containers/daap-delete-data-product/src/var/task/delete_data_product.py
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

:white_check_mark: Updates Tests
  containers/daap-delete-data-product/tests/unit/conftest.py
  containers/daap-delete-data-product/tests/unit/mock_test.py
Labels: none

:memo: Update changelog and version files
  containers/daap-delete-data-product/CHANGELOG.md
  containers/daap-delete-data-product/config.json
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

Adding checkout step and fixing perms.
  .github/workflows/trivy.yml
Labels: github-workflow

:recycle: Obtain database name from dataproduct before loading saved metadata
  containers/daap-python-base/src/var/task/versioning.py
Labels: none

:memo: Update documentation to remove references to test fixtures
  containers/daap-delete-data-product/CHANGELOG.md
Labels: none

:recycle: Utilise delete database function from glue & athena utils
  containers/daap-delete-data-product/src/var/task/delete_data_product.py
Labels: none

:sparkles: Created delete database function
  containers/daap-python-base/src/var/task/glue_and_athena_utils.py
Labels: none

:white_check_mark: Refactor to utilise glue & athena utils create datebase function
  containers/daap-delete-data-product/tests/unit/conftest.py
Labels: none

:memo: Update python base change log and config version
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: none

:pencil2: Fix type on data product changelog
  containers/daap-delete-data-product/CHANGELOG.md
Labels: none

:pencil2: Fix import typo
  containers/daap-delete-data-product/tests/unit/conftest.py
Labels: none

:art: Update delete_glue_table function name and imports
  containers/daap-delete-data-product/src/var/task/delete_data_product.py
  containers/daap-delete-data-product/tests/unit/conftest.py
  containers/daap-python-base/src/var/task/glue_and_athena_utils.py
Labels: none

:rotating_light: Fix linter warnings
  containers/daap-delete-data-product/tests/unit/conftest.py
Labels: none

add data upversion functionality to `update_schema` method
  containers/daap-python-base/src/var/task/versioning.py
Labels: none

Add methods to `CuratedDataCopier` and `CuratedDataLoader`
  containers/daap-python-base/src/var/task/curated_data/curated_data_loader.py
Labels: none

add new queries for upversion to `CuratedDataQueryBuilder`
  containers/daap-python-base/src/var/task/curated_data/curated_data_loader.py
  containers/daap-python-base/src/var/task/curated_data/curated_data_query_builder.py
Labels: none

column metadata not needed
  containers/daap-python-base/src/var/task/curated_data/curated_data_loader.py
  containers/daap-python-base/src/var/task/curated_data/curated_data_query_builder.py
Labels: none

:recycle: Add database versioning support (#2468)
  containers/daap-delete-data-product/CHANGELOG.md
  containers/daap-delete-data-product/config.json
  containers/daap-delete-data-product/src/var/task/delete_data_product.py
  containers/daap-delete-data-product/tests/unit/conftest.py
  containers/daap-delete-data-product/tests/unit/mock_test.py
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/glue_and_athena_utils.py
Labels: none

lint
  containers/daap-python-base/src/var/task/curated_data/curated_data_loader.py
Labels: none

:rotating_light: Fix linting
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
Labels: documentation

:recycle: Add database versioning support (#2468)
  containers/daap-delete-data-product/CHANGELOG.md
  containers/daap-delete-data-product/config.json
  containers/daap-delete-data-product/src/var/task/delete_data_product.py
  containers/daap-delete-data-product/tests/unit/conftest.py
  containers/daap-delete-data-product/tests/unit/mock_test.py
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/glue_and_athena_utils.py
Labels: none
