Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

for when retention becomes required
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

Update CHANGELOG and config.json
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: none

Update CHANGELOG and config.json
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
Labels: none

:fire: Remove python base changes into seperate pr
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/infer_glue_schema_test.py
Labels: none

:technologist: Adding logging of the event object to aid troubleshooting
  containers/daap-presigned-url/config.json
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

give better docstring
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

Dpl 1194 add data product schema class (#1799)
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_api_responses.py
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/conftest.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

:bug: Fix conflict with python base changes.
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/infer_glue_schema_test.py
Labels: none

:memo: Update Changelog
  containers/daap-presigned-url/CHANGELOG.md
Labels: none

Presigned url logging (#1870)
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/config.json
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

I created a changelog entry without bumping the version
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/config.json
Labels: none

I created a changelog entry without bumping the version (#1872)
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/config.json
Labels: none

create_schema lambda handler
  containers/daap-create-schema/src/var/task/create_schema.py
Labels: none

get correct paths
  containers/daap-create-schema/src/var/task/create_schema.py
Labels: none

unit tests
  containers/daap-create-schema/tests/requirements.txt
  containers/daap-create-schema/tests/unit/conftest.py
  containers/daap-create-schema/tests/unit/create_schema_test.py
Labels: none

reqs and that
  containers/daap-create-schema/src/var/task/.dependabot-pip-ignore
  containers/daap-create-schema/src/var/task/requirements.txt
Labels: none

dockerfile config changelog
  containers/daap-create-schema/CHANGELOG.md
  containers/daap-create-schema/Dockerfile
  containers/daap-create-schema/config.json
Labels: none

lint
  containers/daap-create-schema/config.json
  containers/daap-create-schema/src/var/task/create_schema.py
  containers/daap-create-schema/tests/requirements.txt
  containers/daap-create-schema/tests/unit/create_schema_test.py
Labels: none

Fix typo
  containers/daap-landing-to-raw/src/var/task/validation.py
  containers/daap-landing-to-raw/tests/unit/validation_test.py
Labels: none

Run the validation and move to the fail location if invalid
  containers/daap-landing-to-raw/Dockerfile
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
  containers/daap-landing-to-raw/src/var/task/requirements.txt
  containers/daap-landing-to-raw/tests/requirements.txt
  containers/daap-landing-to-raw/tests/unit/landing_to_raw_test.py
Labels: none

Split large module
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
  containers/daap-landing-to-raw/src/var/task/validation.py
  containers/daap-landing-to-raw/tests/unit/landing_to_raw_test.py
  containers/daap-landing-to-raw/tests/unit/validation_test.py
Labels: none

Bump version
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/config.json
Labels: none

Add type_is_compatable function
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
  containers/daap-landing-to-raw/tests/unit/landing_to_raw_test.py
Labels: none

Handle the case where there is no schema
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
Labels: none

Add validate_data_against_schema function
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
  containers/daap-landing-to-raw/tests/unit/landing_to_raw_test.py
Labels: none

Add extract_columns_from_schema function
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
  containers/daap-landing-to-raw/tests/unit/landing_to_raw_test.py
Labels: none

Add extra case to validation to give more useful messages
  containers/daap-landing-to-raw/src/var/task/validation.py
Labels: none

Add 1Password SSH key setup
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
Labels: documentation

Fix clone command
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
Labels: documentation

pass through github vars into dev container if set
  .devcontainer/devcontainer.json
Labels: devcontainer

pass through github vars into dev container if set
  .devcontainer/devcontainer.json
Labels: devcontainer

update test
  containers/daap-create-schema/tests/unit/create_schema_test.py
Labels: none

no need to double load parent metadata
  containers/daap-create-schema/src/var/task/create_schema.py
Labels: none

DPL-1655 Add schema validation to landing bucket -> raw lambda (#1787)
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/Dockerfile
  containers/daap-landing-to-raw/config.json
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
  containers/daap-landing-to-raw/src/var/task/requirements.txt
  containers/daap-landing-to-raw/src/var/task/validation.py
  containers/daap-landing-to-raw/tests/requirements.txt
  containers/daap-landing-to-raw/tests/unit/landing_to_raw_test.py
  containers/daap-landing-to-raw/tests/unit/validation_test.py
Labels: none

Remove Infracost Unpin Terraform
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/features/src/terraform-tools/install-infracost.sh
  .devcontainer/features/src/terraform-tools/install.sh
  .devcontainer/features/test/terraform-tools/test.sh
  .github/workflows/reusable-workflow-terraform.yml
  .gitignore
Labels: github-workflow, devcontainer

Add line for importing an existing key
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
Labels: documentation

🎡 Remove Infracost and unpin Terraform (#1898)
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/features/src/terraform-tools/install-infracost.sh
  .devcontainer/features/src/terraform-tools/install.sh
  .devcontainer/features/test/terraform-tools/test.sh
  .github/workflows/reusable-workflow-terraform.yml
  .gitignore
Labels: github-workflow, devcontainer

Create a version and changelog entry
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/config.json
Labels: none

lint
  containers/daap-create-schema/src/var/task/create_schema.py
Labels: none

Add a new repo for new library
  terraform/github/data-platform/locals.tf
Labels: none

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"
