Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

Update containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

Apply suggestions from code review
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

Fixed patching in tests
  containers/daap-create-metadata/tests/requirements.txt
  containers/daap-create-metadata/tests/unit/create_metadata_test.py
Labels: none

Sorting imports
  containers/daap-create-metadata/tests/unit/create_metadata_test.py
Labels: none

Update containers/daap-create-metadata/src/var/task/create_metadata.py
  containers/daap-create-metadata/src/var/task/create_metadata.py
Labels: none

Removed string wrapper for literal strings
  containers/daap-create-metadata/tests/unit/create_metadata_test.py
Labels: none

Moved requirements file
  containers/daap-create-metadata/src/var/task/requirements.txt
Labels: none

Add member to dp-labs
  terraform/github/data-platform/teams.tf
Labels: none

Update teams.tf
  terraform/github/data-platform/teams.tf
Labels: none

Update teams.tf (#1628)
  terraform/github/data-platform/teams.tf
Labels: none

Change data_platform_paths module to separate data products from data product elements, and allow multiple buckets (#1549)
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

Fix EditorConfig
  docs/_includes/layouts/blog.njk
  docs/_includes/layouts/content.njk
  docs/_includes/layouts/pattern.njk
  docs/_includes/layouts/standard.njk
  docs/_includes/layouts/wiki.njk
  docs/_includes/macros/contentDocumentList.njk
  docs/_includes/macros/navigationList.njk
  docs/docs/analytical-platform/analytical-platform.md
  docs/docs/blog/blog.md
  docs/docs/data-platform/data-platform.md
  docs/docs/index.md
  docs/docs/styles/base.scss
  docs/docs/support/request-ap-support.md
  docs/docs/support/request-dp-support.md
Labels: documentation

Remove ap-terraform-bootstrap from management
  terraform/github/data-platform/locals.tf
Labels: none

Fix textlint
  docs/docs/tech-docs/ADRs/ADR002.md
Labels: documentation

Update image to lts/hydrogen Test build workflow
  .github/workflows/documentation.yml
  scripts/docs/docker.sh
Labels: github-workflow

Changed requirements again
  containers/daap-create-metadata/tests/requirements.txt
Labels: none

Use shared path library for reload-data-product
  containers/daap-reload-data-product/CHANGELOG.md
  containers/daap-reload-data-product/Dockerfile
  containers/daap-reload-data-product/config.json
  containers/daap-reload-data-product/src/var/task/reload_data_product.py
  containers/daap-reload-data-product/tests/unit/conftest.py
  containers/daap-reload-data-product/tests/unit/reload_data_product_test.py
Labels: none

Fix bug when curated data is missing
  containers/daap-reload-data-product/src/var/task/reload_data_product.py
  containers/daap-reload-data-product/tests/unit/reload_data_product_test.py
Labels: none

Update to latest base image
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/Dockerfile
  containers/daap-presigned-url/config.json
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

DPL-1316 update reload data product lambda (#1614)
  containers/daap-reload-data-product/CHANGELOG.md
  containers/daap-reload-data-product/Dockerfile
  containers/daap-reload-data-product/config.json
  containers/daap-reload-data-product/src/var/task/reload_data_product.py
  containers/daap-reload-data-product/tests/unit/conftest.py
  containers/daap-reload-data-product/tests/unit/reload_data_product_test.py
Labels: none

Apply suggestions from code review
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

Bump base version for Presigned URL lambda (#1563)
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/Dockerfile
  containers/daap-presigned-url/config.json
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

Create metadata unit tests (#1574)
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/config.json
  containers/daap-create-metadata/tests/requirements.txt
  containers/daap-create-metadata/tests/unit/conftest.py
  containers/daap-create-metadata/tests/unit/create_metadata_test.py
Labels: none

Update daap-athena-load to latest base image
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
  containers/daap-athena-load/tests/unit/athena_load_handler_test.py
  containers/daap-athena-load/tests/unit/conftest.py
  containers/daap-athena-load/tests/unit/create_curated_athena_table_test.py
  containers/daap-athena-load/tests/unit/infer_glue_schema_test.py
Labels: none

Fix errors in changelog
  containers/daap-python-base/CHANGELOG.md
Labels: none

Linting
  containers/daap-athena-load/src/var/task/athena_load_handler.py
Labels: none

DPL-1316 Update daap-athena-load to latest base image and generate unique names for raw athena table (#1632)
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
  containers/daap-athena-load/tests/unit/athena_load_handler_test.py
  containers/daap-athena-load/tests/unit/conftest.py
  containers/daap-athena-load/tests/unit/create_curated_athena_table_test.py
  containers/daap-athena-load/tests/unit/infer_glue_schema_test.py
  containers/daap-python-base/CHANGELOG.md
Labels: none

Add Velero CLI
  .devcontainer/features/src/kubernetes-tools/devcontainer-feature.json
  .devcontainer/features/src/kubernetes-tools/install-velero.sh
  .devcontainer/features/src/kubernetes-tools/install.sh
  .devcontainer/features/test/kubernetes-tools/test.sh
Labels: devcontainer

🔀 Add Velero CLI (#1633)
  .devcontainer/features/src/kubernetes-tools/devcontainer-feature.json
  .devcontainer/features/src/kubernetes-tools/install-velero.sh
  .devcontainer/features/src/kubernetes-tools/install.sh
  .devcontainer/features/test/kubernetes-tools/test.sh
Labels: devcontainer

Associate yml.tftpl to YAML
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
Labels: devcontainer

Extract function for sampling CSV
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
  containers/daap-athena-load/tests/unit/infer_glue_schema_test.py
Labels: none

Test some more edge cases
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
  containers/daap-athena-load/tests/unit/infer_glue_schema_test.py
Labels: none

Remove ap-terraform-bootstrap from management
  terraform/github/data-platform/locals.tf
Labels: none

Added intial unit test
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
  containers/daap-resync-unprocessed-files/tests/unit/conftest.py
  containers/daap-resync-unprocessed-files/tests/unit/resync_unprocessed_file_test.py
Labels: none

Intial unit test
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

refactored code
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
  containers/daap-resync-unprocessed-files/tests/unit/resync_unprocessed_file_test.py
Labels: none

Extract function for creating metadata_glue_str
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
  containers/daap-athena-load/tests/unit/infer_glue_schema_test.py
Labels: none

Extract more helper functions from infer_glue_schema_test
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
  containers/daap-athena-load/tests/unit/infer_glue_schema_test.py
Labels: none

🔀 Associate yml.tftpl to YAML (#1634)
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
Labels: devcontainer

Extract helper class from long infer_glue_schema function
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
Labels: none
