Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

Update changelog
  containers/rshiny-open-source-base/CHANGELOG.md
Labels: none

Lint
  containers/rshiny-open-source-base/CHANGELOG.md
Labels: none

Tidy up gather_env_vars.py
  containers/rshiny-open-source-base/gather_env_vars.py
Labels: none

Copy gather_env_vars.py file to workdir (#2140)
  containers/rshiny-open-source-base/CHANGELOG.md
  containers/rshiny-open-source-base/Dockerfile
  containers/rshiny-open-source-base/config.json
  containers/rshiny-open-source-base/gather_env_vars.py
Labels: none

better path param descriptions
  containers/daap-docs/src/var/task/swagger.json
Labels: none

Add dependencies for r-spatial package
  containers/rshiny-open-source-base/Dockerfile
Labels: none

Update version and changelog
  containers/rshiny-open-source-base/CHANGELOG.md
  containers/rshiny-open-source-base/config.json
Labels: none

Add packages previously installed in base shiny image
  containers/rshiny-open-source-base/CHANGELOG.md
  containers/rshiny-open-source-base/Dockerfile
  containers/rshiny-open-source-base/config.json
Labels: none

Add dependencies for r-spatial package (#2143)
  containers/rshiny-open-source-base/CHANGELOG.md
  containers/rshiny-open-source-base/Dockerfile
  containers/rshiny-open-source-base/config.json
Labels: none

Added test for no rows
  containers/daap-query-data/src/var/task/query_data.py
  containers/daap-query-data/tests/unit/mock_test.py
Labels: none

Updated the base image
  containers/daap-query-data/Dockerfile
Labels: none

created lambda for querying data (#2108)
  containers/daap-query-data/CHANGELOG.md
  containers/daap-query-data/Dockerfile
  containers/daap-query-data/config.json
  containers/daap-query-data/src/var/task/query_data.py
  containers/daap-query-data/src/var/task/requirements.txt
  containers/daap-query-data/tests/requirements.txt
  containers/daap-query-data/tests/unit/__init__.py
  containers/daap-query-data/tests/unit/conftest.py
  containers/daap-query-data/tests/unit/mock_test.py
Labels: none

Use existing schema for curated table if exists test load handler with and without existing schema
  .gitignore
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/tests/unit/athena_load_handler_test.py
Labels: none

:fire: Remove application migration strategic code
  .github/path-filter/terraform.yml
  configuration/ap_migration_apps.json
  terraform/application-migration/.terraform.lock.hcl
  terraform/application-migration/app-role-trusts.tf
  terraform/application-migration/backend.tf
  terraform/application-migration/data.tf
  terraform/application-migration/locals.tf
  terraform/application-migration/providers.tf
  terraform/application-migration/versions.tf
  terraform/github/application-migration/.terraform.lock.hcl
  terraform/github/application-migration/backend.tf
  terraform/github/application-migration/data.tf
  terraform/github/application-migration/locals.tf
  terraform/github/application-migration/main.tf
  terraform/github/application-migration/outputs.tf
  terraform/github/application-migration/providers.tf
  terraform/github/application-migration/versions.tf
Labels: none

:heavy_plus_sign: Add required JSON ]
  configuration/ap_migration_apps.json
Labels: none

:construction: Remove GitHub comp from path-filter
  .github/path-filter/terraform.yml
Labels: none

:rotating_light: Formatting
  configuration/ap_migration_apps.json
Labels: none

refactor athena_load_handler tests fix bare except
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/tests/unit/athena_load_handler_test.py
Labels: none

Set markdown as default for tech-doc templates
  .devcontainer/features/src/base/devcontainer-feature.json
Labels: devcontainer

Add changes to WoW
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/team/our-ceremonies.html.md.erb
  docs/source/documentation/team/ways-of-working.html.md.erb
  docs/source/documentation/team/wow-2.html.md.erb
Labels: documentation

:fire: Remove application migration strategic code (#2151)
  .github/path-filter/terraform.yml
  terraform/application-migration/.terraform.lock.hcl
  terraform/application-migration/app-role-trusts.tf
  terraform/application-migration/backend.tf
  terraform/application-migration/data.tf
  terraform/application-migration/locals.tf
  terraform/application-migration/providers.tf
  terraform/application-migration/versions.tf
  terraform/github/application-migration/.terraform.lock.hcl
  terraform/github/application-migration/backend.tf
  terraform/github/application-migration/data.tf
  terraform/github/application-migration/locals.tf
  terraform/github/application-migration/main.tf
  terraform/github/application-migration/outputs.tf
  terraform/github/application-migration/providers.tf
  terraform/github/application-migration/versions.tf
Labels: none

database name for DataProductElement.curated_data_table includes latest major version trim schema table desc and col comment to glue limits
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

🎡 Set Markdown as default for tech-docs (#2152)
  .devcontainer/features/src/base/devcontainer-feature.json
Labels: devcontainer

Remove tar Exclude kubeconform, doesn't work with Helm Exclude Helm charts from YAML linter
  .github/linters/.yaml-lint.yml
  .github/workflows/repository-github-super-linter.yml
  containers/actions-runner/Dockerfile
Labels: github-workflow

:truck: Move delete glue table funcion to its own base module
  containers/daap-python-base/src/var/task/glue_utils.py
Labels: none

Updating ignore syntax
  .github/linters/.yaml-lint.yml
Labels: none

:white_check_mark: Refactor delete table tests
  containers/daap-delete-table-for-data-product/tests/unit/conftest.py
  containers/daap-delete-table-for-data-product/tests/unit/mock_test.py
Labels: none

:fire: Refactor and remove code to VersionCreator class
  containers/daap-delete-table-for-data-product/src/var/task/delete_table.py
Labels: none

:sparkles: Now handles removing tables, data files, versioning and copying
  containers/daap-python-base/src/var/task/versioning.py
Labels: none

WOW Editorial Pass :pencil2:
  docs/source/documentation/team/wow-2.html.md.erb
Labels: documentation

:sparkles: Added new and refactored utility functions
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

Stealing Brian's support bit because I like it more
  docs/source/documentation/team/wow-2.html.md.erb
Labels: documentation

:fire: Remove unused fixture
  containers/daap-delete-table-for-data-product/tests/unit/conftest.py
Labels: none

Add standup runner
  docs/source/documentation/team/wow-2.html.md.erb
Labels: documentation

Add documentation
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/platform/infrastructure/self-hosted-runners.html.md.erb
Labels: documentation

wrong platform
  docs/source/documentation/platform/infrastructure/self-hosted-runners.html.md.erb
Labels: documentation

Update docs/source/documentation/platform/infrastructure/developing.html.md.erb
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
Labels: documentation

bump versions
  terraform/aws/analytical-platform-development/open-metadata/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
  terraform/aws/analytical-platform-development/open-metadata/terraform.tf
Labels: none

Remove Terrascan https://github.com/tenable/terrascan/issues/1589
  .github/workflows/repository-github-super-linter.yml
Labels: github-workflow

bump providers
  terraform/github/data-platform-2/.terraform.lock.hcl
  terraform/github/data-platform-2/terraform.tf
Labels: none

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"
