Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

Add branch protection for main
  terraform/github/data-platform-2/data-platform-repositories.tf
  terraform/github/data-platform-2/modules/repository/main.tf
  terraform/github/data-platform-2/modules/repository/variables.tf
Labels: none

Add and archive analytics-platform-infrastructure
  terraform/github/data-platform-2/data-platform-repositories.tf
Labels: none

🪄 Configuring AMG with Terraform (#2071)
  .github/workflows/repository-github-super-linter.yml
  terraform/aws/analytical-platform-development/open-metadata/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
  terraform/aws/analytical-platform-development/open-metadata/managed-grafana.tf
  terraform/aws/analytical-platform-development/open-metadata/terraform.tf
Labels: github-workflow

✨ Actions Runner deployment (#2049)
  .github/dependabot.yml
  .github/linters/.yaml-lint.yml
  .github/workflows/containers.yml
  .github/workflows/repository-github-super-linter.yml
  .github/workflows/reusable-workflow-terraform.yml
  .github/workflows/terraform.yml
  .gitignore
  containers/actions-runner/CHANGELOG.md
  containers/actions-runner/Dockerfile
  containers/actions-runner/config.json
  containers/actions-runner/src/usr/local/bin/actions-runner-utils/entrypoint.sh
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/platform/infrastructure/self-hosted-runners.html.md.erb
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-roles.tf
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/.terraform.lock.hcl
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/data.tf
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/helm-releases.tf
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/Chart.yaml
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/templates/_helpers.tpl
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/templates/deployment.yml
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/templates/secrets.yml
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/templates/service-account.yml
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/values.yaml
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/terraform.tf
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/terraform.tfvars
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/variables.tf
Labels: documentation, github-workflow

Remove full stops Update docs
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
Labels: documentation

📝 Update development documentation (#1897)
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
Labels: documentation

Add checkov and trivy skips
  terraform/github/data-platform-2/modules/repository/main.tf
Labels: none

docs for `PUT /data-product/{data-product-name}/table/{table-name}/sc… (#2139)
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: none

:recycle: Simplify update_metadata_remove_schemas
  containers/daap-python-base/src/var/task/versioning.py
Labels: none

:necktie: Validate on schema list rather than presence of schema key
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

:white_check_mark: Add test to validate deletion of schema.json file
  containers/daap-delete-table-for-data-product/tests/unit/mock_test.py
Labels: none

:loud_sound: Update success message
  containers/daap-delete-table-for-data-product/src/var/task/delete_table.py
Labels: none

:fire: Remove create table function as not needed at this time
  containers/daap-python-base/src/var/task/glue_utils.py
Labels: none

:white_check_mark: Updated spec folder version
  containers/daap-delete-table-for-data-product/tests/unit/conftest.py
Labels: none

:memo: Update python base change log and config with new version
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: none

import some repos
  terraform/github/data-platform-2/analytical-platform-repositories.tf
Labels: none

:busts_in_silhouette: Add kraihanmoj to data_engineering_aws_members
  terraform/github/data-platform/teams.tf
Labels: none

:test_tube: Fix python base tests to use s3_client
  containers/daap-athena-load/tests/unit/athena_load_handler_test.py
  containers/daap-python-base/tests/unit/conftest.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

clear defaults from glue schema template clarify function definition
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

linting
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

update changelogs and upversion
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: none

Update docs/source/documentation/team/wow-2.html.md.erb
  docs/source/documentation/team/wow-2.html.md.erb
Labels: documentation

Update docs/source/documentation/team/wow-2.html.md.erb
  docs/source/documentation/team/wow-2.html.md.erb
Labels: documentation

Update docs/source/documentation/team/wow-2.html.md.erb
  docs/source/documentation/team/wow-2.html.md.erb
Labels: documentation

Update docs/source/documentation/team/wow-2.html.md.erb
  docs/source/documentation/team/wow-2.html.md.erb
Labels: documentation

Update docs/source/documentation/team/wow-2.html.md.erb
  docs/source/documentation/team/wow-2.html.md.erb
Labels: documentation

Integrating suggested wording on refinement
  docs/source/documentation/team/wow-2.html.md.erb
Labels: documentation

disable security on archived repos further scope teams
  terraform/github/data-platform-2/analytical-platform-repositories.tf
  terraform/github/data-platform-2/analytical-platform-teams.tf
Labels: none

Add MI Platform
  terraform/github/data-platform-2/analytical-platform-teams.tf
Labels: none

Detect and reject early unprocessable CSV formats
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/config.json
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
  containers/daap-landing-to-raw/src/var/task/validation.py
  containers/daap-landing-to-raw/tests/unit/landing_to_raw_test.py
  containers/daap-landing-to-raw/tests/unit/validation_test.py
Labels: none

Reduce log level when table is first created
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
Labels: none

populated data-engineer teams
  terraform/github/data-platform-2/analytical-platform-teams.tf
Labels: none

Replaced og component Retired og modules and scripts
  terraform/github/.terraform.lock.hcl
  terraform/github/README.md
  terraform/github/analytical-platform-repositories.tf
  terraform/github/analytical-platform-teams.tf
  terraform/github/data-engineering-teams.tf
  terraform/github/data-platform-2/modules/repository/main.tf
  terraform/github/data-platform-2/modules/repository/outputs.tf
  terraform/github/data-platform-2/modules/repository/providers.tf
  terraform/github/data-platform-2/modules/repository/variables.tf
  terraform/github/data-platform-2/modules/team/main.tf
  terraform/github/data-platform-2/modules/team/outputs.tf
  terraform/github/data-platform-2/modules/team/providers.tf
  terraform/github/data-platform-2/modules/team/variables.tf
  terraform/github/data-platform-repositories.tf
  terraform/github/data-platform-teams.tf
  terraform/github/data-platform/.terraform.lock.hcl
  terraform/github/data-platform/backend.tf
  terraform/github/data-platform/data.tf
  terraform/github/data-platform/locals.tf
  terraform/github/data-platform/main.tf
  terraform/github/data-platform/providers.tf
  terraform/github/data-platform/teams.tf
  terraform/github/data-platform/versions.tf
  terraform/github/data.tf
  terraform/github/locals.tf
  terraform/github/modules/contributor/main.tf
  terraform/github/modules/contributor/providers.tf
  terraform/github/modules/contributor/variables.tf
  terraform/github/modules/repository/main.tf
  terraform/github/modules/repository/outputs.tf
  terraform/github/modules/repository/variables.tf
  terraform/github/modules/team/main.tf
  terraform/github/modules/team/outputs.tf
  terraform/github/modules/team/variables.tf
  terraform/github/scripts/mv-resources.sh
  terraform/github/terraform.tf
  terraform/github/terraform.tfvars
  terraform/github/variables.tf
Labels: none

Replace references to data-platform-2 Move ap_migrations_apps.json to OIDC Remove application migration workflow
  .github/path-filter/terraform.yml
  .github/workflows/configuration-workflow-terraform.yml
  terraform/aws/analytical-platform/oidc/configuration/ap_migration_apps.json
  terraform/aws/analytical-platform/oidc/locals.tf
Labels: github-workflow

Add kraihanmoj
  terraform/github/data-engineering-teams.tf
Labels: none

Detect and reject early unprocessable CSV formats (#2162)
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/config.json
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
  containers/daap-landing-to-raw/src/var/task/validation.py
  containers/daap-landing-to-raw/tests/unit/landing_to_raw_test.py
  containers/daap-landing-to-raw/tests/unit/validation_test.py
Labels: none

added `get_user_id` method and pass in column descriptions
  python-libraries/data-platform-catalogue/data_platform_catalogue/client.py
Labels: none

add from dict methods to entities
  python-libraries/data-platform-catalogue/data_platform_catalogue/entities.py
Labels: none

add tests for get_user_id and new entity methods
  python-libraries/data-platform-catalogue/tests/test_client.py
  python-libraries/data-platform-catalogue/tests/test_entities.py
Labels: none

upversion poetry
  python-libraries/data-platform-catalogue/poetry.lock
  python-libraries/data-platform-catalogue/pyproject.toml
Labels: none
