Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

✨ Add `ONBUILD` to DaaP Python Base (#2256)
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/Dockerfile
  containers/daap-python-base/config.json
Labels: none

fix and update get_schema lambda (#2261)
  containers/daap-get-schema/CHANGELOG.md
  containers/daap-get-schema/config.json
  containers/daap-get-schema/src/var/task/get_schema.py
  containers/daap-get-schema/tests/unit/mock_test.py
Labels: none

:construction: Dpl 2030 delete data product inital commit
  containers/daap-delete-data-product/CHANGELOG.md
  containers/daap-delete-data-product/Dockerfile
  containers/daap-delete-data-product/config.json
  containers/daap-delete-data-product/src/var/task/delete_data_product.py
Labels: none

Update
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/Dockerfile
Labels: none

Remove delete table schema references (#2257)
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: none

✨ Add `ONBUILD` to DaaP Python Base (#2256)
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/Dockerfile
  containers/daap-python-base/config.json
Labels: none

fix container dockerfiles: `LAMDA_TASK_ROOT` -> `LAMBDA_TASK_ROOT` (#2253)
  .github/workflows/reusable-workflow-containers.yml
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-authorizer/CHANGELOG.md
  containers/daap-authorizer/Dockerfile
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/Dockerfile
  containers/daap-create-schema/CHANGELOG.md
  containers/daap-create-schema/Dockerfile
  containers/daap-delete-table-for-data-product/CHANGELOG.md
  containers/daap-delete-table-for-data-product/Dockerfile
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/Dockerfile
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-glue-metadata/Dockerfile
  containers/daap-get-schema/CHANGELOG.md
  containers/daap-get-schema/Dockerfile
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/Dockerfile
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/Dockerfile
  containers/daap-preview-data/CHANGELOG.md
  containers/daap-preview-data/Dockerfile
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/Dockerfile
  containers/daap-reload-data-product/CHANGELOG.md
  containers/daap-reload-data-product/Dockerfile
  containers/daap-resync-unprocessed-files/CHANGELOG.md
  containers/daap-resync-unprocessed-files/Dockerfile
  containers/daap-update-metadata/CHANGELOG.md
  containers/daap-update-metadata/Dockerfile
  containers/daap-update-schema/CHANGELOG.md
  containers/daap-update-schema/Dockerfile
Labels: github-workflow

fix and update get_schema lambda (#2261)
  containers/daap-get-schema/CHANGELOG.md
  containers/daap-get-schema/config.json
  containers/daap-get-schema/src/var/task/get_schema.py
  containers/daap-get-schema/tests/unit/mock_test.py
Labels: none

Return text/plain preview instead of application/json (#2260)
  containers/daap-preview-data/CHANGELOG.md
  containers/daap-preview-data/config.json
  containers/daap-preview-data/src/var/task/preview_data.py
  containers/daap-preview-data/tests/unit/mock_test.py
Labels: none

Remove unreleased item
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-landing-to-raw/CHANGELOG.md
Labels: none

Fix malformed lamdba proxy response
  containers/daap-preview-data/CHANGELOG.md
  containers/daap-preview-data/config.json
  containers/daap-preview-data/src/var/task/preview_data.py
Labels: none

Add `ap-rshiny-notesbook`
  terraform/aws/analytical-platform/oidc/oidc-providers.tf
Labels: none

hack the list
  terraform/aws/analytical-platform/oidc/oidc-providers.tf
Labels: none

🛂 Adds `ap-rshiny-notesbook` to ECR trust (#2265)
  terraform/aws/analytical-platform/oidc/oidc-providers.tf
Labels: none

Switch to structured logging with Structlog
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_logging.py
  containers/daap-python-base/src/var/task/requirements.txt
  containers/daap-python-base/tests/unit/data_platform_logging_test.py
Labels: none

:recycle: Move delete_all_element_version_data_files to versioning module
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/versioning.py
Labels: none

Update Data Product tech docs (#2177)
  docs/source/documentation/data-products/components/data-cleansing-definitions.html.md.erb
  docs/source/documentation/data-products/components/data-dictionary-definitions.html.md.erb
  docs/source/documentation/data-products/components/data-transformation-definitions.html.md.erb
  docs/source/documentation/data-products/components/product-governance.html.md.erb
  docs/source/documentation/data-products/components/product-specification.html.md.erb
  docs/source/documentation/data-products/example_data_product/governance.yml
  docs/source/documentation/data-products/example_data_product/specification.yml
  docs/source/documentation/data-products/index.html.md.erb
  docs/source/documentation/data-products/product-versioning.html.md.erb
Labels: documentation

♻️ Refactor GitHub Terraform component (#1985)
  .github/dependabot.yml
  .github/path-filter/terraform.yml
  .github/workflows/configuration-workflow-terraform.yml
  .github/workflows/reusable-workflow-terraform.yml
  terraform/aws/analytical-platform/oidc/configuration/ap_migration_apps.json
  terraform/aws/analytical-platform/oidc/locals.tf
  terraform/github/.terraform.lock.hcl
  terraform/github/analytical-platform-repositories.tf
  terraform/github/analytical-platform-teams.tf
  terraform/github/data-engineering-teams.tf
  terraform/github/data-platform-repositories.tf
  terraform/github/data-platform-teams.tf
  terraform/github/data-platform/.terraform.lock.hcl
  terraform/github/data-platform/backend.tf
  terraform/github/data-platform/data.tf
  terraform/github/data-platform/locals.tf
  terraform/github/data-platform/main.tf
  terraform/github/data-platform/providers.tf
  terraform/github/data-platform/teams.tf
  terraform/github/data-platform/versions.tf
  terraform/github/data.tf
  terraform/github/locals.tf
  terraform/github/modules/contributor/main.tf
  terraform/github/modules/contributor/providers.tf
  terraform/github/modules/contributor/variables.tf
  terraform/github/modules/repository/main.tf
  terraform/github/modules/repository/outputs.tf
  terraform/github/modules/repository/variables.tf
  terraform/github/modules/team/main.tf
  terraform/github/modules/team/outputs.tf
  terraform/github/modules/team/variables.tf
  terraform/github/scripts/mv-resources.sh
  terraform/github/terraform.tf
  terraform/github/terraform.tfvars
  terraform/github/variables.tf
Labels: github-workflow

Updated docs (#2241)
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: none

Swagger docs update (#2250)
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: none

✨ Ways of Working 2.0 (#2153)
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/team/our-ceremonies.html.md.erb
  docs/source/documentation/team/ways-of-working.html.md.erb
Labels: documentation

Add data product name to the logger and update to latest base image in reload/resync lambdas (#2211)
  containers/daap-reload-data-product/CHANGELOG.md
  containers/daap-reload-data-product/Dockerfile
  containers/daap-reload-data-product/config.json
  containers/daap-reload-data-product/src/var/task/reload_data_product.py
  containers/daap-reload-data-product/tests/unit/reload_data_product_test.py
  containers/daap-resync-unprocessed-files/CHANGELOG.md
  containers/daap-resync-unprocessed-files/Dockerfile
  containers/daap-resync-unprocessed-files/config.json
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
  containers/daap-resync-unprocessed-files/tests/unit/conftest.py
  containers/daap-resync-unprocessed-files/tests/unit/resync_unprocessed_file_test.py
Labels: none

Remove delete table schema references (#2257)
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: none

Check csv for issues even if schema is not available (#2205)
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/config.json
  containers/daap-landing-to-raw/src/var/task/landing_to_raw.py
Labels: none

Dp 1797 update athena_load to use existing schema for curated table (#2156)
  .gitignore
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/tests/unit/athena_load_handler_test.py
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

🚑 Add `limit-severities-for-sarif` option to `aquasecurity/trivy-action` (#2254)
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

✨ Add `ONBUILD` to DaaP Python Base (#2256)
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/Dockerfile
  containers/daap-python-base/config.json
Labels: none

Return text/plain preview instead of application/json (#2260)
  containers/daap-preview-data/CHANGELOG.md
  containers/daap-preview-data/config.json
  containers/daap-preview-data/src/var/task/preview_data.py
  containers/daap-preview-data/tests/unit/mock_test.py
Labels: none

fix and update get_schema lambda (#2261)
  containers/daap-get-schema/CHANGELOG.md
  containers/daap-get-schema/config.json
  containers/daap-get-schema/src/var/task/get_schema.py
  containers/daap-get-schema/tests/unit/mock_test.py
Labels: none

fix container dockerfiles: `LAMDA_TASK_ROOT` -> `LAMBDA_TASK_ROOT` (#2253)
  .github/workflows/reusable-workflow-containers.yml
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-authorizer/CHANGELOG.md
  containers/daap-authorizer/Dockerfile
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/Dockerfile
  containers/daap-create-schema/CHANGELOG.md
  containers/daap-create-schema/Dockerfile
  containers/daap-delete-table-for-data-product/CHANGELOG.md
  containers/daap-delete-table-for-data-product/Dockerfile
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/Dockerfile
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-glue-metadata/Dockerfile
  containers/daap-get-schema/CHANGELOG.md
  containers/daap-get-schema/Dockerfile
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/Dockerfile
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/Dockerfile
  containers/daap-preview-data/CHANGELOG.md
  containers/daap-preview-data/Dockerfile
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/Dockerfile
  containers/daap-reload-data-product/CHANGELOG.md
  containers/daap-reload-data-product/Dockerfile
  containers/daap-resync-unprocessed-files/CHANGELOG.md
  containers/daap-resync-unprocessed-files/Dockerfile
  containers/daap-update-metadata/CHANGELOG.md
  containers/daap-update-metadata/Dockerfile
  containers/daap-update-schema/CHANGELOG.md
  containers/daap-update-schema/Dockerfile
Labels: github-workflow

🛂 Adds `ap-rshiny-notesbook` to ECR trust (#2265)
  terraform/aws/analytical-platform/oidc/oidc-providers.tf
Labels: none

:memo: Update python base change log and config with new version
  containers/daap-python-base/CHANGELOG.md
Labels: none

:memo: Update change logs and bump delete table version
  containers/daap-delete-table-for-data-product/CHANGELOG.md
  containers/daap-python-base/CHANGELOG.md
Labels: none

:memo: Update change logs and bump delete table version
  containers/daap-delete-table-for-data-product/CHANGELOG.md
Labels: none

📌 Patch containers (#2255)
  containers/alpine-base/CHANGELOG.md
  containers/alpine-base/Dockerfile
  containers/alpine-base/config.json
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/requirements.txt
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/Dockerfile
  containers/daap-landing-to-raw/config.json
  containers/daap-landing-to-raw/src/var/task/requirements.txt
  containers/kubectl/CHANGELOG.md
  containers/kubectl/Dockerfile
  containers/kubectl/config.json
Labels: none

:pushpin: Update python base image version
  containers/daap-athena-load/Dockerfile
  containers/daap-delete-table-for-data-product/Dockerfile
Labels: none

:construction: Delete table metadata versioning (#2132)
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/tests/unit/athena_load_handler_test.py
  containers/daap-delete-table-for-data-product/CHANGELOG.md
  containers/daap-delete-table-for-data-product/Dockerfile
  containers/daap-delete-table-for-data-product/config.json
  containers/daap-delete-table-for-data-product/src/var/task/delete_table.py
  containers/daap-delete-table-for-data-product/tests/unit/conftest.py
  containers/daap-delete-table-for-data-product/tests/unit/mock_test.py
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/src/var/task/glue_utils.py
  containers/daap-python-base/src/var/task/versioning.py
  containers/daap-python-base/tests/requirements.txt
  containers/daap-python-base/tests/unit/conftest.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
  containers/daap-python-base/tests/unit/versioning_test.py
Labels: none

tweak mapping of dataproducts, tables to omd databases, tables
  containers/daap-push-to-catalogue/src/var/task/push_to_catalogue.py
  containers/daap-push-to-catalogue/tests/unit/push_to_catalogue_test.py
Labels: none

:construction: Inital commit
  containers/daap-delete-data-product/src/var/task/delete_data_product.py
Labels: none

:construction: Inital Commit
  containers/daap-delete-data-product/src/var/task/delete_data_product.py
Labels: none
