Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

adding logging to python for base image to use in python lambdas (#1088)
  .github/path-filter/containers.yml
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/Dockerfile
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/.dependabot-pip-ignore
  containers/daap-python-base/src/var/task/data_platform_logging.py
  containers/daap-python-base/src/var/task/requirements.txt
Labels: none

:wrench: Add celery worker service account
  terraform/aws/analytical-platform-development/cluster/iam-roles.tf
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
  terraform/aws/analytical-platform-production/cluster/variables.tf
Labels: none

:wrench: Move variables to correct environment
  terraform/aws/analytical-platform-development/cluster/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/cluster/terraform.tfvars
  terraform/aws/analytical-platform-development/cluster/variables.tf
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
  terraform/aws/analytical-platform-production/cluster/variables.tf
Labels: none

🛠️ Add SQS to AP Development
  .github/dependabot.yml
  .github/path-filter/terraform.yml
  terraform/aws/analytical-platform-development/cluster/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/cluster/data.tf
  terraform/aws/analytical-platform-development/cluster/iam-policies.tf
  terraform/aws/analytical-platform-development/cluster/iam-roles.tf
  terraform/aws/analytical-platform-development/cluster/terraform.tfvars
  terraform/aws/analytical-platform-development/cluster/variables.tf
  terraform/aws/analytical-platform-development/control-panel-message-broker/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/control-panel-message-broker/data.tf
  terraform/aws/analytical-platform-development/control-panel-message-broker/iam-policies.tf
  terraform/aws/analytical-platform-development/control-panel-message-broker/locals.tf
  terraform/aws/analytical-platform-development/control-panel-message-broker/outputs.tf
  terraform/aws/analytical-platform-development/control-panel-message-broker/sqs.tf
  terraform/aws/analytical-platform-development/control-panel-message-broker/terraform.tf
  terraform/aws/analytical-platform-development/control-panel-message-broker/terraform.tfvars
  terraform/aws/analytical-platform-development/control-panel-message-broker/variables.tf
Labels: none

Bumped Alpine to 3.18.3
  containers/alpine-base/CHANGELOG.md
  containers/alpine-base/Dockerfile
  containers/alpine-base/config.json
  containers/daap-simulated-data-producer/Dockerfile
  containers/daap-simulated-data-producer/config.json
  containers/kubectl/CHANGELOG.md
  containers/kubectl/Dockerfile
  containers/kubectl/config.json
Labels: none

Actually save the file
  containers/daap-simulated-data-producer/CHANGELOG.md
Labels: none

Bumped py3-sqlalchemy
  containers/daap-simulated-data-producer/Dockerfile
Labels: none

Bumped curl
  containers/kubectl/Dockerfile
Labels: none

⛰️ Bump Alpine to 3.18.3 (#1120)
  containers/alpine-base/CHANGELOG.md
  containers/alpine-base/Dockerfile
  containers/alpine-base/config.json
  containers/daap-simulated-data-producer/CHANGELOG.md
  containers/daap-simulated-data-producer/Dockerfile
  containers/daap-simulated-data-producer/config.json
  containers/kubectl/CHANGELOG.md
  containers/kubectl/Dockerfile
  containers/kubectl/config.json
Labels: none

Add pre-commit
  .devcontainer/features/src/base/install.sh
  .devcontainer/features/src/git-tools/devcontainer-feature.json
  .devcontainer/features/src/git-tools/install-pre-commit.sh
  .devcontainer/features/src/git-tools/install.sh
  .devcontainer/features/test/git-tools/test.sh
Labels: devcontainer

append latest apps to ap_migration_apps_json
  configuration/ap_migration_apps.json
Labels: none

add configuration/ap_migration_apps.json path to tf workflow watched paths
  .github/workflows/terraform.yml
Labels: github-workflow

Move GitHub Extensions Add Infracost Remove data-engineering container, default to platform-engineering Add pre-commit config
  .devcontainer/devcontainer.json
  .devcontainer/features/src/git-tools/devcontainer-feature.json
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/platform-engineering/devcontainer.json
  .pre-commit-config.yaml
Labels: devcontainer

add new workflow for picking up ap-app-list changes
  .github/workflows/configuration-workflow-terraform.yml
Labels: github-workflow

remove config path from terraform workflow
  .github/workflows/terraform.yml
Labels: github-workflow

Add Terraform pre-commit
  .pre-commit-config.yaml
Labels: none

adding new apps from other PR
  configuration/ap_migration_apps.json
Labels: none

linting
  .github/workflows/configuration-workflow-terraform.yml
Labels: github-workflow

Add new workflow to track changes to app migration config (#1128)
  .github/workflows/configuration-workflow-terraform.yml
  configuration/ap_migration_apps.json
Labels: github-workflow

👥 Add Katie to team
  terraform/github/data-platform/teams.tf
Labels: none

Add detect-secrets
  .devcontainer/features/src/git-tools/devcontainer-feature.json
  .devcontainer/features/src/git-tools/install-detect-secrets.sh
  .devcontainer/features/src/git-tools/install.sh
  .devcontainer/features/test/git-tools/test.sh
Labels: devcontainer

Update doc
  .devcontainer/docs/DEVCONTAINER.md
Labels: devcontainer

Add infracost
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/features/src/terraform-tools/install-infracost.sh
  .devcontainer/features/src/terraform-tools/install.sh
  .devcontainer/features/test/git-tools/test.sh
  .devcontainer/features/test/pulumi-tools/test.sh
  .devcontainer/features/test/sast-tools/test.sh
  .devcontainer/features/test/terraform-tools/test.sh
Labels: devcontainer

Add completion and mount persistence for token
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/features/src/terraform-tools/install-infracost.sh
Labels: devcontainer

Update pre-commit
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
Labels: none

Remove detect-secrets
  .pre-commit-config.yaml
Labels: none

Remove secrets baseline
  .secrets.baseline
Labels: none

Update teams.tf
  terraform/github/data-platform/teams.tf
Labels: none

🔀 👥 Add Katie to team (#1133)
  terraform/github/data-platform/teams.tf
Labels: none

v1.1.0
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/athena_load_handler.py
Labels: none

Off board Louise :(
  terraform/github/data-platform/teams.tf
Labels: none

correct image path this time
  containers/daap-athena-load/Dockerfile
Labels: none

Retired old documentation Added development environment to technical documentation site Moved devcontainer script Add macOS ARM support to docs
  .devcontainer/docs/DEVCONTAINER.md
  .devcontainer/docs/img/vscode-devcontainer-ui.png
  docs/source/documentation/team/development-environment.html.md.erb
  docs/source/documentation/team/ways-of-working.html.md.erb
  scripts/devcontainer/feature-test.sh
  scripts/docs/docker.sh
Labels: documentation, devcontainer

Updating to developing
  CONTRIBUTING.md
  README.md
  docs/source/documentation/team/developing.html.md.erb
  docs/source/documentation/team/ways-of-working.html.md.erb
Labels: documentation

Fix natural language error
  CONTRIBUTING.md
Labels: none

linting
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/src/var/task/athena_load_handler.py
Labels: none

run black again
  containers/daap-athena-load/src/var/task/athena_load_handler.py
Labels: none

Updated README Updated CONTRIBUTING Exluded MD013
  CONTRIBUTING.md
  README.md
Labels: documentation

🎡 Dev Container updates (#1126)
  .devcontainer/devcontainer.json
  .devcontainer/docs/DEVCONTAINER.md
  .devcontainer/docs/img/vscode-devcontainer-ui.png
  .devcontainer/features/src/base/install.sh
  .devcontainer/features/src/git-tools/devcontainer-feature.json
  .devcontainer/features/src/git-tools/install-detect-secrets.sh
  .devcontainer/features/src/git-tools/install-pre-commit.sh
  .devcontainer/features/src/git-tools/install.sh
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/features/src/terraform-tools/install-infracost.sh
  .devcontainer/features/src/terraform-tools/install.sh
  .devcontainer/features/test/git-tools/test.sh
  .devcontainer/features/test/pulumi-tools/test.sh
  .devcontainer/features/test/sast-tools/test.sh
  .devcontainer/features/test/terraform-tools/test.sh
  .devcontainer/platform-engineering/devcontainer.json
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/source/documentation/team/developing.html.md.erb
  docs/source/documentation/team/ways-of-working.html.md.erb
  scripts/devcontainer/feature-test.sh
  scripts/docs/docker.sh
Labels: documentation, devcontainer

fix code block
  docs/source/documentation/team/developing.html.md.erb
Labels: documentation

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"
