Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

update tfsec
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

update tfsec
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

update tfsec
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

testing exclude path Adding tfsec ignores
  .github/workflows/reusable-workflow-terraform.yml
  terraform/aws/analytical-platform-development/open-metadata/efs.tf
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
  terraform/aws/analytical-platform-development/open-metadata/rds.tf
  terraform/aws/analytical-platform-development/open-metadata/vpc.tf
Labels: github-workflow

testing without path exclude
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

dammit broken indent
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

update
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Add Siva
  terraform/github/data-platform/teams.tf
Labels: none

🔀 Add Siva (#885)
  terraform/github/data-platform/teams.tf
Labels: none

Update formatting
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

🛂 Add Terraform static analysis (#866)
  .github/workflows/reusable-workflow-terraform.yml
  terraform/aws/analytical-platform-development/open-metadata/certificates.tf
  terraform/aws/analytical-platform-development/open-metadata/efs.tf
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-policies.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-roles.tf
  terraform/aws/analytical-platform-development/open-metadata/opensearch.tf
  terraform/aws/analytical-platform-development/open-metadata/rds.tf
  terraform/aws/analytical-platform-development/open-metadata/route53.tf
  terraform/aws/analytical-platform-development/open-metadata/security-groups.tf
  terraform/aws/analytical-platform-development/open-metadata/vpc.tf
Labels: github-workflow

Add tfsec
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/features/src/terraform-tools/install-tfsec.sh
  .devcontainer/features/src/terraform-tools/install.sh
  .devcontainer/features/test/terraform-tools/test.sh
Labels: devcontainer

update event keys
  containers/daap-athena-load/src/var/task/athena_load_handler.py
Labels: none

up version
  containers/daap-athena-load/config.json
Labels: none

add image version env var and log
  containers/daap-athena-load/src/var/task/athena_load_handler.py
Labels: none

Update athena_load_handler.py
  containers/daap-athena-load/src/var/task/athena_load_handler.py
Labels: none

Add pip install function Install Pip Add SAST tools feature
  .devcontainer/features/src/base/devcontainer-utils
  .devcontainer/features/src/base/install.sh
  .devcontainer/features/src/sast-tools/devcontainer-feature.json
  .devcontainer/features/src/sast-tools/install-checkov.sh
  .devcontainer/features/src/sast-tools/install-trivy.sh
  .devcontainer/features/src/sast-tools/install.sh
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/features/test/sast-tools/test.sh
  .github/workflows/path-filter/devcontainer.yml
Labels: github-workflow, devcontainer

v1.0.2 updates
  containers/daap-athena-load/CHANGELOG.md
Labels: none

Upgrade pip Add pip test Add pip to test Dockerfile
  .devcontainer/features/src/base/install.sh
  .devcontainer/features/test/Dockerfile
  .devcontainer/features/test/base/test.sh
Labels: devcontainer

add version function
  .devcontainer/features/src/sast-tools/install-checkov.sh
Labels: devcontainer

Add hadolint ignores
  .devcontainer/features/test/Dockerfile
Labels: devcontainer

ignore DL3008
  .devcontainer/features/test/Dockerfile
Labels: devcontainer

Add SAST feature
  .devcontainer/platform-engineering/devcontainer.json
Labels: devcontainer

🎡 Add IaC scanning tooling to dev container (#888)
  .devcontainer/features/src/base/devcontainer-utils
  .devcontainer/features/src/base/install.sh
  .devcontainer/features/src/sast-tools/devcontainer-feature.json
  .devcontainer/features/src/sast-tools/install-checkov.sh
  .devcontainer/features/src/sast-tools/install-trivy.sh
  .devcontainer/features/src/sast-tools/install.sh
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/features/src/terraform-tools/install-tfsec.sh
  .devcontainer/features/src/terraform-tools/install.sh
  .devcontainer/features/test/Dockerfile
  .devcontainer/features/test/base/test.sh
  .devcontainer/features/test/sast-tools/test.sh
  .devcontainer/features/test/terraform-tools/test.sh
  .devcontainer/platform-engineering/devcontainer.json
  .github/workflows/path-filter/devcontainer.yml
Labels: github-workflow, devcontainer

Athena load update event keys (#889)
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/athena_load_handler.py
Labels: none

remove inputs Assume admin role to get secret Update layout
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

add authorizer and presigne-url containers
  .github/workflows/path-filter/containers.yml
  containers/daap-authorizer/CHANGELOG.md
  containers/daap-authorizer/Dockerfile
  containers/daap-authorizer/config.json
  containers/daap-authorizer/src/var/task/authorizer.py
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/Dockerfile
  containers/daap-presigned-url/config.json
  containers/daap-presigned-url/src/var/task/presigned_url.py
  containers/daap-presigned-url/src/var/task/requirements.txt
Labels: github-workflow

update github-token reference
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

appeasing the trash panda
  containers/daap-authorizer/src/var/task/authorizer.py
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

appeasing the trash panda
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

🔀 💚 Obtain GitHub robot token from AWS (#903)
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

bump boto3 and botocore versions
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-glue-metadata/src/var/task/requirements.txt
  containers/daap-presigned-url/src/var/task/requirements.txt
Labels: none

Testing multiple assumption
  .github/workflows/reusable-workflow-terraform.yml
  terraform/aws/analytical-platform-data-production/airflow/README.md
Labels: github-workflow

remive test
  terraform/aws/analytical-platform-data-production/airflow/README.md
Labels: none

bump python and libraries versions
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/requirements.txt
Labels: none

bump boto3 and botocore versions
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-glue-metadata/src/var/task/requirements.txt
  containers/daap-presigned-url/src/var/task/requirements.txt
Labels: none

appeasing the trash panda
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

appeasing the trash panda
  containers/daap-authorizer/src/var/task/authorizer.py
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

add authorizer and presigne-url containers
  .github/workflows/path-filter/containers.yml
  containers/daap-authorizer/CHANGELOG.md
  containers/daap-authorizer/Dockerfile
  containers/daap-authorizer/config.json
  containers/daap-authorizer/src/var/task/authorizer.py
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/Dockerfile
  containers/daap-presigned-url/config.json
  containers/daap-presigned-url/src/var/task/presigned_url.py
  containers/daap-presigned-url/src/var/task/requirements.txt
Labels: github-workflow

🔀 💚 AWS Assumption (#905)
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow
