Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

add example regex to gitleaks allow
  .github/linters/.gitleaks.toml
Labels: none

:memo: Update presigned url change log
  containers/daap-presigned-url/CHANGELOG.md
Labels: none

:memo: Update python base change log
  containers/daap-python-base/CHANGELOG.md
Labels: none

Add get-schema lambda (#1793)
  containers/daap-get-schema/CHANGELOG.md
  containers/daap-get-schema/Dockerfile
  containers/daap-get-schema/config.json
  containers/daap-get-schema/src/var/task/.dependabot-pip-ignore
  containers/daap-get-schema/src/var/task/get_schema.py
  containers/daap-get-schema/src/var/task/requirements.txt
  containers/daap-get-schema/tests/requirements.txt
  containers/daap-get-schema/tests/unit/__init__.py
  containers/daap-get-schema/tests/unit/conftest.py
  containers/daap-get-schema/tests/unit/mock_test.py
Labels: none

update create_metadata lambda (#1763)
  .github/linters/.gitleaks.toml
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/config.json
  containers/daap-create-metadata/src/var/task/create_metadata.py
  containers/daap-create-metadata/tests/requirements-dev.txt
  containers/daap-create-metadata/tests/unit/conftest.py
  containers/daap-create-metadata/tests/unit/create_metadata_test.py
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: none

:memo: Update python base change log for additional failing test refactor
  containers/daap-python-base/CHANGELOG.md
Labels: none

:white_check_mark: Resolve failing tests
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
  containers/daap-python-base/tests/unit/infer_glue_schema_test.py
Labels: none

:memo: Additional test_invalid_file_extension
  containers/daap-presigned-url/CHANGELOG.md
Labels: none

:test_tube: Test for presence of file extension in filename
  containers/daap-presigned-url/src/var/task/presigned_url.py
  containers/daap-presigned-url/tests/unit/mock_test.py
Labels: none

:bookmark: Update version configs
  containers/daap-presigned-url/Dockerfile
  containers/daap-presigned-url/config.json
  containers/daap-python-base/config.json
Labels: none

:rotating_light: Fix linter warnings
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/tests/unit/mock_test.py
  containers/daap-python-base/CHANGELOG.md
Labels: none

:rotating_light: Shorten changelog line lengths
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-python-base/CHANGELOG.md
Labels: none

Pinning Terraform at 1.5.7
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

Pinning devcontainer Terraform at 1.5.7
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
Labels: devcontainer

Remove JSON comment Correct version logic
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/features/src/terraform-tools/install-terraform-switcher.sh
Labels: devcontainer

🔀 📌 Pin Terraform at 1.5.7 (#1837)
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/features/src/terraform-tools/install-terraform-switcher.sh
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow, devcontainer

Update to the latest base image
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/Dockerfile
Labels: none

Update to the latest base image (#1838)
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/Dockerfile
Labels: none

:recycle: Refactor to include review suggestions
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/src/var/task/presigned_url.py
  containers/daap-presigned-url/tests/unit/mock_test.py
  containers/daap-python-base/CHANGELOG.md
Labels: none

Add Microsoft Live Share extension
  .devcontainer/features/src/git-tools/devcontainer-feature.json
Labels: devcontainer

:sparkles: Support file extension in paths
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
  containers/daap-python-base/tests/unit/infer_glue_schema_test.py
Labels: none

🎡 Add Microsoft Live Share extension (#1840)
  .devcontainer/features/src/git-tools/devcontainer-feature.json
Labels: devcontainer

add input data to initialiser and run validation on init too
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

update tests for validate change
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

:sparkles: Support file extension in paths (#1841)
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
  containers/daap-python-base/tests/unit/infer_glue_schema_test.py
Labels: none

move `table_name` to base class
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

:sparkles: Add gitmoji
  .devcontainer/devcontainer.json
  .devcontainer/features/src/base/devcontainer-utils
  .devcontainer/features/src/git-tools/devcontainer-feature.json
  .devcontainer/features/src/git-tools/install-gitmoji.sh
  .devcontainer/features/src/git-tools/install.sh
  .devcontainer/features/test/git-tools/test.sh
Labels: devcontainer

:fire: Remove python base changes to seperate PR
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
  containers/daap-python-base/tests/unit/infer_glue_schema_test.py
Labels: none

:arrow_up: Bump python base version 3.3.0
  containers/daap-presigned-url/Dockerfile
Labels: none

:wrench: Update Dockerfile
  .devcontainer/features/test/Dockerfile
Labels: devcontainer

:rotating_light: Linting
  .devcontainer/features/src/git-tools/install.sh
  .devcontainer/features/test/Dockerfile
Labels: devcontainer

✨ Add gitmoji + Node to `devcontainer` (#1842)
  .devcontainer/devcontainer.json
  .devcontainer/features/src/base/devcontainer-utils
  .devcontainer/features/src/git-tools/devcontainer-feature.json
  .devcontainer/features/src/git-tools/install-gitmoji.sh
  .devcontainer/features/src/git-tools/install.sh
  .devcontainer/features/test/Dockerfile
  .devcontainer/features/test/git-tools/test.sh
Labels: devcontainer

Add dpls
  .github/workflows/github-issues-create-epic-label.yml
Labels: github-workflow

Removed the filter
  .github/workflows/github-issues-create-epic-label.yml
Labels: github-workflow

Add data platform labs to create epic filter (#1844)
  .github/workflows/github-issues-create-epic-label.yml
Labels: github-workflow

Dp 1618 Preserve file extensions (#1831)
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/Dockerfile
  containers/daap-presigned-url/config.json
  containers/daap-presigned-url/src/var/task/presigned_url.py
  containers/daap-presigned-url/tests/unit/mock_test.py
Labels: none

added get_new_version function to paths
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

added load method to base class and schema class now looks whether schemas key exists in parent metadata. Plus write_key now passed to write method
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

updated tests for paths and metadata
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none

lint
  containers/daap-python-base/src/var/task/data_product_metadata.py
Labels: none

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"
