Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

Add workflow to create a label to correspond to an epic.
  .github/workflows/data-platform-create-epic-label.yml
  .gitignore
Labels: github-workflow

Update Data as a Product page (#1691)
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/platform/images/daap-athena-load.excalidraw.png
  docs/source/documentation/platform/images/daap-data-flow-architecture.excalidraw.png
  docs/source/documentation/platform/images/data-platform-data-flow.png
  docs/source/documentation/platform/infrastructure/run-data-product-in-platform.html.md.erb
Labels: documentation

Adding some extra triggers for testing.
  .github/workflows/data-platform-create-epic-label.yml
Labels: github-workflow

Removing extra triggers.
  .github/workflows/data-platform-create-epic-label.yml
Labels: github-workflow

Adding Yikang to the Core Infra team
  terraform/github/data-platform/teams.tf
Labels: none

remove tfsec and make trivy workflow (#1692)
  .github/workflows/reusable-workflow-terraform.yml
  .github/workflows/trivy.yml
  terraform/pagerduty/terraform.tf
Labels: github-workflow

Adding some extra triggers for testing.
  .github/workflows/data-platform-create-epic-label.yml
Labels: github-workflow

Add workflow to create a label to correspond to an epic.
  .github/workflows/data-platform-create-epic-label.yml
  .gitignore
Labels: github-workflow

Removing extra triggers.
  .github/workflows/data-platform-create-epic-label.yml
Labels: github-workflow

Update Epic description with issue link
  .github/workflows/data-platform-update-epic-descriptions.yml
Labels: github-workflow

Update Epic description with issue link
  .github/workflows/data-platform-update-epic-descriptions.yml
Labels: github-workflow

Change how I look up label name.
  .github/workflows/data-platform-update-epic-descriptions.yml
Labels: github-workflow

Troubleshooting Epic Description Update workflow (#1708)
  .github/workflows/data-platform-update-epic-descriptions.yml
Labels: github-workflow

Debugging workflow.
  .github/workflows/data-platform-update-epic-descriptions.yml
Labels: github-workflow

Change log to error level
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
Labels: none

Refactor create_curated_athena_table in athena data load lambda (#1653)
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
  containers/daap-athena-load/tests/unit/conftest.py
  containers/daap-athena-load/tests/unit/create_curated_athena_table_test.py
  containers/daap-athena-load/tests/unit/infer_glue_schema_test.py
Labels: none

Adding Yikang to the Core Infra team (#1703)
  terraform/github/data-platform/teams.tf
Labels: none

change null value in read_csv convert options
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
Labels: none

add further test scenarios for infer schema
  containers/daap-athena-load/tests/unit/infer_glue_schema_test.py
Labels: none

move infer schema and tests to daap-python-base
  containers/daap-python-base/src/var/task/infer_glue_schema.py
  containers/daap-python-base/tests/unit/infer_glue_schema_test.py
Labels: none

add infer schema fictures to conftest
  containers/daap-python-base/tests/unit/conftest.py
Labels: none

add requirements for infer schema
  containers/daap-python-base/src/var/task/requirements.txt
Labels: none

Update platform-pagerduty-rota-to-slack.yml
  .github/workflows/platform-pagerduty-rota-to-slack.yml
Labels: github-workflow

and pyarrow...
  containers/daap-python-base/src/var/task/requirements.txt
Labels: none

🔀 Update platform-pagerduty-rota-to-slack.yml (#1747)
  .github/workflows/platform-pagerduty-rota-to-slack.yml
Labels: github-workflow

2.2.0 daap-python-base changelog and config
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: none

1.2.0 daap-athena-load changelog and config
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
Labels: none

lint
  containers/daap-athena-load/CHANGELOG.md
Labels: none

lint
  containers/daap-python-base/CHANGELOG.md
Labels: none

remove redundant fixture
  containers/daap-athena-load/tests/unit/conftest.py
Labels: none

Dpl 1317 infer schema to base (#1745)
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
  containers/daap-athena-load/tests/unit/conftest.py
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/infer_glue_schema.py
  containers/daap-python-base/src/var/task/requirements.txt
  containers/daap-python-base/tests/unit/conftest.py
  containers/daap-python-base/tests/unit/infer_glue_schema_test.py
Labels: none

bump base image to 2.2.0
  containers/daap-athena-load/Dockerfile
Labels: none

update changelog and config to 1.2.1
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
Labels: none

Upversion daap athena load (#1759)
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/config.json
Labels: none

Changed directory structure
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/conftest.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

Bump version number
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: none

Update containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/CHANGELOG.md
Labels: none

Removed unneeded error class
  containers/daap-python-base/src/var/task/data_platform_paths.py
Labels: none

Trying to fix nocredentialserror
  containers/daap-python-base/tests/unit/conftest.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

Fixing isort
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none
