Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

Fixed lint errors
  containers/daap-presigned-url/src/var/task/presigned_url.py
  containers/daap-presigned-url/tests/unit/mock_test.py
Labels: none

Lint errors
  containers/daap-presigned-url/src/var/task/presigned_url.py
Labels: none

ignore daap
  .github/dependabot.yml
  containers/daap-athena-load/.dependabot-docker-ignore
  containers/daap-athena-load/tests/.dependabot-pip-ignore
  containers/daap-authorizer/.dependabot-docker-ignore
  containers/daap-create-metadata/.dependabot-docker-ignore
  containers/daap-docs/.dependabot-docker-ignore
  containers/daap-get-glue-metadata/.dependabot-docker-ignore
  containers/daap-get-glue-metadata/tests/.dependabot-pip-ignore
  containers/daap-presigned-url/.dependabot-docker-ignore
  containers/daap-presigned-url/tests/.dependabot-pip-ignore
  containers/daap-python-base/.dependabot-docker-ignore
  containers/daap-python-base/tests/.dependabot-pip-ignore
  containers/daap-reload-data-product/.dependabot-docker-ignore
  containers/daap-reload-data-product/tests/.dependabot-pip-ignore
  containers/daap-resync-unprocessed-files/.dependabot-docker-ignore
  containers/daap-simulated-data-producer/.dependabot-docker-ignore
  scripts/dependabot/configuration-generator.sh
Labels: none

linter
  scripts/dependabot/configuration-generator.sh
Labels: none

linter
  scripts/dependabot/configuration-generator.sh
Labels: none

address comments
  .github/dependabot.yml
  scripts/dependabot/configuration-generator.sh
  terraform/aws/analytical-platform-data-production/airflow/files/.dependabot-pip-ignore
Labels: none

Dpl 1334 update logger (#1550)
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/create_raw_athena_table.py
  containers/daap-athena-load/tests/unit/create_curated_athena_table_test.py
  containers/daap-athena-load/tests/unit/create_raw_athena_table_test.py
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/Dockerfile
  containers/daap-create-metadata/config.json
  containers/daap-create-metadata/src/var/task/create_metadata.py
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/Dockerfile
  containers/daap-presigned-url/config.json
  containers/daap-presigned-url/src/var/task/presigned_url.py
  containers/daap-presigned-url/tests/requirements.txt
  containers/daap-presigned-url/tests/unit/mock_test.py
Labels: none

initial commit
  containers/daap-create-metadata/src/var/task/create_metadata.py
  containers/daap-create-metadata/tests/requirements.txt
  containers/daap-create-metadata/tests/unit/conftest.py
  containers/daap-create-metadata/tests/unit/create_metadata_test.py
Labels: none

Upversioned container
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/config.json
Labels: none

Add users
  terraform/github/data-platform/teams.tf
Labels: none

🫂 Add team members (#1598)
  terraform/github/data-platform/teams.tf
Labels: none

Add has_discussions for data-platform
  terraform/github/modules/repository/main.tf
Labels: none

Updating GitHub component to trigger change
  terraform/github/data-platform/locals.tf
Labels: none

✨ add epic-template.yml
  .github/ISSUE_TEMPLATE/epic-template.yml
Labels: none

🔀 ✨ add epic-template.yml (#1606)
  .github/ISSUE_TEMPLATE/epic-template.yml
Labels: none

🗣️ Add GitHub Discussions (#1601)
  terraform/github/data-platform/locals.tf
  terraform/github/modules/repository/main.tf
Labels: none

:bug: Fix issue template format
  .github/ISSUE_TEMPLATE/epic-template.yml
Labels: none

:rotating_light: Fix linting
  .github/ISSUE_TEMPLATE/epic-template.yml
Labels: none

:bug: Fix Epic issue template format (#1607)
  .github/ISSUE_TEMPLATE/epic-template.yml
Labels: none

add dependabot ignore files for daap (#1552)
  .github/dependabot.yml
  scripts/dependabot/configuration-generator.sh
  terraform/aws/analytical-platform-data-production/airflow/files/.dependabot-pip-ignore
Labels: none

Add Apps and Tools Dev EKS
  .devcontainer/features/src/kubernetes-tools/src/home/vscode/.kube/config
Labels: devcontainer

fix my mistakes
  .devcontainer/features/src/kubernetes-tools/src/home/vscode/.kube/config
Labels: devcontainer

Refactor paths module
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

Fabien access test
  eleventy-prototype/_site/index.html
  eleventy-prototype/_site/search.json
  eleventy-prototype/docs/index.md
Labels: none

Updated homepage title and description
  eleventy-prototype/_site/about/index.html
  eleventy-prototype/_site/analytical platform/analytical-platform/index.html
  eleventy-prototype/_site/blog/index.html
  eleventy-prototype/_site/cookies/index.html
  eleventy-prototype/_site/data platform/data-platform/index.html
  eleventy-prototype/_site/index.html
  eleventy-prototype/_site/search.json
  eleventy-prototype/_site/support/index.html
  eleventy-prototype/_site/support/request-ap-support/index.html
  eleventy-prototype/_site/support/request-dp-support/index.html
  eleventy-prototype/_site/tech docs/ADRs/ADR000/index.html
  eleventy-prototype/_site/tech docs/ADRs/ADR001/index.html
  eleventy-prototype/_site/tech docs/ADRs/ADR002/index.html
  eleventy-prototype/_site/tech docs/ADRs/ADR003/index.html
  eleventy-prototype/_site/tech docs/ADRs/ADR004/index.html
  eleventy-prototype/_site/tech docs/ADRs/ADR005/index.html
  eleventy-prototype/_site/tech docs/ADRs/index.html
  eleventy-prototype/_site/tech docs/diagrams/architecture-diagrams/index.html
  eleventy-prototype/_site/tech docs/infrastructure/index.html
  eleventy-prototype/_site/tech docs/tech-docs/index.html
  eleventy-prototype/docs/index.md
  eleventy-prototype/eleventy.config.js
Labels: none

added _site and node_modules to .gitignore
  eleventy-prototype/_includes/layouts/collection.njk
  eleventy-prototype/_site/analytical platform/analytical-platform/index.html
  eleventy-prototype/_site/support/index.html
  eleventy-prototype/_site/tech docs/ADRs/index.html
  eleventy-prototype/_site/tech docs/tech-docs/index.html
Labels: none

added _site and node_modules to .gitignore
  .gitignore
Labels: none

📊 add issue metrics gh action
  .github/issue-metrics.yml
  docs/source/documentation/diagrams/data-platform-wardley.wm
Labels: documentation

🔥 Delete docs/source/documentation/diagrams/data-platform-wardley.wm
  docs/source/documentation/diagrams/data-platform-wardley.wm
Labels: documentation

:wrench: Correct search query
  .github/issue-metrics.yml
Labels: none

🔀 ⛴️ Add Apps and Tools Dev EKS (#1616)
  .devcontainer/features/src/kubernetes-tools/src/home/vscode/.kube/config
Labels: devcontainer

:rotating_light: Fix format
  .github/issue-metrics.yml
Labels: none

updated homepage
  eleventy-prototype/_site/index.html
  eleventy-prototype/_site/search.json
  eleventy-prototype/docs/index.md
Labels: none

:wrench: Update epic template
  .github/ISSUE_TEMPLATE/epic-template.yml
Labels: none

:rotating_light: Remove office space
  .github/ISSUE_TEMPLATE/epic-template.yml
Labels: none

Tidy up data_platform_paths module
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

🔀 Apply suggestions from code review
  .github/issue-metrics.yml
Labels: none

:truck: Move workflow to correct folder
  .github/workflows/issue-metrics.yml
Labels: github-workflow

🔀 📊 add issue metrics gh action (#1617)
  .github/workflows/issue-metrics.yml
Labels: github-workflow

:wrench: Update epic template (#1619)
  .github/ISSUE_TEMPLATE/epic-template.yml
Labels: none

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"
