Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

🔀 Open Metadata EKS (#643)
  .github/dependabot.yml
  scripts/eks/terraform-authentication.sh
  terraform/aws/analytical-platform-development/open-metadata/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/open-metadata/certificates.tf
  terraform/aws/analytical-platform-development/open-metadata/data.tf
  terraform/aws/analytical-platform-development/open-metadata/efs.tf
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
  terraform/aws/analytical-platform-development/open-metadata/helm-charts.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-policies.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-roles.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernete-storageclass.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-namespace.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-pv.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-pvc.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-resources.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-secrets.tf
  terraform/aws/analytical-platform-development/open-metadata/locals.tf
  terraform/aws/analytical-platform-development/open-metadata/opensearch.tf
  terraform/aws/analytical-platform-development/open-metadata/random.tf
  terraform/aws/analytical-platform-development/open-metadata/rds.tf
  terraform/aws/analytical-platform-development/open-metadata/route53.tf
  terraform/aws/analytical-platform-development/open-metadata/security-groups.tf
  terraform/aws/analytical-platform-development/open-metadata/src/helm/aws-efs-csi-driver/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/aws-load-balancer-controller/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/cert-manager/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/cluster-autoscaler/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/external-dns/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/openmetadata-dependencies/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/openmetadata/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/terraform.tf
  terraform/aws/analytical-platform-development/open-metadata/terraform.tfvars
  terraform/aws/analytical-platform-development/open-metadata/variables.tf
  terraform/aws/analytical-platform-development/open-metadata/vpc.tf
Labels: none

🔀 🚑 Fix ECR login (#729)
  .github/workflows/reusable-workflow-containers.yml
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
Labels: github-workflow

Co-authored-by: Jeremy Collins <jemnery@users.noreply.github.com>
  docs/source/documentation/diagrams/c4-model-level2-mvp.excalidraw.png
Labels: documentation

:memo: Add TechDocTemplate section
  README.md
Labels: documentation

:memo: Add MVP description and diagram
  docs/source/documentation/diagrams/architecture-diagrams.html.md.erb
Labels: documentation

:art: Fix case, center, straighten objects
  docs/source/documentation/diagrams/c4-model-level2-mvp.excalidraw.png
Labels: documentation

:memo: Fix formatting
  docs/source/documentation/diagrams/architecture-diagrams.html.md.erb
Labels: documentation

:memo: Editing structure
  docs/source/documentation/diagrams/architecture-diagrams.html.md.erb
Labels: documentation

🚨 Fix linter warnings
  README.md
Labels: documentation

🚨 fix terminology
  README.md
Labels: documentation

🚨 fix markdown errors
  README.md
Labels: documentation

🚨 MD013 line-length Line length
  README.md
Labels: documentation

👥 Add live collaboration info
  docs/source/documentation/diagrams/architecture-diagrams.html.md.erb
Labels: documentation

📐 Fix arrow names and name idam
  docs/source/documentation/diagrams/c4-model-level2-mvp.excalidraw.png
Labels: documentation

📝 formatting
  docs/source/documentation/diagrams/architecture-diagrams.html.md.erb
Labels: documentation

📝 format contributing
  docs/source/documentation/diagrams/architecture-diagrams.html.md.erb
Labels: documentation

🔀 📐 Adds MVP level 2 diagram (#737)
  README.md
  docs/source/documentation/diagrams/architecture-diagrams.html.md.erb
  docs/source/documentation/diagrams/c4-model-level1.excalidraw.png
  docs/source/documentation/diagrams/c4-model-level2-mvp.excalidraw.png
  docs/source/documentation/diagrams/c4-model-level2.excalidraw.png
  docs/source/documentation/diagrams/c4-model-level3-data-product.excalidraw.png
Labels: documentation

Remove rolled-off contractors from DE roles
  terraform/github/data-platform/teams.tf
Labels: none

Remove rolled-off contractors from DE roles (#754)
  terraform/github/data-platform/teams.tf
Labels: none

Update architecture-diagrams.html.md.erb
  docs/source/documentation/diagrams/architecture-diagrams.html.md.erb
Labels: documentation

updates to `infer_glue_schema`
  containers/daap-athena-load/src/var/task/athena_load_handler.py
Labels: none

for version 1.0.0
  containers/daap-athena-load/CHANGELOG.md
Labels: none

upversion config
  containers/daap-athena-load/config.json
Labels: none

Update architecture-diagrams.html.md.erb (#755)
  docs/source/documentation/diagrams/architecture-diagrams.html.md.erb
Labels: documentation

Remove deprecated argument
  terraform/aws/analytical-platform-production/cluster/rds.tf
Labels: none

Disable automatic management of root user
  terraform/aws/analytical-platform-production/cluster/rds.tf
Labels: none

Forgot to set it to false, oops
  terraform/aws/analytical-platform-production/cluster/rds.tf
Labels: none

Fix
  terraform/aws/analytical-platform-development/cluster/rds.tf
Labels: none

Update daap athena load (#756)
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
  containers/daap-athena-load/src/var/task/athena_load_handler.py
Labels: none

Refactored OIDC
  .github/workflows/terraform-aws-analytical-platform-oidc.yml
  terraform/aws/analytical-platform/oidc/.terraform.lock.hcl
  terraform/aws/analytical-platform/oidc/configuration/assumable-roles.json
  terraform/aws/analytical-platform/oidc/data.tf
  terraform/aws/analytical-platform/oidc/github-oidc-assumable-roles.tf
  terraform/aws/analytical-platform/oidc/iam-roles.tf
  terraform/aws/analytical-platform/oidc/locals.tf
  terraform/aws/analytical-platform/oidc/oidc-providers.tf
  terraform/aws/analytical-platform/oidc/outputs.tf
  terraform/aws/analytical-platform/oidc/plan.out
  terraform/aws/analytical-platform/oidc/terraform.tf
  terraform/aws/analytical-platform/oidc/terraform.tfvars
  terraform/aws/analytical-platform/oidc/variables.tf
  terraform/oidc/backend.tf
  terraform/oidc/data.tf
  terraform/oidc/github-actions-deployment-roles.tf
  terraform/oidc/github-oidc-assumable-roles.tf
  terraform/oidc/oidc-providers.tf
  terraform/oidc/providers.tf
  terraform/oidc/versions.tf
Labels: github-workflow

Fix workflow name
  .github/workflows/terraform-aws-analytical-platform-oidc.yml
Labels: github-workflow

Update path
  .github/workflows/terraform-aws-analytical-platform-oidc.yml
Labels: github-workflow

Fix AP migration configuration location
  terraform/aws/analytical-platform/oidc/locals.tf
Labels: none

Bumped versions
  terraform/aws/analytical-platform/oidc/.terraform.lock.hcl
  terraform/aws/analytical-platform/oidc/data.tf
  terraform/aws/analytical-platform/oidc/iam-roles.tf
  terraform/aws/analytical-platform/oidc/oidc-providers.tf
  terraform/aws/analytical-platform/oidc/oidc-roles.tf
  terraform/aws/analytical-platform/oidc/plan.out
  terraform/aws/analytical-platform/oidc/terraform.tf
  terraform/aws/analytical-platform/oidc/terraform.tfvars
Labels: none

Updated to be deployment_roles
  terraform/aws/analytical-platform/oidc/iam-roles.tf
  terraform/aws/analytical-platform/oidc/locals.tf
Labels: none

order
  terraform/aws/analytical-platform/oidc/data.tf
  terraform/aws/analytical-platform/oidc/iam-roles.tf
  terraform/aws/analytical-platform/oidc/locals.tf
  terraform/aws/analytical-platform/oidc/oidc-providers.tf
  terraform/aws/analytical-platform/oidc/oidc-roles.tf
  terraform/aws/analytical-platform/oidc/terraform.tf
Labels: none

Bump modules Add outputs back
  terraform/aws/analytical-platform/oidc/iam-roles.tf
  terraform/aws/analytical-platform/oidc/oidc-providers.tf
  terraform/aws/analytical-platform/oidc/outputs.tf
Labels: none

🔀 ♻️ Refactor OIDC (#757)
  .github/dependabot.yml
  .github/workflows/terraform-aws-analytical-platform-oidc.yml
  terraform/aws/analytical-platform/oidc/.terraform.lock.hcl
  terraform/aws/analytical-platform/oidc/configuration/assumable-roles.json
  terraform/aws/analytical-platform/oidc/data.tf
  terraform/aws/analytical-platform/oidc/iam-roles.tf
  terraform/aws/analytical-platform/oidc/locals.tf
  terraform/aws/analytical-platform/oidc/oidc-providers.tf
  terraform/aws/analytical-platform/oidc/oidc-roles.tf
  terraform/aws/analytical-platform/oidc/outputs.tf
  terraform/aws/analytical-platform/oidc/terraform.tf
  terraform/aws/analytical-platform/oidc/terraform.tfvars
  terraform/aws/analytical-platform/oidc/variables.tf
  terraform/oidc/backend.tf
  terraform/oidc/data.tf
  terraform/oidc/github-actions-deployment-roles.tf
  terraform/oidc/github-oidc-assumable-roles.tf
  terraform/oidc/locals.tf
  terraform/oidc/oidc-providers.tf
  terraform/oidc/providers.tf
  terraform/oidc/versions.tf
Labels: github-workflow

Bump versions
  .github/workflows/terraform-aws-analytical-platform-data-production-airflow.yml
  terraform/aws/analytical-platform-data-production/airflow/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/airflow/data.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
Labels: github-workflow

Add Lalitha Nagarur
  terraform/github/data-platform/teams.tf
Labels: none
