Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

Add Lalitha Nagarur (#768)
  terraform/github/data-platform/teams.tf
Labels: none

adding rds snapshot s3 export terraform
  terraform/aws/analytical-platform-data-production/rds-s3-exports/data.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-roles.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/terraform.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/terraform.tfvars
  terraform/aws/analytical-platform-data-production/rds-s3-exports/variables.tf
Labels: none

Commit Terraform lock file
  terraform/aws/analytical-platform-data-production/rds-s3-exports/.terraform.lock.hcl
Labels: none

Fixing EditorConfig Splitting out resources
  terraform/aws/analytical-platform-data-production/rds-s3-exports/data.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-policies.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-role-policy-attachments.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-roles.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/terraform.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/variables.tf
Labels: none

Remove line
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-policies.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-roles.tf
Labels: none

kms key added
  .github/workflows/terraform-aws-analytical-platform-data-production-rds-s3-exports.yml
  terraform/aws/analytical-platform-data-production/rds-s3-exports/kms-keys-alias.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/kms-keys.tf
Labels: github-workflow

formatting updates
  .github/workflows/terraform-aws-analytical-platform-data-production-rds-s3-exports.yml
  terraform/aws/analytical-platform-data-production/rds-s3-exports/data.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-policies.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-role-policy-attachments.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-roles.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/kms-keys.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/terraform.tfvars
  terraform/aws/analytical-platform-data-production/rds-s3-exports/variables.tf
Labels: github-workflow

updated kms key policy
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-policies.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/kms-keys.tf
Labels: none

Updated
  terraform/aws/analytical-platform-data-production/rds-s3-exports/data.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-policies.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-role-policy-attachments.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-roles.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/kms-keys-alias.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/kms-keys.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/terraform.tfvars
  terraform/aws/analytical-platform-data-production/rds-s3-exports/variables.tf
Labels: none

Add KMS statement
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-policies.tf
Labels: none

add derived data
  docs/source/documentation/diagrams/c4-model-level1.excalidraw.png
Labels: documentation

add derived data
  docs/source/documentation/diagrams/c4-model-level1.excalidraw.png
Labels: documentation

Update SID
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-policies.tf
Labels: none

Add PR staler
  .github/workflows/repository-pull-request-staler.yml
Labels: github-workflow

Add assigner workflow
  .github/workflows/repository-pull-request-assigner.yml
Labels: github-workflow

🔀 Add PR staler (#776)
  .github/workflows/repository-pull-request-staler.yml
Labels: github-workflow

remove permissions
  .github/workflows/repository-pull-request-assigner.yml
Labels: github-workflow

Adding tempertature-check app
  configuration/ap_migration_apps.json
  terraform/github/data-platform/teams.tf
Labels: none

Updating trusts on the open-metadata roles to allow ingestion.
  terraform/aws/analytical-platform-development/open-metadata/iam-roles.tf
  terraform/aws/analytical-platform-development/open-metadata/locals.tf
Labels: none

Adding open-metadata workflow.
  .github/workflows/terraform-aws-analytical-platform-development-open-metadata.yml
Labels: github-workflow

🔀 ❇️ Add IAM role and KMS key for RDS to S3 export (#771)
  .github/dependabot.yml
  .github/workflows/terraform-aws-analytical-platform-data-production-rds-s3-exports.yml
  terraform/aws/analytical-platform-data-production/rds-s3-exports/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/rds-s3-exports/data.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-policies.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-role-policy-attachments.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-roles.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/kms-keys-alias.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/kms-keys.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/terraform.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/terraform.tfvars
  terraform/aws/analytical-platform-data-production/rds-s3-exports/variables.tf
Labels: github-workflow

Add if statement
  .github/workflows/repository-pull-request-assigner.yml
Labels: github-workflow

Add VERSION build arg Add VERSION env to athena load
  .github/workflows/reusable-workflow-containers.yml
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/config.json
Labels: github-workflow

Updating trusts on the open-metadata roles to allow ingestion.
  terraform/aws/analytical-platform-development/open-metadata/iam-roles.tf
  terraform/aws/analytical-platform-development/open-metadata/locals.tf
Labels: none

Adding open-metadata workflow.
  .github/workflows/terraform-aws-analytical-platform-development-open-metadata.yml
Labels: github-workflow

Adding tempertature-check app
  configuration/ap_migration_apps.json
  terraform/github/data-platform/teams.tf
Labels: none

Add to ECR job
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

Add @lalithanagarur to Data Engineering AWS
  terraform/github/data-platform/teams.tf
Labels: none

created glue crawler resources
  .github/workflows/terraform-aws-analytical-platform-data-production-rds-s3-exports copy.yml
  .github/workflows/terraform-aws-analytical-platform-data-production-s3-data-crawler.yml
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/data.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-catalog.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawler.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-policies.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-role-policy-attachments.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-roles.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/terraform.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/terraform.tfvars
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/variables.tf
Labels: github-workflow

🔀 Add @lalithanagarur to Data Engineering AWS (#786)
  terraform/github/data-platform/teams.tf
Labels: none

added kms key details
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-policies.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/kms-keys.tf
Labels: none

resource name updated
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-catalog.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawler.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-role-policy-attachments.tf
Labels: none

linting updates
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/data.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-catalog.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawler.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-policies.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-role-policy-attachments.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-roles.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/kms-keys.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/terraform.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/terraform.tfvars
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/variables.tf
Labels: none

changed crawler task name
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawler.tf
Labels: none

add probation-recruitment-app linting
  configuration/ap_migration_apps.json
Labels: none

add derived data to both users
  docs/source/documentation/diagrams/c4-model-level1.excalidraw.png
Labels: documentation

add probation-recruitment-app (#797)
  configuration/ap_migration_apps.json
Labels: none

applying review changes
  .github/workflows/terraform-aws-analytical-platform-data-production-rds-s3-exports.yml
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/data.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-catalog.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/glue-crawler.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-policies.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-role-policy-attachments.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-roles.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/kms-keys.tf
Labels: github-workflow

ran terraform fmt
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-policies.tf
Labels: none

updated per review comments
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-policies.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-role-policy-attachments.tf
  terraform/aws/analytical-platform-data-production/s3-glue-crawler/iam-roles.tf
Labels: none
