Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"

fixup
  .github/workflows/test-data-platform-catalogue.yml
Labels: github-workflow

fixup
  .github/workflows/python-data-platform-catalogue.yml
  .github/workflows/test-data-platform-catalogue.yml
Labels: github-workflow

fixup
  .github/workflows/test-data-platform-catalogue.yml
Labels: github-workflow

fixup
  .github/workflows/python-data-platform-catalogue.yml
Labels: github-workflow

fixup
  .github/workflows/test-data-platform-catalogue.yml
Labels: github-workflow

Add workflows for new data-platform-catalogue package
  .github/workflows/python-data-platform-catalogue.yml
  .github/workflows/test-data-platform-catalogue.yml
Labels: github-workflow

Suggestions from Jacob
  .github/workflows/python-data-platform-catalogue.yml
Labels: github-workflow

Code review suggestions from Jacob
  .github/workflows/test-data-platform-catalogue.yml
Labels: github-workflow

Add workflows for new data-platform-catalogue package (#1967)
  .github/workflows/python-data-platform-catalogue.yml
  .github/workflows/test-data-platform-catalogue.yml
Labels: github-workflow

Update python-data-platform-catalogue.yml
  .github/workflows/python-data-platform-catalogue.yml
Labels: github-workflow

Update python-data-platform-catalogue.yml (#2008)
  .github/workflows/python-data-platform-catalogue.yml
Labels: github-workflow

Add data-products documentation from data-platform-products repo https://github.com/ministryofjustice/data-platform-products/tree/main/data-products
  docs/source/documentation/data-products/components/data-cleansing-definitions.html.md.erb
  docs/source/documentation/data-products/components/data-dictionary-definitions.html.md.erb
  docs/source/documentation/data-products/components/data-transformation-definitions.html.md.erb
  docs/source/documentation/data-products/components/product-governance.html.md.erb
  docs/source/documentation/data-products/components/product-specification.html.md.erb
  docs/source/documentation/data-products/example-data-product/00-specification.yml
  docs/source/documentation/data-products/example-data-product/01-governance.yml
  docs/source/documentation/data-products/example-data-product/02-data-dictionary.yml
  docs/source/documentation/data-products/example-data-product/03-transformations.yml
  docs/source/documentation/data-products/example-data-product/index.html.md.erb
  docs/source/documentation/data-products/index.html.md.erb
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/platform/infrastructure/run-data-product-in-platform.html.md.erb
Labels: documentation

Increase duration to 3 hours
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-roles.tf
Labels: none

Fix typo in package name to match pypi
  python-libraries/data-platform-catalogue/README.md
  python-libraries/data-platform-catalogue/pyproject.toml
Labels: none

Install poetry before setup_python
  .github/workflows/test-data-platform-catalogue.yml
Labels: github-workflow

:wrench: Auth_mode: SSO -> IAM
  terraform/aws/analytical-platform-development/sagemaker/outputs.tf
  terraform/aws/analytical-platform-development/sagemaker/sagemaker.tf
  terraform/aws/analytical-platform-development/sagemaker/variables.tf
Labels: none

:fire: Remove import block
  terraform/aws/analytical-platform-development/sagemaker/sagemaker.tf
Labels: none

Updating permissions boundary to actual required
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-policies.tf
Labels: none

Fix typo in package name to match pypi (#2011)
  .github/workflows/test-data-platform-catalogue.yml
  python-libraries/data-platform-catalogue/README.md
  python-libraries/data-platform-catalogue/pyproject.toml
Labels: github-workflow

Update paths since name of package has been renamed
  python-libraries/data-platform-catalogue/pyproject.toml
Labels: none

Update paths since name of package has been renamed (#2013)
  python-libraries/data-platform-catalogue/pyproject.toml
Labels: none

Added ADR006
  docs/source/documentation/adrs/adr-006-use-gov-uk-eleventy-plugin-for-user-documentation-and-front-door.html.md.erb
  docs/source/documentation/adrs/adr-index.html.md.erb
Labels: documentation

trailing whitespace...
  docs/source/documentation/adrs/adr-006-use-gov-uk-eleventy-plugin-for-user-documentation-and-front-door.html.md.erb
Labels: documentation

Add data-platform repo
  terraform/github/data-platform-2/.terraform.lock.hcl
  terraform/github/data-platform-2/data-platform-repositories.tf
  terraform/github/data-platform-2/data-platform-teams.tf
  terraform/github/data-platform-2/locals.tf
  terraform/github/data-platform-2/modules/repository/main.tf
  terraform/github/data-platform-2/modules/repository/outputs.tf
  terraform/github/data-platform-2/modules/repository/providers.tf
  terraform/github/data-platform-2/modules/repository/variables.tf
  terraform/github/data-platform-2/terraform.tf
  terraform/github/data-platform-2/test.tf
Labels: none

Remove Terrascan ignore
  terraform/github/data-platform-2/modules/repository/main.tf
Labels: none

Wrap exceptions from OpenMetadata
  python-libraries/data-platform-catalogue/README.md
  python-libraries/data-platform-catalogue/data_platform_catalogue/__init__.py
  python-libraries/data-platform-catalogue/data_platform_catalogue/client.py
  python-libraries/data-platform-catalogue/tests/test_client.py
Labels: none

lint
  python-libraries/data-platform-catalogue/data_platform_catalogue/__init__.py
  python-libraries/data-platform-catalogue/data_platform_catalogue/client.py
Labels: none

Modify client to accept metadata objects
  python-libraries/data-platform-catalogue/README.md
  python-libraries/data-platform-catalogue/data_platform_catalogue/__init__.py
  python-libraries/data-platform-catalogue/data_platform_catalogue/client.py
  python-libraries/data-platform-catalogue/data_platform_catalogue/entities.py
  python-libraries/data-platform-catalogue/tests/test_client.py
Labels: none

Bump version
  python-libraries/data-platform-catalogue/pyproject.toml
Labels: none

Update codeowners for new library
  .github/CODEOWNERS
Labels: none

:wrench: Add default execution role for spaces
  terraform/aws/analytical-platform-development/sagemaker/sagemaker.tf
Labels: none

correct name in config
  containers/daap-create-schema/config.json
Labels: none

Update to 1.0.1 CHANGELOG.md
  containers/daap-create-schema/CHANGELOG.md
Labels: none

update metadata docs to better reflect current state rename example files
  docs/source/documentation/data-products/components/data-cleansing-definitions.html.md.erb
  docs/source/documentation/data-products/components/data-dictionary-definitions.html.md.erb
  docs/source/documentation/data-products/components/data-transformation-definitions.html.md.erb
  docs/source/documentation/data-products/components/product-governance.html.md.erb
  docs/source/documentation/data-products/components/product-specification.html.md.erb
  docs/source/documentation/data-products/example-data-product/00-specification.yml
  docs/source/documentation/data-products/example-data-product/01-governance.yml
  docs/source/documentation/data-products/example_data_product/data-dictionary.yml
  docs/source/documentation/data-products/example_data_product/governance.yml
  docs/source/documentation/data-products/example_data_product/index.html.md.erb
  docs/source/documentation/data-products/example_data_product/specification.yml
  docs/source/documentation/data-products/example_data_product/transformations.yml
  docs/source/documentation/data-products/index.html.md.erb
Labels: documentation

Modify catalogue client to accept full metadata objects and hide internal exceptions (#2014)
  .github/CODEOWNERS
  python-libraries/data-platform-catalogue/README.md
  python-libraries/data-platform-catalogue/data_platform_catalogue/__init__.py
  python-libraries/data-platform-catalogue/data_platform_catalogue/client.py
  python-libraries/data-platform-catalogue/data_platform_catalogue/entities.py
  python-libraries/data-platform-catalogue/pyproject.toml
  python-libraries/data-platform-catalogue/tests/test_client.py
Labels: none

Remove Parminder and Samuel for JML
  terraform/github/data-platform/teams.tf
Labels: none

update example metadata
  docs/source/documentation/data-products/example_data_product/data-dictionary.yml
  docs/source/documentation/data-products/example_data_product/governance.yml
  docs/source/documentation/data-products/example_data_product/index.html.md.erb
  docs/source/documentation/data-products/example_data_product/specification.yml
  docs/source/documentation/data-products/index.html.md.erb
Labels: documentation

correct name in daap-create-schema config (#2019)
  containers/daap-create-schema/CHANGELOG.md
  containers/daap-create-schema/config.json
Labels: none

rename example page
  docs/source/documentation/data-products/example_data_product/index.html.md.erb
Labels: documentation

Add update functionality to DataProductMetadata
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_product_metadata.py
  containers/daap-python-base/tests/unit/data_product_metadata_test.py
Labels: none
