Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

actually log passed event
  containers/daap-create-metadata/src/var/task/create_metadata.py
Labels: none

Update config.json
  containers/daap-create-metadata/config.json
Labels: none

Update CHANGELOG.md
  containers/daap-create-metadata/CHANGELOG.md
Labels: none

:recycle: Refactor subnets for dev and prod
  terraform/aws/analytical-platform-data-production/airflow/network.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
  terraform/aws/analytical-platform-data-production/airflow/variables.tf
Labels: none

actually log passed event (#1407)
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/config.json
  containers/daap-create-metadata/src/var/task/create_metadata.py
Labels: none

correctly get metadata from event
  containers/daap-create-metadata/src/var/task/create_metadata.py
Labels: none

Update config.json
  containers/daap-create-metadata/config.json
Labels: none

v1.0.3 changelog
  containers/daap-create-metadata/CHANGELOG.md
Labels: none

linting
  containers/daap-create-metadata/CHANGELOG.md
Labels: none

:arrow_up: Bump aws/iam module from 5.28.0 to 5.30.0
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
Labels: none

correctly get metadata from event (#1408)
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/config.json
  containers/daap-create-metadata/src/var/task/create_metadata.py
Labels: none

upversion dcos adding in register_data_product endpoint
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: none

:rotating_light: Fix linting
  terraform/aws/analytical-platform-data-production/airflow/network.tf
  terraform/aws/analytical-platform-data-production/airflow/variables.tf
Labels: none

remove some keys causing an error in json
  containers/daap-docs/src/var/task/swagger.json
Labels: none

better format
  containers/daap-docs/CHANGELOG.md
Labels: none

Add detects-changes logic to pytest workflow
  .github/path-filter/pytest.yml
  .github/workflows/test-daap.yml
  scripts/path-filter/configuration-generator.sh
Labels: github-workflow

Set default region to eu-west-2 Add new SSO roles Set AP account regions to eu-west-1 Add new Data Platform accounts Add new Observability Platform accounts Remove AP's MI Platform account
  .devcontainer/features/src/aws-tools/src/home/vscode/.aws/config
Labels: devcontainer

DPL 879 - Add unit tests for get-glue-metadata container (#1375)
  .github/path-filter/pytest.yml
  .github/workflows/test-daap.yml
  .gitignore
  README.md
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-glue-metadata/config.json
  containers/daap-get-glue-metadata/src/var/task/get_glue_metadata.py
  containers/daap-get-glue-metadata/tests/requirements.txt
  containers/daap-get-glue-metadata/tests/unit/__init__.py
  containers/daap-get-glue-metadata/tests/unit/conftest.py
  containers/daap-get-glue-metadata/tests/unit/mock_test.py
  scripts/path-filter/configuration-generator.sh
Labels: documentation, github-workflow

DPL 1316 Add module for paths
  .github/path-filter/pytest.yml
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/__init__.py
  containers/daap-python-base/tests/requirements.txt
  containers/daap-python-base/tests/unit/__init__.py
  containers/daap-python-base/tests/unit/conftest.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

correct format for repsonse example
  containers/daap-docs/src/var/task/swagger.json
Labels: none

prod subnet reference changes
  terraform/aws/analytical-platform-data-production/airflow/network.tf
Labels: none

:wrench: Further update to public_subnet_prod variable
  terraform/aws/analytical-platform-data-production/airflow/network.tf
Labels: none

Update ap_migration_apps.json
  configuration/ap_migration_apps.json
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

update path to data product metadata json schema
  containers/daap-docs/src/var/task/swagger.json
Labels: none

Update CODEOWNERS (#1420)
  .github/CODEOWNERS
Labels: none

Dp 998 (#1307)
  containers/daap-reload-data-product/CHANGELOG.md
  containers/daap-reload-data-product/Dockerfile
  containers/daap-reload-data-product/config.json
  containers/daap-reload-data-product/src/var/task/reload_data_product.py
  containers/daap-resync-unprocessed-files/CHANGELOG.md
  containers/daap-resync-unprocessed-files/Dockerfile
  containers/daap-resync-unprocessed-files/config.json
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

update path (again) to data product metadata json schema
  containers/daap-docs/src/var/task/swagger.json
Labels: none

adding additional properties
  containers/daap-docs/src/var/task/swagger.json
Labels: none

right value might help
  containers/daap-docs/src/var/task/swagger.json
Labels: none

remove additional properties
  containers/daap-docs/src/var/task/swagger.json
Labels: none

:recycle: Further refactoring
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
  terraform/aws/analytical-platform-data-production/airflow/network.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
  terraform/aws/analytical-platform-data-production/airflow/variables.tf
Labels: none

:rotating_light: Linting
  terraform/aws/analytical-platform-data-production/airflow/network.tf
  terraform/aws/analytical-platform-data-production/airflow/variables.tf
Labels: none

config file for spectral - change oas3-schema rule to warn
  containers/daap-docs/src/var/task/.spectral.yaml
Labels: none

move spectral rule file
  .github/linters/.spectral.yaml
Labels: none

change path to swagger.json
  .github/linters/.spectral.yaml
Labels: none

disable spectral - openapi linter
  .github/workflows/repository-github-super-linter.yml
Labels: github-workflow

remove spectral rules file
  .github/linters/.spectral.yaml
Labels: none

upversion docs adding in register_data_product endpoint (#1409)
  .github/workflows/repository-github-super-linter.yml
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: github-workflow

Fix inconsistency in parent method
  containers/daap-python-base/src/var/task/data_platform_paths.py
  containers/daap-python-base/tests/unit/data_platform_paths_test.py
Labels: none

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"
