Repository ministryofjustice/analytical-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-workflow, identity-access-management, devcontainer

Added API responses
  containers/daap-python-base/src/var/task/data_platform_api_responses.py
  containers/daap-python-base/tests/unit/data_platform_api_responses_test.py
Labels: none

Bumped image version
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: none

Fixed lint errors
  containers/daap-resync-unprocessed-files/CHANGELOG.md
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
  containers/daap-resync-unprocessed-files/tests/unit/resync_unprocessed_file_test.py
Labels: none

Corrected expected status code
  containers/daap-python-base/tests/unit/data_platform_api_responses_test.py
Labels: none

Corrected tests
  containers/daap-python-base/tests/unit/data_platform_api_responses_test.py
Labels: none

Fixed lint errors
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

removed unused imports
  containers/daap-resync-unprocessed-files/tests/unit/conftest.py
Labels: none

Ensure raw athena table is deleted on error (#1660)
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_raw_athena_table.py
  containers/daap-athena-load/tests/unit/athena_load_handler_test.py
  containers/daap-athena-load/tests/unit/create_raw_athena_table_test.py
Labels: none

Refactor athena data load
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/infer_glue_schema.py
  containers/daap-athena-load/tests/unit/conftest.py
  containers/daap-athena-load/tests/unit/create_curated_athena_table_test.py
  containers/daap-athena-load/tests/unit/infer_glue_schema_test.py
Labels: none

Bump base image version
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
Labels: none

Removed unwanted logger information
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

Update Data as a Product page replace architecture and data-flow diagrams
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/platform/images/daap-athena-load.png
  docs/source/documentation/platform/images/daap-data-flow-architecture.png
  docs/source/documentation/platform/images/data-platform-data-flow.png
  docs/source/documentation/platform/infrastructure/run-data-product-in-platform.html.md.erb
Labels: documentation

Amnded some code errors
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

Amended some code errors
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

Converted into json dump for more readability
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

Added API responses (#1689)
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_api_responses.py
  containers/daap-python-base/tests/unit/data_platform_api_responses_test.py
Labels: none

Fixed import sort
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

isort lint error
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
Labels: none

Update docs/source/documentation/platform/infrastructure/run-data-product-in-platform.html.md.erb
  docs/source/documentation/platform/infrastructure/run-data-product-in-platform.html.md.erb
Labels: documentation

Dp 1478 unit test for daap resync unprocessed files (#1688)
  containers/daap-resync-unprocessed-files/CHANGELOG.md
  containers/daap-resync-unprocessed-files/Dockerfile
  containers/daap-resync-unprocessed-files/config.json
  containers/daap-resync-unprocessed-files/src/var/task/resync_unprocessed_files.py
  containers/daap-resync-unprocessed-files/tests/requirements.txt
  containers/daap-resync-unprocessed-files/tests/unit/__init__.py
  containers/daap-resync-unprocessed-files/tests/unit/conftest.py
  containers/daap-resync-unprocessed-files/tests/unit/resync_unprocessed_file_test.py
Labels: none

update images to excalidraw pngs
  docs/source/documentation/platform/images/daap-athena-load.excalidraw.png
  docs/source/documentation/platform/images/daap-athena-load.png
  docs/source/documentation/platform/images/daap-data-flow-architecture.excalidraw.png
  docs/source/documentation/platform/images/daap-data-flow-architecture.png
  docs/source/documentation/platform/infrastructure/run-data-product-in-platform.html.md.erb
Labels: documentation

remove tfsec and make trivy workflow
  .github/workflows/reusable-workflow-terraform.yml
  .github/workflows/trivy.yml
Labels: github-workflow

remove whitespace
  .github/workflows/trivy.yml
Labels: github-workflow

Update teams.tf (Add Mitch to labs team)
  terraform/github/data-platform/teams.tf
Labels: none

:rotating_light: Fix Linter Warnings
  terraform/github/data-platform/locals.tf
  terraform/github/data-platform/teams.tf
Labels: none

linter
  .github/workflows/trivy.yml
Labels: github-workflow

Update teams.tf (Add Mitch to labs team) (#1693)
  terraform/github/data-platform/locals.tf
  terraform/github/data-platform/teams.tf
Labels: none

trigger workflow
  .github/workflows/trivy.yml
  terraform/pagerduty/terraform.tf
Labels: github-workflow

Use full context name in PS1
  .devcontainer/features/src/base/moj-codespaces.zsh-theme
Labels: devcontainer

🔀 Use full context name in PS1 (#1694)
  .devcontainer/features/src/base/moj-codespaces.zsh-theme
Labels: devcontainer

debug
  .github/workflows/trivy.yml
Labels: github-workflow

debug
  .github/workflows/trivy.yml
Labels: github-workflow

debug
  .github/workflows/trivy.yml
Labels: github-workflow

debug
  .github/workflows/trivy.yml
Labels: github-workflow

linter
  .github/workflows/trivy.yml
Labels: github-workflow

linter
  .github/workflows/trivy.yml
Labels: github-workflow

remove on pull request
  .github/workflows/trivy.yml
Labels: github-workflow

reorder vision section remove improvements / suggestions section
  docs/source/documentation/platform/infrastructure/run-data-product-in-platform.html.md.erb
Labels: documentation

suggested review changes
  docs/source/documentation/platform/infrastructure/run-data-product-in-platform.html.md.erb
Labels: documentation

Template file and rendered ingress file for redirction. (#1512)
  configuration/redirection-ingress.yaml.tpl
  configuration/rendered-redirection-ingress.yaml
  terraform/application-migration/.terraform.lock.hcl
Labels: none

.github/labeler.yml:

---
documentation:
  - "docs/**"
  - "README.md"

github-workflow:
  - ".github/workflows/**"

identity-access-management:
  - "terraform/github/teams.tf"

devcontainer:
  - ".devcontainer/**"
