Repository ministryofjustice/analytical-platform, pull requests merged in 2023-12, with the labels that each got.

#2651 Kyverno airflow prod assets
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/helm-charts.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tf
Labels: override-static-analysis

#2671 Add Matt Heery to Data Engineering Team
  terraform/github/data-engineering-teams.tf
Labels: identity-access-management

#2664 skip CKV_TF_1 dev cluster
  terraform/aws/analytical-platform-data-engineering-production/10ds/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-engineering-production/10ds/ec2-instances.tf
  terraform/aws/analytical-platform-data-engineering-production/10ds/security-groups.tf
  terraform/aws/analytical-platform-data-engineering-production/10ds/vpc.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
  terraform/aws/analytical-platform-development/cluster/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
  terraform/aws/analytical-platform-development/cluster/iam-roles.tf
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
  terraform/aws/analytical-platform-development/cluster/rds.tf
  terraform/aws/analytical-platform-development/cluster/redis.tf
  terraform/aws/analytical-platform-development/cluster/vpc.tf
  terraform/aws/analytical-platform-management-production/cluster/.terraform.lock.hcl
  terraform/aws/analytical-platform-management-production/cluster/eks-cluster.tf
  terraform/aws/analytical-platform-management-production/cluster/iam-roles.tf
  terraform/aws/analytical-platform-management-production/cluster/vpc.tf
  terraform/aws/analytical-platform-production/cluster/.terraform.lock.hcl
  terraform/aws/analytical-platform-production/cluster/eks-cluster.tf
  terraform/aws/analytical-platform-production/cluster/iam-roles.tf
  terraform/aws/analytical-platform-production/cluster/rds.tf
  terraform/aws/analytical-platform-production/cluster/redis.tf
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
  terraform/aws/analytical-platform-production/cluster/vpc.tf
  terraform/aws/analytical-platform/oidc/iam-roles.tf
  terraform/aws/analytical-platform/oidc/oidc-providers.tf
  terraform/aws/analytical-platform/oidc/oidc-roles.tf
Labels: override-static-analysis

#2707 Remove Tom from AP Dev
  terraform/github/analytical-platform-teams.tf
Labels: identity-access-management

#2708 📌 Update tech-docs
  .github/workflows/documentation.yml
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
  scripts/docs/docker.sh
Labels: github-workflow

#2712 🛂 Data Engineering AWS access
  .github/CODEOWNERS
  terraform/github/analytical-platform-teams.tf
  terraform/github/configuration/data-engineering-access.json
  terraform/github/data-engineering-teams.tf
  terraform/github/data-platform-repositories.tf
  terraform/github/data.tf
Labels: identity-access-management

#2507 🗺️ Chart publishing
  .github/linters/.yaml-lint.yml
  .github/workflows/charts.yml
  .github/workflows/reusable-workflow-charts.yml
  charts/actions-runner/CHANGELOG.md
  charts/actions-runner/Chart.yaml
  charts/actions-runner/ci/lint-values.yaml
  charts/actions-runner/templates/_helpers.tpl
  charts/actions-runner/templates/deployment.yaml
  charts/actions-runner/templates/secrets.yaml
  charts/actions-runner/templates/serviceaccount.yaml
  charts/actions-runner/values.yaml
  scripts/path-filter/configuration-generator.sh
Labels: github-workflow

#2497 :shipit: Deploy `create-a-derived-tables` self-hosted runner to DPAT EKS Production
  scripts/eks/terraform-authentication.sh
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-roles.tf
  terraform/dpat-eks/production/actions-runners/.terraform.lock.hcl
  terraform/dpat-eks/production/actions-runners/create-a-derived-table.tf
  terraform/dpat-eks/production/actions-runners/data.tf
  terraform/dpat-eks/production/actions-runners/terraform.tf
  terraform/dpat-eks/production/actions-runners/terraform.tfvars
  terraform/dpat-eks/production/actions-runners/variables.tf
Labels: override-static-analysis

#2767 Upload artifact fix - roillback
  .github/workflows/documentation.yml
Labels: github-workflow

#2766 :shipit: Deploy `create-a-derived-tables` self-hosted runner to Cloud Platform
  .github/dependabot.yml
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-roles.tf
  terraform/cloud-platform/live/data-platform-production/actions-runners/.terraform.lock.hcl
  terraform/cloud-platform/live/data-platform-production/actions-runners/create-a-derived-table.tf
  terraform/cloud-platform/live/data-platform-production/actions-runners/data.tf
  terraform/cloud-platform/live/data-platform-production/actions-runners/terraform.tf
  terraform/cloud-platform/live/data-platform-production/actions-runners/terraform.tfvars
  terraform/cloud-platform/live/data-platform-production/actions-runners/variables.tf
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/Chart.yaml
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/templates/_helpers.tpl
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/templates/deployment.yml
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/templates/secrets.yml
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/templates/service-account.yml
  terraform/cloud-platform/live/data-platform-production/github-actions-self-hosted-runners/src/helm/charts/github-actions-self-hosted-runners/values.yaml
Labels: override-static-analysis

#2788 🚑 Fix documentation publishing
  .github/workflows/documentation.yml
Labels: github-workflow
