Repository ministryofjustice/analytical-platform, pull requests merged in 2023-09, with the labels that each got.

#1314 DMT-1238/add-airflow-flow-log-components
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
  terraform/aws/analytical-platform-data-production/airflow/network.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
Labels: override-static-analysis

#1365 add tom to ci team
  terraform/github/data-platform/teams.tf
Labels: override-static-analysis

#1367 prod airflow bucket added with ZERO drama
  terraform/aws/analytical-platform-data-production/airflow/buckets.tf
Labels: override-static-analysis

#1370 DMT-1239-airflow_dev_eksRole_role_211908c
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
Labels: override-static-analysis

#1376 🚑 Fix OIDC repository configuration
  terraform/aws/analytical-platform/oidc/configuration/assumable-roles.json
  terraform/aws/analytical-platform/oidc/oidc-roles.tf
Labels: bug, Data Platform Core Infrastructure, override-static-analysis

#1375 DPL 879 - Add unit tests for get-glue-metadata container
  .github/path-filter/pytest.yml
  .github/workflows/test-daap.yml
  .gitignore
  README.md
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-glue-metadata/config.json
  containers/daap-get-glue-metadata/src/var/task/get_glue_metadata.py
  containers/daap-get-glue-metadata/tests/requirements.txt
  containers/daap-get-glue-metadata/tests/unit/__init__.py
  containers/daap-get-glue-metadata/tests/unit/conftest.py
  containers/daap-get-glue-metadata/tests/unit/mock_test.py
  scripts/path-filter/configuration-generator.sh
Labels: documentation, github-workflow

#1409 upversion docs adding in register_data_product endpoint
  .github/workflows/repository-github-super-linter.yml
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: github-workflow

#1400 💨 Airflow Prod: VPC/Network Components
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
  terraform/aws/analytical-platform-data-production/airflow/network.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
  terraform/aws/analytical-platform-data-production/airflow/variables.tf
Labels: override-static-analysis

#1473 💨 Airflow Terraform EKS Production
  terraform/aws/analytical-platform-data-production/airflow/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
  terraform/aws/analytical-platform-data-production/airflow/network.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
  terraform/aws/analytical-platform-data-production/airflow/variables.tf
  terraform/github/data-platform/versions.tf
Labels: override-static-analysis

#1476 :fire: Remove import and moved terraform blocks
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
  terraform/aws/analytical-platform-data-production/airflow/network.tf
Labels: override-static-analysis

#1506 ♻️ Refactor `additional` security groups
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/network.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
  terraform/aws/analytical-platform-data-production/airflow/variables.tf
Labels: override-static-analysis

#1509 DMT-1508/add-high-mem-node-inst-type
  terraform/aws/analytical-platform-data-production/airflow/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
  terraform/aws/analytical-platform-data-production/airflow/variables.tf
Labels: override-static-analysis

#1510 Adds EKS node Security Groups
  terraform/aws/analytical-platform-data-production/airflow/buckets.tf
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
  terraform/aws/analytical-platform-data-production/airflow/variables.tf
Labels: override-static-analysis

#1525 Add eks cluster kube resources
  terraform/aws/analytical-platform-data-production/airflow/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/files/dev/aws-auth-configmap.yaml
  terraform/aws/analytical-platform-data-production/airflow/terraform.tf
Labels: override-static-analysis

#1524 Generate pytest path filter on demand & bump base image in daap-get-glue-metadata
  .github/path-filter/pytest.yml
  .github/workflows/test-daap.yml
  .gitignore
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-glue-metadata/Dockerfile
  containers/daap-get-glue-metadata/config.json
  containers/daap-get-glue-metadata/src/var/task/get_glue_metadata.py
  containers/daap-get-glue-metadata/tests/unit/conftest.py
  containers/daap-get-glue-metadata/tests/unit/mock_test.py
Labels: github-workflow

#1333 Data Platform overview rewrite
  docs/source/documentation/platform/introduction/index.html.md.erb
Labels: documentation

#1551 DMT-1239/namespace
  terraform/aws/analytical-platform-data-production/airflow/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
Labels: override-static-analysis

#1598 🫂 Add team members
  terraform/github/data-platform/teams.tf
Labels: override-static-analysis

#1601 🗣️ Add GitHub Discussions
  terraform/github/data-platform/locals.tf
  terraform/github/modules/repository/main.tf
Labels: override-static-analysis

#1552 add dependabot ignore files for daap
  .github/dependabot.yml
  scripts/dependabot/configuration-generator.sh
  terraform/aws/analytical-platform-data-production/airflow/files/.dependabot-pip-ignore
Labels: override-static-analysis

#1617 📊 add issue metrics gh action
  .github/workflows/issue-metrics.yml
Labels: github-workflow

#1628 Update teams.tf
  terraform/github/data-platform/teams.tf
Labels: override-static-analysis

#1633 🎡 Add Velero CLI to kubernetes-tools
  .devcontainer/features/src/kubernetes-tools/devcontainer-feature.json
  .devcontainer/features/src/kubernetes-tools/install-velero.sh
  .devcontainer/features/src/kubernetes-tools/install.sh
  .devcontainer/features/test/kubernetes-tools/test.sh
Labels: devcontainer

#1634 🎡 Accosiate Terraform YAML templates with YAML language editor
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
Labels: devcontainer

#1646 🔥 Remove `import` + `moved` blocks
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
Labels: override-static-analysis

#1693 Update teams.tf (Add Mitch to labs team)
  terraform/github/data-platform/locals.tf
  terraform/github/data-platform/teams.tf
Labels: override-static-analysis

#1694 🎡 Use full Kubernetes context in PS1
  .devcontainer/features/src/base/moj-codespaces.zsh-theme
Labels: devcontainer

#1691 Update Data as a Product page
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/platform/images/daap-athena-load.excalidraw.png
  docs/source/documentation/platform/images/daap-data-flow-architecture.excalidraw.png
  docs/source/documentation/platform/images/data-platform-data-flow.png
  docs/source/documentation/platform/infrastructure/run-data-product-in-platform.html.md.erb
Labels: documentation

#1692 remove tfsec and make trivy workflow
  .github/workflows/reusable-workflow-terraform.yml
  .github/workflows/trivy.yml
  terraform/pagerduty/terraform.tf
Labels: github-workflow, override-static-analysis

#1705 Update Epic description with issue link
  .github/workflows/data-platform-update-epic-descriptions.yml
Labels: github-workflow

#1708 Troubleshooting Epic Description Update workflow
  .github/workflows/data-platform-update-epic-descriptions.yml
Labels: github-workflow

#1703 Adding Yikang to the Core Infra team
  terraform/github/data-platform/teams.tf
Labels: override-static-analysis

#1747 🚚 Update Slack channels for PagerDuty rota
  .github/workflows/platform-pagerduty-rota-to-slack.yml
Labels: github-workflow
