Repository ministryofjustice/analytical-platform, pull requests merged in 2023-11, with the labels that each got.

#2071 🪄 Configuring AMG with Terraform
  .github/workflows/repository-github-super-linter.yml
  terraform/aws/analytical-platform-development/open-metadata/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
  terraform/aws/analytical-platform-development/open-metadata/managed-grafana.tf
  terraform/aws/analytical-platform-development/open-metadata/terraform.tf
Labels: github-workflow, override-static-analysis

#1897 📝 Update development documentation
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
Labels: documentation

#1985 ♻️ Refactor GitHub Terraform component
  .github/dependabot.yml
  .github/path-filter/terraform.yml
  .github/workflows/configuration-workflow-terraform.yml
  .github/workflows/reusable-workflow-terraform.yml
  terraform/aws/analytical-platform/oidc/configuration/ap_migration_apps.json
  terraform/aws/analytical-platform/oidc/locals.tf
  terraform/github/.terraform.lock.hcl
  terraform/github/analytical-platform-repositories.tf
  terraform/github/analytical-platform-teams.tf
  terraform/github/data-engineering-teams.tf
  terraform/github/data-platform-repositories.tf
  terraform/github/data-platform-teams.tf
  terraform/github/data-platform/.terraform.lock.hcl
  terraform/github/data-platform/backend.tf
  terraform/github/data-platform/data.tf
  terraform/github/data-platform/locals.tf
  terraform/github/data-platform/main.tf
  terraform/github/data-platform/providers.tf
  terraform/github/data-platform/teams.tf
  terraform/github/data-platform/versions.tf
  terraform/github/data.tf
  terraform/github/locals.tf
  terraform/github/modules/contributor/main.tf
  terraform/github/modules/contributor/providers.tf
  terraform/github/modules/contributor/variables.tf
  terraform/github/modules/repository/main.tf
  terraform/github/modules/repository/outputs.tf
  terraform/github/modules/repository/variables.tf
  terraform/github/modules/team/main.tf
  terraform/github/modules/team/outputs.tf
  terraform/github/modules/team/variables.tf
  terraform/github/scripts/mv-resources.sh
  terraform/github/terraform.tf
  terraform/github/terraform.tfvars
  terraform/github/variables.tf
Labels: github-workflow, override-static-analysis

#2177 Update Data Product tech docs
  docs/source/documentation/data-products/components/data-cleansing-definitions.html.md.erb
  docs/source/documentation/data-products/components/data-dictionary-definitions.html.md.erb
  docs/source/documentation/data-products/components/data-transformation-definitions.html.md.erb
  docs/source/documentation/data-products/components/product-governance.html.md.erb
  docs/source/documentation/data-products/components/product-specification.html.md.erb
  docs/source/documentation/data-products/example_data_product/governance.yml
  docs/source/documentation/data-products/example_data_product/specification.yml
  docs/source/documentation/data-products/index.html.md.erb
  docs/source/documentation/data-products/product-versioning.html.md.erb
Labels: documentation

#2254 🚑 Add `limit-severities-for-sarif` option to `aquasecurity/trivy-action`
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

#2253 fix container dockerfiles: `LAMDA_TASK_ROOT` -> `LAMBDA_TASK_ROOT`
  .github/workflows/reusable-workflow-containers.yml
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-authorizer/CHANGELOG.md
  containers/daap-authorizer/Dockerfile
  containers/daap-create-metadata/CHANGELOG.md
  containers/daap-create-metadata/Dockerfile
  containers/daap-create-schema/CHANGELOG.md
  containers/daap-create-schema/Dockerfile
  containers/daap-delete-table-for-data-product/CHANGELOG.md
  containers/daap-delete-table-for-data-product/Dockerfile
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/Dockerfile
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-glue-metadata/Dockerfile
  containers/daap-get-schema/CHANGELOG.md
  containers/daap-get-schema/Dockerfile
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/Dockerfile
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/Dockerfile
  containers/daap-preview-data/CHANGELOG.md
  containers/daap-preview-data/Dockerfile
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/Dockerfile
  containers/daap-reload-data-product/CHANGELOG.md
  containers/daap-reload-data-product/Dockerfile
  containers/daap-resync-unprocessed-files/CHANGELOG.md
  containers/daap-resync-unprocessed-files/Dockerfile
  containers/daap-update-metadata/CHANGELOG.md
  containers/daap-update-metadata/Dockerfile
  containers/daap-update-schema/CHANGELOG.md
  containers/daap-update-schema/Dockerfile
Labels: github-workflow

#2265 🛂 Adds `ap-rshiny-notesbook` to ECR trust
  terraform/aws/analytical-platform/oidc/oidc-providers.tf
Labels: override-static-analysis

#2227 Dpl 1848 implement push to openmd in lambdas
  .github/workflows/test-daap.yml
  containers/daap-push-to-catalogue/CHANGELOG.md
  containers/daap-push-to-catalogue/Dockerfile
  containers/daap-push-to-catalogue/config.json
  containers/daap-push-to-catalogue/src/var/task/.dependabot-pip-ignore
  containers/daap-push-to-catalogue/src/var/task/push_to_catalogue.py
  containers/daap-push-to-catalogue/src/var/task/requirements.txt
  containers/daap-push-to-catalogue/tests/requirements.txt
  containers/daap-push-to-catalogue/tests/unit/__init__.py
  containers/daap-push-to-catalogue/tests/unit/conftest.py
  containers/daap-push-to-catalogue/tests/unit/push_to_catalogue_test.py
Labels: github-workflow

#2252 Switch to structured logging with Structlog
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/data_platform_logging.py
  containers/daap-python-base/src/var/task/requirements.txt
  containers/daap-python-base/tests/unit/data_platform_logging_test.py
Labels: data-platform-labs

#2275 :recycle: Group endpoints under data and update authorizations
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/Dockerfile
  containers/daap-docs/config.json
  containers/daap-docs/src/var/task/swagger.json
Labels: data-platform-labs

#2299 👥 Remove User
  terraform/github/analytical-platform-teams.tf
  terraform/github/data-platform-teams.tf
Labels: data-platform-apps-and-tools

#2274 🚚 Stream Auth0 Logs to Modernisation Platform
  .github/dependabot.yml
  .github/path-filter/terraform.yml
  terraform/auth0/alpha-analytics-moj/.terraform.lock.hcl
  terraform/auth0/alpha-analytics-moj/auth0-log-streams.tf
  terraform/auth0/alpha-analytics-moj/data.tf
  terraform/auth0/alpha-analytics-moj/terraform.tf
  terraform/auth0/alpha-analytics-moj/terraform.tfvars
  terraform/auth0/alpha-analytics-moj/variables.tf
  terraform/auth0/dev-analytics-moj/.terraform.lock.hcl
  terraform/auth0/dev-analytics-moj/auth0-log-streams.tf
  terraform/auth0/dev-analytics-moj/data.tf
  terraform/auth0/dev-analytics-moj/terraform.tf
  terraform/auth0/dev-analytics-moj/terraform.tfvars
  terraform/auth0/dev-analytics-moj/variables.tf
  terraform/auth0/ministryofjustice-data-platform-development/.terraform.lock.hcl
  terraform/auth0/ministryofjustice-data-platform-development/auth0-log-streams.tf
  terraform/auth0/ministryofjustice-data-platform-development/data.tf
  terraform/auth0/ministryofjustice-data-platform-development/terraform.tf
  terraform/auth0/ministryofjustice-data-platform-development/terraform.tfvars
  terraform/auth0/ministryofjustice-data-platform-development/variables.tf
  terraform/auth0/ministryofjustice-data-platform/.terraform.lock.hcl
  terraform/auth0/ministryofjustice-data-platform/auth0-log-streams.tf
  terraform/auth0/ministryofjustice-data-platform/data.tf
  terraform/auth0/ministryofjustice-data-platform/terraform.tf
  terraform/auth0/ministryofjustice-data-platform/terraform.tfvars
  terraform/auth0/ministryofjustice-data-platform/variables.tf
  terraform/aws/analytical-platform-development/auth0-log-streams/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/auth0-log-streams/cloudwatch-log-groups.tf
  terraform/aws/analytical-platform-development/auth0-log-streams/data.tf
  terraform/aws/analytical-platform-development/auth0-log-streams/eventbridge-rules.tf
  terraform/aws/analytical-platform-development/auth0-log-streams/eventbridge-targets.tf
  terraform/aws/analytical-platform-development/auth0-log-streams/terraform.tf
  terraform/aws/analytical-platform-development/auth0-log-streams/terraform.tfvars
  terraform/aws/analytical-platform-development/auth0-log-streams/variables.tf
  terraform/aws/analytical-platform-development/open-metadata/auth0-log-streams.tf
Labels: override-static-analysis

#2354 🧪 Scan image on failure
  .github/workflows/reusable-workflow-containers.yml
Labels: github-workflow

#2378 :wrench: Update minimum standard number of nodes (dev)
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
Labels: override-static-analysis

#2390 🐊 Add Gatekeeper Gator
  .devcontainer/features/src/policy-tools/devcontainer-feature.json
  .devcontainer/features/src/policy-tools/install-gator.sh
  .devcontainer/features/src/policy-tools/install.sh
  .devcontainer/features/test/policy-tools/test.sh
Labels: devcontainer

#2418 🧑‍🔬 Add DPAT Development EKS to CADT IAM role
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-roles.tf
Labels: override-static-analysis

#2445 🎡 Add aws-nuke
  .devcontainer/features/src/aws-tools/devcontainer-feature.json
  .devcontainer/features/src/aws-tools/install-aws-nuke.sh
  .devcontainer/features/src/aws-tools/install.sh
  .devcontainer/features/test/aws-tools/test.sh
Labels: devcontainer

#2421 [DP-2107] move athena code to the python base image
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/src/var/task/create_raw_athena_table.py
  containers/daap-athena-load/tests/unit/create_curated_athena_table_test.py
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/curated_data/__init__.py
  containers/daap-python-base/src/var/task/curated_data/curated_data_loader.py
  containers/daap-python-base/src/var/task/curated_data/curated_data_query_builder.py
  containers/daap-python-base/src/var/task/glue_and_athena_utils.py
  containers/daap-python-base/src/var/task/glue_utils.py
  containers/daap-python-base/src/var/task/versioning.py
  containers/daap-python-base/tests/unit/curated_data/__init__.py
  containers/daap-python-base/tests/unit/curated_data/test_curated_data_query_builder.py
  containers/daap-python-base/tests/unit/glue_and_athena_utils_test.py
  containers/daap-python-base/tests/unit/versioning_test.py
Labels: data-platform-labs

#2463 :technologist: Add user dotfile functionality
  .devcontainer/devcontainer.json
Labels: devcontainer

#2466 :memo: Update to include dotfile information
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
Labels: documentation

#2492 👋 Remove Alex Vilela
  terraform/github/data-engineering-teams.tf
  terraform/github/data-platform-teams.tf
  terraform/pagerduty/schedules.tf
  terraform/pagerduty/teams.tf
  terraform/pagerduty/users.tf
Labels: override-static-analysis

#2550 Bump version
  .github/.trivyignore.yaml
  .github/workflows/trivy.yml
  containers/daap-delete-table-for-data-product/CHANGELOG.md
  containers/daap-delete-table-for-data-product/Dockerfile
  containers/daap-delete-table-for-data-product/config.json
Labels: github-workflow

#2511 added the bucket inside the resources
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-policies.tf
Labels: data-platform-apps-and-tools
