Repository ministryofjustice/analytical-platform, pull requests merged in 2023-07, with the labels that each got.

#737 📐 Adds MVP level 2 diagram
  README.md
  docs/source/documentation/diagrams/architecture-diagrams.html.md.erb
  docs/source/documentation/diagrams/c4-model-level1.excalidraw.png
  docs/source/documentation/diagrams/c4-model-level2-mvp.excalidraw.png
  docs/source/documentation/diagrams/c4-model-level2.excalidraw.png
  docs/source/documentation/diagrams/c4-model-level3-data-product.excalidraw.png
Labels: documentation

#755 📝 Update architecture-diagrams.html.md.erb
  docs/source/documentation/diagrams/architecture-diagrams.html.md.erb
Labels: documentation

#757 ♻️ Refactor OIDC
  .github/dependabot.yml
  .github/workflows/terraform-aws-analytical-platform-oidc.yml
  terraform/aws/analytical-platform/oidc/.terraform.lock.hcl
  terraform/aws/analytical-platform/oidc/configuration/assumable-roles.json
  terraform/aws/analytical-platform/oidc/data.tf
  terraform/aws/analytical-platform/oidc/iam-roles.tf
  terraform/aws/analytical-platform/oidc/locals.tf
  terraform/aws/analytical-platform/oidc/oidc-providers.tf
  terraform/aws/analytical-platform/oidc/oidc-roles.tf
  terraform/aws/analytical-platform/oidc/outputs.tf
  terraform/aws/analytical-platform/oidc/terraform.tf
  terraform/aws/analytical-platform/oidc/terraform.tfvars
  terraform/aws/analytical-platform/oidc/variables.tf
  terraform/oidc/backend.tf
  terraform/oidc/data.tf
  terraform/oidc/github-actions-deployment-roles.tf
  terraform/oidc/github-oidc-assumable-roles.tf
  terraform/oidc/locals.tf
  terraform/oidc/oidc-providers.tf
  terraform/oidc/providers.tf
  terraform/oidc/versions.tf
Labels: github-workflow, Data Platform Core Infrastructure

#776 🧑‍💻 Add pull request staler
  .github/workflows/repository-pull-request-staler.yml
Labels: github-workflow, Data Platform Core Infrastructure

#771 ❇️ Add IAM role and KMS key for RDS to S3 export
  .github/dependabot.yml
  .github/workflows/terraform-aws-analytical-platform-data-production-rds-s3-exports.yml
  terraform/aws/analytical-platform-data-production/rds-s3-exports/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/rds-s3-exports/data.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-policies.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-role-policy-attachments.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/iam-roles.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/kms-keys-alias.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/kms-keys.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/terraform.tf
  terraform/aws/analytical-platform-data-production/rds-s3-exports/terraform.tfvars
  terraform/aws/analytical-platform-data-production/rds-s3-exports/variables.tf
Labels: github-workflow, Data Platform Core Infrastructure

#781 ❇️ Add version as a build argument
  .github/workflows/reusable-workflow-containers.yml
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/Dockerfile
  containers/daap-athena-load/config.json
Labels: github-workflow, Data Platform Core Infrastructure

#798 add derived data proposal C - both users
  docs/source/documentation/diagrams/c4-model-level1.excalidraw.png
Labels: documentation

#821 🚑 Fix dev container installation
  .devcontainer/platform-engineering/devcontainer.json
Labels: bug, Data Platform Core Infrastructure, devcontainer

#822 ⬆️ Upgrade RDS module and Terraform version
  .github/workflows/terraform-aws-analytical-platform-development-open-metadata.yml
  terraform/aws/analytical-platform-development/open-metadata/data.tf
  terraform/aws/analytical-platform-development/open-metadata/rds.tf
Labels: github-workflow, Data Platform Core Infrastructure

#818 📝 update review dates
  docs/source/documentation/adrs/adr-001-use-cloud-platform-for-hosting-infrastructure.html.md.erb
  docs/source/documentation/adrs/adr-002-use-moderisation-platform-for-hosting-infrastructure-not-suitable-for-cloud-platform.html.md.erb
  docs/source/documentation/adrs/adr-003-use-azuread-for-identity-and-access-management.html.md.erb
  docs/source/documentation/adrs/adr-004-data-should-be-pushed-into-data-products.html.md.erb
  docs/source/documentation/platform/index.html.md.erb
  docs/source/documentation/platform/introduction/index.html.md.erb
Labels: documentation

#835 📝 Update PagerDuty documentation and remove user
  docs/source/documentation/team/ways-of-working.html.md.erb
  terraform/pagerduty/.terraform.lock.hcl
  terraform/pagerduty/schedules.tf
  terraform/pagerduty/teams.tf
  terraform/pagerduty/terraform.tf
  terraform/pagerduty/users.tf
Labels: documentation, Data Platform Core Infrastructure

#861 🩹 Update staler workflow
  .github/workflows/repository-staler.yml
Labels: github-workflow, Data Platform Core Infrastructure

#856 🪄 Terraform QoL improvements
  .github/workflows/path-filter/terraform.yml
  .github/workflows/repository-terraform-path-filter-generator.yml
  .github/workflows/reusable-terraform.yml
  .github/workflows/reusable-workflow-terraform.yml
  .github/workflows/terraform-application-migration.yml
  .github/workflows/terraform-aws-analytical-platform-baseline.yml
  .github/workflows/terraform-aws-analytical-platform-data-engineering-production-10ds.yml
  .github/workflows/terraform-aws-analytical-platform-data-production-artifact-repos.yml
  .github/workflows/terraform-aws-analytical-platform-data-production-kops.yml
  .github/workflows/terraform-aws-analytical-platform-data-production-rds-s3-exports.yml
  .github/workflows/terraform-aws-analytical-platform-data-production-s3-data-crawler.yml
  .github/workflows/terraform-aws-analytical-platform-development-cluster.yml
  .github/workflows/terraform-aws-analytical-platform-development-open-metadata.yml
  .github/workflows/terraform-aws-analytical-platform-management-production-cluster.yml
  .github/workflows/terraform-aws-analytical-platform-oidc.yml
  .github/workflows/terraform-aws-analytical-platform-production-cluster.yml
  .github/workflows/terraform-github-application-migration.yml
  .github/workflows/terraform-github-data-platform.yml
  .github/workflows/terraform-pagerduty.yml
  .github/workflows/terraform.yml
  scripts/path-filter/terraform-generator.sh
Labels: github-workflow

#777 🧑‍💻 Add workflow to automatically assign user who created pull request
  .github/workflows/repository-pull-request-assigner.yml
Labels: github-workflow, Data Platform Core Infrastructure

#882 🛟 Add Gary and Mitch to PagerDuty schedule
  terraform/pagerduty/schedules.tf
Labels: Data Platform Core Infrastructure

#885 🛂 Add Siva to Data Engineering AWS
  terraform/github/data-platform/teams.tf
Labels: Data Platform Core Infrastructure

#866 🛂 Add Terraform static analysis
  .github/workflows/reusable-workflow-terraform.yml
  terraform/aws/analytical-platform-development/open-metadata/certificates.tf
  terraform/aws/analytical-platform-development/open-metadata/efs.tf
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-policies.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-roles.tf
  terraform/aws/analytical-platform-development/open-metadata/opensearch.tf
  terraform/aws/analytical-platform-development/open-metadata/rds.tf
  terraform/aws/analytical-platform-development/open-metadata/route53.tf
  terraform/aws/analytical-platform-development/open-metadata/security-groups.tf
  terraform/aws/analytical-platform-development/open-metadata/vpc.tf
Labels: github-workflow, Data Platform Core Infrastructure

#888 🎡 Add IaC scanning tooling to dev container
  .devcontainer/features/src/base/devcontainer-utils
  .devcontainer/features/src/base/install.sh
  .devcontainer/features/src/sast-tools/devcontainer-feature.json
  .devcontainer/features/src/sast-tools/install-checkov.sh
  .devcontainer/features/src/sast-tools/install-trivy.sh
  .devcontainer/features/src/sast-tools/install.sh
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/features/src/terraform-tools/install-tfsec.sh
  .devcontainer/features/src/terraform-tools/install.sh
  .devcontainer/features/test/Dockerfile
  .devcontainer/features/test/base/test.sh
  .devcontainer/features/test/sast-tools/test.sh
  .devcontainer/features/test/terraform-tools/test.sh
  .devcontainer/platform-engineering/devcontainer.json
  .github/workflows/path-filter/devcontainer.yml
Labels: github-workflow, Data Platform Core Infrastructure, devcontainer

#903 💚 Obtain GitHub robot token from AWS
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow, Data Platform Core Infrastructure

#905 💚 AWS Assumption
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

#908 🩹 Specify static analysis override label for Terraform
  .github/dependabot.yml
  scripts/dependabot/configuration-generator.sh
Labels: Data Platform Core Infrastructure

#941 🚑 Moved path-filter configuration out of workflows folder
  .github/path-filter/containers.yml
  .github/path-filter/devcontainer.yml
  .github/path-filter/terraform.yml
  .github/workflows/containers.yml
  .github/workflows/devcontainer.yml
  .github/workflows/repository-containers-path-filter-generator.yml
  .github/workflows/repository-terraform-path-filter-generator.yml
  .github/workflows/reusable-workflow-terraform.yml
  .github/workflows/terraform.yml
  .grype.yml
  scripts/path-filter/containers-generator.sh
  scripts/path-filter/generator.sh
Labels: github-workflow, Data Platform Core Infrastructure

#945 Update DEVCONTAINER.md
  .devcontainer/docs/DEVCONTAINER.md
Labels: devcontainer

#973 remove members that have left AP team
  terraform/pagerduty/schedules.tf
  terraform/pagerduty/teams.tf
  terraform/pagerduty/users.tf
Labels: override-static-analysis

#975 provision karpenter terraform
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: firebreak, override-static-analysis

#1024 Adding CKV_GIT_1 skip check
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

#1025 🔥 Added Managed Prometheus and Grafana
  .github/path-filter/terraform.yml
  terraform/aws/analytical-platform-development/open-metadata/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
  terraform/aws/analytical-platform-development/open-metadata/helm-charts.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-policies.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-roles.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-namespace.tf
  terraform/aws/analytical-platform-development/open-metadata/managed-grafana.tf
  terraform/aws/analytical-platform-development/open-metadata/managed-prometheus.tf
  terraform/aws/analytical-platform-development/open-metadata/src/helm/prometheus/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/terraform.tf
Labels: firebreak

#1023 Update teams.tf
  terraform/github/data-platform/teams.tf
Labels: override-static-analysis

#1022 add provisioners
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
  terraform/aws/analytical-platform-development/cluster/vpc.tf
Labels: firebreak, override-static-analysis

#979 📝 Add (much needed) documentation and quality of life improvements to Terraform
  .devcontainer/features/test/.dependabot-docker-ignore
  .github/dependabot.yml
  .github/linters/.jscpd.json
  .github/path-filter/containers.yml
  .github/path-filter/terraform.yml
  .github/workflows/archived/repository-containers-path-filter-generator.yml
  .github/workflows/archived/repository-dependabot-configuration-generator.yml
  .github/workflows/archived/repository-terraform-path-filter-generator.yml
  .github/workflows/reusable-workflow-terraform.yml
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/platform/infrastructure/containers.html.md.erb
  docs/source/documentation/platform/infrastructure/terraform.html.md.erb
  scripts/dependabot/configuration-generator.sh
  scripts/docs/docker.sh
  scripts/path-filter/configuration-generator.sh
  scripts/path-filter/generator.sh
Labels: documentation, github-workflow, Data Platform Core Infrastructure
