Repository ministryofjustice/analytical-platform, pull requests merged in 2023-04, with the labels that each got.

#261 jml-removing-abdel-and-some-old-cognizant-peeps
  terraform/github/teams.tf
Labels: identity-access-management

#260 Adds ADR for pushing data into data products
  docs/source/documentation/adrs/adr-004-data-should-be-pushed-into-data-products.html.md.erb
  docs/source/documentation/adrs/adr-index.html.md.erb
Labels: documentation

#228 ✨ Analytical Platform container images ✨
  .github/dependabot.yml
  .github/workflows/container-images-alpine.yml
  .github/workflows/container-images-rshiny.yml
  .github/workflows/container-images-ubuntu.yml
  .github/workflows/path-filter/container-images-alpine.yml
  .github/workflows/path-filter/container-images-ubuntu.yml
  .github/workflows/path-filter/container-images.yml
  container-images/alpine/base/CHANGELOG.md
  container-images/alpine/base/apko.yml
  container-images/alpine/base/config.json
  container-images/alpine/python3-dev/CHANGELOG.md
  container-images/alpine/python3-dev/apko.yml
  container-images/alpine/python3-dev/config.json
  container-images/alpine/python3/CHANGELOG.md
  container-images/alpine/python3/apko.yml
  container-images/alpine/python3/config.json
  container-images/alpine/simulated-data-producer/CHANGELOG.md
  container-images/alpine/simulated-data-producer/apko.yml
  container-images/alpine/simulated-data-producer/config.json
  container-images/base/config.json
  container-images/python3/config.json
  container-images/rshiny/CHANGELOG.md
  container-images/rshiny/Dockerfile
  container-images/rshiny/config.json
  container-images/rshiny/src/etc/shiny-server/shiny-server.conf
  container-images/rshiny/src/usr/local/bin/entrypoint.sh
  container-images/ubuntu/base/CHANGELOG.md
  container-images/ubuntu/base/Dockerfile
  container-images/ubuntu/base/config.json
  scripts/dependabot/generate-configuration.sh
Labels: github-workflow, Data Platform Core Infrastructure

#264 🔧 Updated R Shiny entrypoint
  .github/workflows/container-images-rshiny.yml
  container-images/rshiny/CHANGELOG.md
  container-images/rshiny/config.json
  container-images/rshiny/src/usr/local/bin/entrypoint.sh
Labels: github-workflow

#263 Dplab 36 architecture for compute
  docs/source/documentation/platform/images/data-platform-configuration-flow.png
  docs/source/documentation/platform/images/data-platform-data-flow.png
  docs/source/documentation/platform/index.html.md.erb
  docs/source/documentation/platform/run-data-product-in-platform-poc.html.md.erb
Labels: documentation

#266 ✨ Add data-platform-support repository
  terraform/github/locals.tf
Labels: Data Platform Core Infrastructure

#268 🚧 Drop R Shiny to Ubuntu Focal LTS (20.04)
  container-images/rshiny/Dockerfile
Labels: Data Platform Core Infrastructure

#272 Add Andy Cook to data-engineering-aws
  terraform/github/teams.tf
Labels: identity-access-management

#248 ✨ Implement PagerDuty
  .github/dependabot.yml
  .github/workflows/platform-pagerduty-on-call.yml
  .github/workflows/repository-generate-dependabot-configuration.yml
  .github/workflows/repository-github-super-linter.yml
  .github/workflows/reusable-terraform.yml
  .github/workflows/terraform-pagerduty.yml
  .gitignore
  scripts/pagerduty/slack-on-call.sh
  terraform/pagerduty/.terraform.lock.hcl
  terraform/pagerduty/business-services.tf
  terraform/pagerduty/data.tf
  terraform/pagerduty/escalation-policies.tf
  terraform/pagerduty/modules/escalation-policy/main.tf
  terraform/pagerduty/modules/escalation-policy/outputs.tf
  terraform/pagerduty/modules/escalation-policy/providers.tf
  terraform/pagerduty/modules/escalation-policy/variables.tf
  terraform/pagerduty/modules/schedule/main.tf
  terraform/pagerduty/modules/schedule/outputs.tf
  terraform/pagerduty/modules/schedule/providers.tf
  terraform/pagerduty/modules/schedule/variables.tf
  terraform/pagerduty/modules/service/business/main.tf
  terraform/pagerduty/modules/service/business/outputs.tf
  terraform/pagerduty/modules/service/business/providers.tf
  terraform/pagerduty/modules/service/business/variables.tf
  terraform/pagerduty/modules/service/technical/data.tf
  terraform/pagerduty/modules/service/technical/main.tf
  terraform/pagerduty/modules/service/technical/outputs.tf
  terraform/pagerduty/modules/service/technical/providers.tf
  terraform/pagerduty/modules/service/technical/variables.tf
  terraform/pagerduty/modules/team/main.tf
  terraform/pagerduty/modules/team/outputs.tf
  terraform/pagerduty/modules/team/providers.tf
  terraform/pagerduty/modules/team/variables.tf
  terraform/pagerduty/modules/user/main.tf
  terraform/pagerduty/modules/user/outputs.tf
  terraform/pagerduty/modules/user/providers.tf
  terraform/pagerduty/modules/user/variables.tf
  terraform/pagerduty/schedules.tf
  terraform/pagerduty/teams.tf
  terraform/pagerduty/technical-services.tf
  terraform/pagerduty/terraform.tf
  terraform/pagerduty/users.tf
Labels: github-workflow, Data Platform Core Infrastructure, Data Platform Apps and Tools

#293 🚑️ Fix PagerDuty scheduled action 🤜 BST 🤛
  .github/workflows/platform-pagerduty-on-call.yml
  .github/workflows/reusable-terraform.yml
  .github/workflows/terraform-github.yml
  .github/workflows/terraform-pagerduty.yml
  scripts/pagerduty/list-vendors.sh
  terraform/github/.terraform.lock.hcl
  terraform/github/data.tf
  terraform/github/modules/contributor/versions.tf
  terraform/github/modules/repository/versions.tf
  terraform/github/modules/team/versions.tf
  terraform/github/providers.tf
  terraform/github/teams.tf
  terraform/github/variables.tf
  terraform/github/versions.tf
  terraform/pagerduty/.terraform.lock.hcl
  terraform/pagerduty/modules/escalation-policy/providers.tf
  terraform/pagerduty/modules/schedule/providers.tf
  terraform/pagerduty/modules/service/business/providers.tf
  terraform/pagerduty/modules/service/technical/providers.tf
  terraform/pagerduty/modules/team/providers.tf
  terraform/pagerduty/modules/user/providers.tf
  terraform/pagerduty/terraform.tf
Labels: identity-access-management, github-workflow, Data Platform Core Infrastructure

#296 ⬆️ Bump Terraform to 1.4.5
  .github/workflows/reusable-terraform.yml
  .github/workflows/terraform-github.yml
  .github/workflows/terraform-pagerduty.yml
Labels: github-workflow, Data Platform Core Infrastructure

#298 Create EC2 Instsance for Data Engineering
  .github/workflows/terraform-data-engineering.yml
  terraform/data-engineering/.terraform.lock.hcl
  terraform/data-engineering/backend.tf
  terraform/data-engineering/data.tf
  terraform/data-engineering/main.tf
  terraform/data-engineering/providers.tf
  terraform/data-engineering/versions.tf
Labels: github-workflow

#300 Adding a new temporary team which will have developer access in DE Prod account
  terraform/github/.terraform.lock.hcl
  terraform/github/main.tf
  terraform/github/teams.tf
Labels: identity-access-management

#313 adding matt to labs team
  terraform/github/teams.tf
Labels: identity-access-management

#314 📌 Hard coded GitHub vendor ID
  terraform/pagerduty/modules/service/technical/data.tf
  terraform/pagerduty/modules/service/technical/main.tf
Labels: Data Platform Core Infrastructure

#362 🔥 Remove GitHub integration from PagerDuty
  terraform/pagerduty/modules/service/technical/data.tf
  terraform/pagerduty/modules/service/technical/main.tf
  terraform/pagerduty/modules/service/technical/outputs.tf
  terraform/pagerduty/modules/service/technical/variables.tf
  terraform/pagerduty/technical-services.tf
Labels: Data Platform Core Infrastructure

#368 add a kubectl image to be used by cron-restarter in cloud platform
  .github/workflows/container-images-alpine.yml
  .github/workflows/path-filter/container-images-alpine.yml
  container-images/alpine/kubectl/CHANGELOG.md
  container-images/alpine/kubectl/apko.yml
  container-images/alpine/kubectl/config.json
Labels: github-workflow

#373 ✨ Add policy tooling dev container feature
  .devcontainer/features/src/policy-tools/devcontainer-feature.json
  .devcontainer/features/src/policy-tools/install-conftest.sh
  .devcontainer/features/src/policy-tools/install-opa.sh
  .devcontainer/features/src/policy-tools/install.sh
  .devcontainer/features/test/policy-tools/test.sh
  .devcontainer/platform-engineering/devcontainer.json
  .github/workflows/devcontainer.yml
  .github/workflows/path-filter/devcontainer.yml
Labels: github-workflow, Data Platform Core Infrastructure

#381 ✨ PagerDuty on-call notification rewrite
  .github/workflows/platform-pagerduty-slack-on-call.yml
  scripts/pagerduty/slack-on-call/README.md
  scripts/pagerduty/slack-on-call/main.py
  scripts/pagerduty/slack-on-call/requirements.txt
Labels: github-workflow, Data Platform Core Infrastructure
