Repository ministryofjustice/analytical-platform, pull requests merged in 2023-10, with the labels that each got.

#1764 add me to data_platform_core_infrastructure_members
  terraform/github/data-platform/teams.tf
Labels: override-static-analysis

#1773 ✨ Add Data Platform User Guidance repository
  terraform/github/data-platform/.terraform.lock.hcl
  terraform/github/data-platform/locals.tf
  terraform/github/data-platform/versions.tf
Labels: override-static-analysis

#1781 Automate containers.yml generation
  .github/path-filter/containers.yml
  .github/workflows/containers.yml
  .gitignore
  containers/daap-landing-to-raw/CHANGELOG.md
  containers/daap-landing-to-raw/config.json
Labels: github-workflow

#1791 Skip duplicate actions
  .github/workflows/test-daap.yml
Labels: github-workflow

#1837 📌 Pin Terraform at 1.5.7
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/features/src/terraform-tools/install-terraform-switcher.sh
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow, devcontainer

#1844 Add data platform labs to create epic filter
  .github/workflows/github-issues-create-epic-label.yml
Labels: github-workflow

#1890 🧰 Pass through Github vars into dev container if they're set
  .devcontainer/devcontainer.json
Labels: devcontainer

#1898 🎡 Remove Infracost and unpin Terraform
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/features/src/terraform-tools/install-infracost.sh
  .devcontainer/features/src/terraform-tools/install.sh
  .devcontainer/features/test/terraform-tools/test.sh
  .github/workflows/reusable-workflow-terraform.yml
  .gitignore
Labels: github-workflow, devcontainer

#1974 :truck: Rename file
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-storageclass.tf
Labels: override-static-analysis

#1967 Add workflows for new data-platform-catalogue package
  .github/workflows/python-data-platform-catalogue.yml
  .github/workflows/test-data-platform-catalogue.yml
Labels: github-workflow

#2008 Update python-data-platform-catalogue.yml
  .github/workflows/python-data-platform-catalogue.yml
Labels: github-workflow

#2011 Fix typo in package name to match pypi
  .github/workflows/test-data-platform-catalogue.yml
  python-libraries/data-platform-catalogue/README.md
  python-libraries/data-platform-catalogue/pyproject.toml
Labels: github-workflow

#2015 Added ADR006 Use GOV.UK Eleventy Plugin for user documentation and front door
  docs/source/documentation/adrs/adr-006-use-gov-uk-eleventy-plugin-for-user-documentation-and-front-door.html.md.erb
  docs/source/documentation/adrs/adr-index.html.md.erb
Labels: documentation

#2039 add kms alias
  terraform/aws/analytical-platform/baseline/modules/cost-explorer-anomaly-monitor/main.tf
  terraform/aws/analytical-platform/baseline/modules/guardduty/main.tf
Labels: override-static-analysis

#2050 📝 Update Documentation
  docs/source/documentation/adrs/adr-001-use-cloud-platform-for-hosting-infrastructure.html.md.erb
  docs/source/documentation/adrs/adr-002-use-moderisation-platform-for-hosting-infrastructure-not-suitable-for-cloud-platform.html.md.erb
  docs/source/documentation/adrs/adr-003-use-azuread-for-identity-and-access-management.html.md.erb
  docs/source/documentation/team/joining-our-teams.html.md.erb
  docs/source/documentation/team/our-ceremonies.html.md.erb
Labels: documentation

#2048 📌 Bump Checkov
  .github/workflows/reusable-workflow-terraform.yml
  terraform/aws/analytical-platform-data-production/create-a-derived-table/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-policies.tf
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-roles.tf
  terraform/aws/analytical-platform-data-production/create-a-derived-table/terraform.tf
Labels: github-workflow

#2047 add provider for kms
  terraform/aws/analytical-platform/baseline/modules/cost-explorer-anomaly-monitor/main.tf
  terraform/aws/analytical-platform/baseline/modules/guardduty/main.tf
Labels: override-static-analysis

#2070 📝 Document Data Platform DNS hierarchy
  docs/source/documentation/platform/infrastructure/dns.html.md.erb
Labels: documentation

#2067 📝 Update tech docs
  .github/CODEOWNERS
  .github/dependabot.yml
  docs/source/documentation/platform/infrastructure/containers.html.md.erb
  docs/source/documentation/platform/infrastructure/terraform.html.md.erb
  docs/source/documentation/team/ways-of-working.html.md.erb
  scripts/dependabot/configuration-generator.sh
Labels: documentation

#2073 🚑 Add link to DNS doc page
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/platform/infrastructure/dns.html.md.erb
Labels: documentation

#2083 Initial implementation of new base rshiny image for apps
  containers/rshiny-open-source-base/CHANGELOG.md
  containers/rshiny-open-source-base/Dockerfile
  containers/rshiny-open-source-base/config.json
  containers/rshiny-open-source-base/gather_env_vars.py
  containers/rshiny-open-source-base/shiny-server.conf
  containers/rshiny-open-source-base/shiny-server.sh
  docs/source/documentation/platform/infrastructure/containers.html.md.erb
Labels: documentation

#2105 Dp 1846 migrate data product docs
  docs/source/documentation/data-products/components/data-cleansing-definitions.html.md.erb
  docs/source/documentation/data-products/components/data-dictionary-definitions.html.md.erb
  docs/source/documentation/data-products/components/data-transformation-definitions.html.md.erb
  docs/source/documentation/data-products/components/product-governance.html.md.erb
  docs/source/documentation/data-products/components/product-specification.html.md.erb
  docs/source/documentation/data-products/example_data_product/data-dictionary.yml
  docs/source/documentation/data-products/example_data_product/governance.yml
  docs/source/documentation/data-products/example_data_product/index.html.md.erb
  docs/source/documentation/data-products/example_data_product/specification.yml
  docs/source/documentation/data-products/example_data_product/transformations.yml
  docs/source/documentation/data-products/index.html.md.erb
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/platform/infrastructure/run-data-product-in-platform.html.md.erb
Labels: documentation

#2109 🚑 Correct drift in OIDC
  terraform/aws/analytical-platform/oidc/.terraform.lock.hcl
  terraform/aws/analytical-platform/oidc/oidc-roles.tf
  terraform/aws/analytical-platform/oidc/terraform.tf
Labels: override-static-analysis

#1981 ✨ Deploy Sagemaker (development)
  terraform/aws/analytical-platform-development/sagemaker/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/sagemaker/iam-roles.tf
  terraform/aws/analytical-platform-development/sagemaker/outputs.tf
  terraform/aws/analytical-platform-development/sagemaker/sagemaker.tf
  terraform/aws/analytical-platform-development/sagemaker/terraform.tf
  terraform/aws/analytical-platform-development/sagemaker/terraform.tfvars
  terraform/aws/analytical-platform-development/sagemaker/variables.tf
  terraform/aws/analytical-platform-development/sagemaker/vpc.tf
Labels: data-platform-apps-and-tools, override-static-analysis

#2151 :fire: Remove application migration strategic code
  .github/path-filter/terraform.yml
  terraform/application-migration/.terraform.lock.hcl
  terraform/application-migration/app-role-trusts.tf
  terraform/application-migration/backend.tf
  terraform/application-migration/data.tf
  terraform/application-migration/locals.tf
  terraform/application-migration/providers.tf
  terraform/application-migration/versions.tf
  terraform/github/application-migration/.terraform.lock.hcl
  terraform/github/application-migration/backend.tf
  terraform/github/application-migration/data.tf
  terraform/github/application-migration/locals.tf
  terraform/github/application-migration/main.tf
  terraform/github/application-migration/outputs.tf
  terraform/github/application-migration/providers.tf
  terraform/github/application-migration/versions.tf
Labels: override-static-analysis

#2152 🎡 Set Markdown as default for tech-docs
  .devcontainer/features/src/base/devcontainer-feature.json
Labels: devcontainer
