Repository ministryofjustice/analytical-platform, pull requests merged in 2023-05, with the labels that each got.

#389 🚑 Update API call for getting on-call user
  scripts/pagerduty/slack-on-call/main.py
Labels: Data Platform Core Infrastructure

#421 ⚡ Enhance permissions of Data Modelling Tooling engineers
  terraform/github/teams.tf
Labels: identity-access-management

#417 ✨ Adds Data-Platform-Support repository
  README.md
Labels: documentation

#424 🔧 Update PagerDuty escalation policies and urgencies
  terraform/pagerduty/escalation-policies.tf
  terraform/pagerduty/technical-services.tf
Labels: Data Platform Core Infrastructure

#430 Update adr-000-record-architecture-decisions.html.md.erb
  docs/source/documentation/adrs/adr-000-record-architecture-decisions.html.md.erb
Labels: documentation

#426 ✔️ add final DMT member to modernisation role
  terraform/github/teams.tf
Labels: identity-access-management

#431 Adding Thomas Hepworth and Sam Lindsey with data engineering permissions.
  terraform/github/teams.tf
Labels: identity-access-management

#432 Adding Zoe, Alice, Ross and Andrew
  terraform/github/teams.tf
Labels: identity-access-management

#434 Adding afua.
  terraform/github/teams.tf
Labels: identity-access-management

#439 Adding data engineers
  terraform/github/teams.tf
Labels: identity-access-management

#440 Fix Murad's username
  terraform/github/teams.tf
Labels: identity-access-management

#435 ✨ Adding new PagerDuty services
  terraform/pagerduty/technical-services.tf
Labels: Data Platform Core Infrastructure

#445 🔧 Add Analytical Platform to PagerDuty Slack on-call workflow
  .github/workflows/platform-pagerduty-slack-on-call.yml
Labels: Data Platform Core Infrastructure

#448 📟 Updates to PagerDuty configuration
  terraform/pagerduty/.terraform.lock.hcl
  terraform/pagerduty/business-services.tf
  terraform/pagerduty/modules/escalation-policy/providers.tf
  terraform/pagerduty/modules/schedule/providers.tf
  terraform/pagerduty/modules/service/business/providers.tf
  terraform/pagerduty/modules/service/technical/providers.tf
  terraform/pagerduty/modules/team/providers.tf
  terraform/pagerduty/modules/user/providers.tf
  terraform/pagerduty/schedules.tf
  terraform/pagerduty/teams.tf
  terraform/pagerduty/technical-services.tf
  terraform/pagerduty/terraform.tf
Labels: Data Platform Core Infrastructure

#452 📝 Add PagerDuty and GitHub Issues to Ways of Working
  docs/source/documentation/team/ways-of-working.html.md.erb
Labels: documentation, Data Platform Core Infrastructure

#458 📟 Set PagerDuty acknowledgement timeout to null
  .github/dependabot.yml
  .github/workflows/repository-generate-dependabot-configuration.yml
  terraform/pagerduty/.terraform.lock.hcl
  terraform/pagerduty/modules/service/technical/providers.tf
  terraform/pagerduty/modules/service/technical/variables.tf
  terraform/pagerduty/technical-services.tf
  terraform/pagerduty/terraform.tf
Labels: github-workflow, Data Platform Core Infrastructure

#456 Updated ADR 4
  docs/source/documentation/adrs/adr-004-data-should-be-pushed-into-data-products.html.md.erb
  docs/source/documentation/adrs/adr-index.html.md.erb
Labels: documentation

#474 Splitting out IAM-related App Migration Code, Migrating OIDC in from IAM repo, Refactoring OIDC providers and workflows
  .github/workflows/terraform-application-migration.yml
  .github/workflows/terraform-github.yml
  .github/workflows/terraform-oidc.yml
  configuration/ap_migration_apps.json
  terraform/application-migration/.terraform.lock.hcl
  terraform/application-migration/app-role-trusts.tf
  terraform/application-migration/backend.tf
  terraform/application-migration/data.tf
  terraform/application-migration/locals.tf
  terraform/application-migration/providers.tf
  terraform/application-migration/versions.tf
  terraform/github/data.tf
  terraform/github/locals.tf
  terraform/oidc/.terraform.lock.hcl
  terraform/oidc/backend.tf
  terraform/oidc/data.tf
  terraform/oidc/github-actions-deployment-roles.tf
  terraform/oidc/github-oidc-assumable-roles-config.json
  terraform/oidc/github-oidc-assumable-roles.tf
  terraform/oidc/locals.tf
  terraform/oidc/oidc-providers.tf
  terraform/oidc/providers.tf
  terraform/oidc/versions.tf
Labels: github-workflow

#492 Add Data Platform Security service
  terraform/pagerduty/technical-services.tf
Labels: Data Platform Core Infrastructure
