Repository ministryofjustice/analytical-platform, pull requests merged in 2023-08, with the labels that each got.

#1052 create own irsa
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
Labels: firebreak, override-static-analysis

#1055 :passport_control: Create sqs iam permissions
  terraform/aws/analytical-platform-development/cluster/iam-policies.tf
Labels: firebreak, override-static-analysis

#1037 🔥 Auth0 Logs to AWS CloudWatch
  terraform/aws/analytical-platform-development/open-metadata/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/open-metadata/auth0-log-streams.tf
  terraform/aws/analytical-platform-development/open-metadata/cloudwatch-log-groups.tf
  terraform/aws/analytical-platform-development/open-metadata/data.tf
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
  terraform/aws/analytical-platform-development/open-metadata/eventbridge-rules.tf
  terraform/aws/analytical-platform-development/open-metadata/eventbridge-targets.tf
  terraform/aws/analytical-platform-development/open-metadata/managed-grafana.tf
  terraform/aws/analytical-platform-development/open-metadata/rds.tf
  terraform/aws/analytical-platform-development/open-metadata/terraform.tf
Labels: firebreak, override-static-analysis

#1108 🌐 Add AWS region to ZSH prompt
  .devcontainer/features/src/base/moj-codespaces.zsh-theme
  .devcontainer/features/src/kubernetes-tools/src/home/vscode/.kube/config
Labels: Data Platform Core Infrastructure, devcontainer

#1120 ⛰️ Bump Alpine to 3.18.3
  containers/alpine-base/CHANGELOG.md
  containers/alpine-base/Dockerfile
  containers/alpine-base/config.json
  containers/daap-simulated-data-producer/CHANGELOG.md
  containers/daap-simulated-data-producer/Dockerfile
  containers/daap-simulated-data-producer/config.json
  containers/kubectl/CHANGELOG.md
  containers/kubectl/Dockerfile
  containers/kubectl/config.json
Labels: Data Platform Core Infrastructure

#1128 Add new workflow to track changes to app migration config
  .github/workflows/configuration-workflow-terraform.yml
  configuration/ap_migration_apps.json
Labels: github-workflow, override-static-analysis

#1126 🎡 Dev Container updates
  .devcontainer/devcontainer.json
  .devcontainer/docs/DEVCONTAINER.md
  .devcontainer/docs/img/vscode-devcontainer-ui.png
  .devcontainer/features/src/base/install.sh
  .devcontainer/features/src/git-tools/devcontainer-feature.json
  .devcontainer/features/src/git-tools/install-detect-secrets.sh
  .devcontainer/features/src/git-tools/install-pre-commit.sh
  .devcontainer/features/src/git-tools/install.sh
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/features/src/terraform-tools/install-infracost.sh
  .devcontainer/features/src/terraform-tools/install.sh
  .devcontainer/features/test/git-tools/test.sh
  .devcontainer/features/test/pulumi-tools/test.sh
  .devcontainer/features/test/sast-tools/test.sh
  .devcontainer/features/test/terraform-tools/test.sh
  .devcontainer/platform-engineering/devcontainer.json
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/source/documentation/team/developing.html.md.erb
  docs/source/documentation/team/ways-of-working.html.md.erb
  scripts/devcontainer/feature-test.sh
  scripts/docs/docker.sh
Labels: documentation, Data Platform Core Infrastructure, devcontainer

#1154 🚑 Fix pre-commit code block
  docs/source/documentation/team/developing.html.md.erb
Labels: documentation, Data Platform Core Infrastructure

#1155 📦 Push DaaP Python Base to GHCR
  .github/workflows/reusable-workflow-containers.yml
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: github-workflow, Data Platform Core Infrastructure

#1156 🚑 Fix GHCR login
  .github/workflows/reusable-workflow-containers.yml
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
Labels: github-workflow

#1158 add data-platform component so teams are added to new repos
  .github/workflows/configuration-workflow-terraform.yml
Labels: github-workflow

#1160 add oidc component so oidc connections are updated for app repos
  .github/workflows/configuration-workflow-terraform.yml
Labels: github-workflow

#1161 sort json to trigger tf plan and apply update
  configuration/ap_migration_apps.json
Labels: override-static-analysis

#1159 Add additional repos for ECR
  terraform/aws/analytical-platform/oidc/locals.tf
Labels: override-static-analysis

#1135 Off board Louise :(
  terraform/github/data-platform/teams.tf
Labels: override-static-analysis

#1169 add remaining apps to migration flow
  configuration/ap_migration_apps.json
Labels: override-static-analysis

#1172 🔥 Remove RDS anomalaous alarm
  terraform/aws/analytical-platform-development/cluster/cloudwatch-alarms.tf
  terraform/aws/analytical-platform-production/cluster/cloudwatch-alarms.tf
Labels: Data Platform Core Infrastructure, override-static-analysis

#1173 added warning to homepage and missing pages
  docs/config/tech-docs.yml
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
  docs/source/documentation/platform/infrastructure/run-data-product-in-platform.html.md.erb
  docs/source/documentation/platform/introduction/index.html.md.erb
  docs/source/documentation/platform/requirements/index.html.md.erb
  docs/source/documentation/team/ways-of-working.html.md.erb
Labels: documentation

#1164 Anpl 1698 prepare release mq to prod cpanel
  .github/dependabot.yml
  .github/path-filter/terraform.yml
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/data.tf
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/iam-policies.tf
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/locals.tf
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/outputs.tf
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/sqs.tf
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/terraform.tf
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/terraform.tfvars
  terraform/aws/analytical-platform-data-production/control-panel-message-broker/variables.tf
  terraform/aws/analytical-platform-production/cluster/data.tf
  terraform/aws/analytical-platform-production/cluster/iam-policies.tf
  terraform/aws/analytical-platform-production/cluster/iam-roles.tf
  terraform/aws/analytical-platform-production/cluster/terraform.tf
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
  terraform/aws/analytical-platform-production/cluster/variables.tf
Labels: override-static-analysis

#1180 :memo: Update review dates
  docs/source/documentation/adrs/adr-000-record-architecture-decisions.html.md.erb
  docs/source/documentation/adrs/adr-005-use-aws-secrets-manager-for-secrets.html.md.erb
  docs/source/documentation/adrs/adr-index.html.md.erb
  docs/source/documentation/index.html.md.erb
Labels: documentation

#1275 📝 Update developing.html.md.erb
  docs/source/documentation/platform/infrastructure/developing.html.md.erb
Labels: documentation

#1306 DMT-1238/add-airflow-routetables
  terraform/aws/analytical-platform-data-production/airflow/network.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
  terraform/aws/analytical-platform-data-production/airflow/variables.tf
Labels: override-static-analysis

#1308 DMT-1238/add-private-route-tables
  terraform/aws/analytical-platform-data-production/airflow/network.tf
Labels: override-static-analysis

#1312 DMT-1238/airflow-vpc-attachments
  terraform/aws/analytical-platform-data-production/airflow/network.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
  terraform/aws/analytical-platform-data-production/airflow/variables.tf
Labels: override-static-analysis

#1313 🛂 Switch to MP's OIDC role
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
  containers/daap-authorizer/CHANGELOG.md
  containers/daap-authorizer/config.json
  containers/daap-docs/CHANGELOG.md
  containers/daap-docs/config.json
  containers/daap-get-glue-metadata/CHANGELOG.md
  containers/daap-get-glue-metadata/config.json
  containers/daap-presigned-url/CHANGELOG.md
  containers/daap-presigned-url/config.json
  docs/source/documentation/platform/infrastructure/containers.html.md.erb
Labels: documentation

#1252 ♻️ Refactor Issue Templates
  .github/ISSUE_TEMPLATE/bug-template.yml
  .github/ISSUE_TEMPLATE/feature-request-template.yml
  .github/ISSUE_TEMPLATE/story-template.yml
  .github/ISSUE_TEMPLATE/zenhub-bug-template.md
  .github/ISSUE_TEMPLATE/zenhub-feature-request-template.md
  .github/ISSUE_TEMPLATE/zenhub-story-template.md
Labels: override-static-analysis

#1319 DMT-1250/airflow-dev-iam-role
  terraform/aws/analytical-platform-data-production/airflow/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
Labels: override-static-analysis

#1335 Adding Airflow-Dev EKS cluster to TF resources
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/network.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
  terraform/aws/analytical-platform-data-production/airflow/variables.tf
Labels: override-static-analysis

#1336 ⦂wrench⦂ Create airflow eks node groups
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
Labels: override-static-analysis
