Repository ministryofjustice/analytical-platform, pull requests merged in 2023-06, with the labels that each got.

#523 🚚 Moved, upgraded and refactored DE's 10DS application
  .github/workflows/terraform-aws-analytical-platform-data-engineering-production-10ds.yml
  .github/workflows/terraform-data-engineering.yml
  terraform/aws/analytical-platform-data-engineering-production/10ds/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-engineering-production/10ds/data.tf
  terraform/aws/analytical-platform-data-engineering-production/10ds/ec2-instances.tf
  terraform/aws/analytical-platform-data-engineering-production/10ds/locals.tf
  terraform/aws/analytical-platform-data-engineering-production/10ds/security-groups.tf
  terraform/aws/analytical-platform-data-engineering-production/10ds/terraform.tf
  terraform/aws/analytical-platform-data-engineering-production/10ds/terraform.tfvars
  terraform/aws/analytical-platform-data-engineering-production/10ds/variables.tf
  terraform/aws/analytical-platform-data-engineering-production/10ds/vpc.tf
  terraform/data-engineering/.terraform.lock.hcl
  terraform/data-engineering/backend.tf
  terraform/data-engineering/data.tf
  terraform/data-engineering/main.tf
  terraform/data-engineering/providers.tf
  terraform/data-engineering/versions.tf
Labels: github-workflow, Data Platform Core Infrastructure

#530 🎡 Add Data Platform Apps and Tools Development account to AWS config
  .devcontainer/features/src/aws-tools/src/home/vscode/.aws/config
Labels: Data Platform Core Infrastructure

#537 ♻️ Update Dependabot configuration generator to run on pull request
  .github/workflows/repository-dependabot-configuration-generator.yml
  .github/workflows/repository-generate-dependabot-configuration.yml
  scripts/dependabot/commit-configuration.sh
  scripts/dependabot/configuration-generator.sh
  scripts/dependabot/generate-configuration.sh
Labels: github-workflow, Data Platform Core Infrastructure

#545 🩹 Fix PagerDuty Slack on-call script
  scripts/pagerduty/slack-on-call/README.md
  scripts/pagerduty/slack-on-call/main.py
  scripts/pagerduty/slack-on-call/requirements.txt
Labels: Data Platform Core Infrastructure

#547 🎨 Rename PagerDuty daily rota functionality
  .github/workflows/platform-pagerduty-rota-to-slack.yml
  docs/source/documentation/adrs/adr-005-use-aws-secrets-manager-for-secrets.html.md.erb
  docs/source/documentation/team/ways-of-working.html.md.erb
  scripts/pagerduty/rota-to-slack/README.md
  scripts/pagerduty/rota-to-slack/main.py
  scripts/pagerduty/rota-to-slack/requirements.txt
Labels: documentation, github-workflow, Data Platform Core Infrastructure

#546 ✨ Added Pip ecosystem to Dependabot configuration generator
  .github/dependabot.yml
  scripts/dependabot/configuration-generator.sh
Labels: Data Platform Core Infrastructure

#557 📝 Add heading to TechDocs
  docs/source/documentation/index.html.md.erb
Labels: documentation

#583 Offboarding Andy
  terraform/github/teams.tf
Labels: identity-access-management

#581 📐 Add C4 model diagrams
  docs/source/documentation/diagrams/architecture-diagrams.html.md.erb
  docs/source/documentation/diagrams/c4-model-level1.excalidraw.png
  docs/source/documentation/diagrams/c4-model-level2.excalidraw.png
  docs/source/documentation/diagrams/c4-model-level3-data-product.excalidraw.png
  docs/source/documentation/index.html.md.erb
Labels: documentation

#579 Data product container image
  .github/dependabot.yml
  .github/workflows/build-and-push-to-ecr-athena-load-image.yml
  container-images/data-as-a-product/athena-load/Dockerfile
  container-images/data-as-a-product/athena-load/athena_load_handler.py
  container-images/data-as-a-product/athena-load/config.json
  container-images/data-as-a-product/athena-load/requirements.txt
Labels: github-workflow

#645 put path to dockerfile
  .github/workflows/build-and-push-to-ecr-athena-load-image.yml
Labels: github-workflow

#684 🦮 Add k9s to dev container
  .devcontainer/features/src/kubernetes-tools/devcontainer-feature.json
  .devcontainer/features/src/kubernetes-tools/install-k9s.sh
  .devcontainer/features/src/kubernetes-tools/install.sh
  .devcontainer/features/test/kubernetes-tools/test.sh
Labels: Data Platform Core Infrastructure

#685 🏷️ Add devcontainer label
  .github/labeler.yml
Labels: Data Platform Core Infrastructure

#647 restructured data platform documentation
  .editorconfig
  docs/source/documentation/platform/index.html.md.erb
  docs/source/documentation/platform/introduction/What is the data platform.drawio
  docs/source/documentation/platform/introduction/index.html.md.erb
  docs/source/documentation/platform/requirements/index.html.md.erb
  docs/source/documentation/platform/requirements/run-data-product-in-platform.html.md.erb
Labels: documentation

#643 Open Metadata EKS
  .github/dependabot.yml
  scripts/eks/terraform-authentication.sh
  terraform/aws/analytical-platform-development/open-metadata/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/open-metadata/certificates.tf
  terraform/aws/analytical-platform-development/open-metadata/data.tf
  terraform/aws/analytical-platform-development/open-metadata/efs.tf
  terraform/aws/analytical-platform-development/open-metadata/eks.tf
  terraform/aws/analytical-platform-development/open-metadata/helm-charts.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-policies.tf
  terraform/aws/analytical-platform-development/open-metadata/iam-roles.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernete-storageclass.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-namespace.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-pv.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-pvc.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-resources.tf
  terraform/aws/analytical-platform-development/open-metadata/kubernetes-secrets.tf
  terraform/aws/analytical-platform-development/open-metadata/locals.tf
  terraform/aws/analytical-platform-development/open-metadata/opensearch.tf
  terraform/aws/analytical-platform-development/open-metadata/random.tf
  terraform/aws/analytical-platform-development/open-metadata/rds.tf
  terraform/aws/analytical-platform-development/open-metadata/route53.tf
  terraform/aws/analytical-platform-development/open-metadata/security-groups.tf
  terraform/aws/analytical-platform-development/open-metadata/src/helm/aws-efs-csi-driver/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/aws-load-balancer-controller/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/cert-manager/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/cluster-autoscaler/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/external-dns/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/openmetadata-dependencies/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/src/helm/openmetadata/values.yml.tftpl
  terraform/aws/analytical-platform-development/open-metadata/terraform.tf
  terraform/aws/analytical-platform-development/open-metadata/terraform.tfvars
  terraform/aws/analytical-platform-development/open-metadata/variables.tf
  terraform/aws/analytical-platform-development/open-metadata/vpc.tf
Labels: Data Platform Core Infrastructure

#729 🚑 Fix ECR login
  .github/workflows/reusable-workflow-containers.yml
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/config.json
Labels: github-workflow
