Repository ministryofjustice/analytical-platform, pull requests merged in 2023-02, with the labels that each got.

#34 :memo: Adds technical document template to repo
  .github/workflows/check-links.yml
  .github/workflows/publish.yml
  Gemfile
  Gemfile.lock
  config/tech-docs.yml
  docs/.gitkeep
  makefile
  source/documentation/foo/bar.html.md.erb
  source/documentation/index.html.md.erb
  source/index.html.md.erb
  source/javascripts/application.js
  source/stylesheets/print.css.scss
  source/stylesheets/screen-old-ie.css.scss
  source/stylesheets/screen.css.scss
Labels: documentation

#82 👷‍♂️ Add MoJ Cloud Platform CLI to devcontainer
  .devcontainer/features/src/kubernetes-tools/devcontainer-feature.json
  .devcontainer/features/src/kubernetes-tools/install-moj-cp-cli.sh
  .devcontainer/features/src/kubernetes-tools/install.sh
  .devcontainer/features/test/kubernetes-tools/test.sh
Labels: enhancement

#88 🙅 Turn off requirement of signed commits
  terraform/github/main.tf
Labels: github-actions

#87 :bookmark: Add pull request labeler action
  .github/labeler.yml
  .github/workflows/pull-request-labeler.yml
Labels: enhancement

#91 💅 Move tech-docs
  .devcontainer/docs/DEVCONTAINER.md
  .devcontainer/docs/img/vscode-devcontainer-ui.png
  .github/workflows/check-links.yml
  .github/workflows/publish.yml
  docs/.gitkeep
  docs/Gemfile
  docs/Gemfile.lock
  docs/config/tech-docs.yml
  docs/makefile
  docs/source/documentation/index.html.md.erb
  docs/source/index.html.md.erb
  docs/source/javascripts/application.js
  docs/source/stylesheets/print.css.scss
  docs/source/stylesheets/screen-old-ie.css.scss
  docs/source/stylesheets/screen.css.scss
Labels: documentation, enhancement

#105 adding github action pinned dependancies
  .github/workflows/check-links.yml
  .github/workflows/ci-devcontainer.yaml
  .github/workflows/publish.yml
Labels: github-workflow

#106 👷‍♂️ Add Pulumi devcontainer feature
  .devcontainer/features/src/pulumi-tools/devcontainer-feature.json
  .devcontainer/features/src/pulumi-tools/install-pulumi.sh
  .devcontainer/features/src/pulumi-tools/install.sh
  .devcontainer/features/test/pulumi-tools/test.sh
  .devcontainer/platform-engineering/devcontainer.json
  .github/workflows/path-filter/devcontainer.yaml
Labels: enhancement, github-workflow

#112 :memo: fix index path
  docs/source/documentation/index.html.md.erb
Labels: documentation

#115 👨‍🔧 Switch to Data Platform publishing image variant
  .github/workflows/publish.yml
  docs/Gemfile
  docs/Gemfile.lock
  docs/config/tech-docs.yml
  docs/makefile
Labels: documentation, github-workflow

#125 🎡 Adding ACT to devcontainer
  .devcontainer/features/src/cicd-tools/devcontainer-feature.json
  .devcontainer/features/src/cicd-tools/install-act.sh
  .devcontainer/features/src/cicd-tools/install.sh
  .devcontainer/features/test/cicd-tools/test.sh
  .devcontainer/platform-engineering/devcontainer.json
  .github/workflows/path-filter/devcontainer.yaml
Labels: github-workflow

#124 👨‍🔧 Update GitHub Token secret name
  .github/workflows/add-issues-to-project.yml
Labels: github-workflow

#131 🚑 Fix broken tech-doc links
  docs/config/tech-docs.yml
  docs/source/documentation/adrs/adr-index.html.md.erb
Labels: documentation

#111 adding pinned dependancies
  .github/workflows/ci-devcontainer.yaml
  .github/workflows/publish.yml
Labels: github-workflow

#134 Change npm install command to use username/package-name
  .github/workflows/publish.yml
Labels: github-workflow

#137 🚑 Fix Dependabot workflow
  .github/workflows/generate-dependabot-file.yml
  scripts/dependabot/commit-configuration.sh
  scripts/dependabot/generate-configuration.sh
  scripts/generate-dependabot-file.sh
  scripts/git-commit-and-pull-request.sh
  scripts/git-setup.sh
Labels: github-workflow

#147 🔒 Import data-platform-core-infra GitHub team
  .gitignore
  terraform/github/locals.tf
  terraform/github/main.tf
  terraform/github/teams.tf
Labels: identity-access-management

#149 🚑 Fix broken GitHub Actions workflows
  .github/workflows/documentation-publish.yml
  .github/workflows/repository-openssf-scorecard.yml
Labels: github-workflow

#150 💤 Retire example service
  .github/workflows/service-example.yml
  services/example/app.py
  services/example/requirements.txt
Labels: github-workflow

#152 ⬆️ Update MoJ compliant badge 🪪
  README.md
Labels: documentation

#154 README: replace 'contents' with 'useful links' and update link to ADRs
  README.md
Labels: documentation

#142 📝 Add ADR for using AzureAD for IDAM
  README.md
  docs/source/documentation/adrs/adr-002-use-azuread-for-identity-and-access-management.html.md.erb
  docs/source/documentation/adrs/adr-index.html.md.erb
  terraform/github/main.tf
Labels: documentation

#157 Adding sandbox and Github Issues access for users.
  terraform/github/teams.tf
Labels: identity-access-management
