Repository ministryofjustice/analytical-platform, pull requests merged in 2023-03, with the labels that each got.

#166 Adds initial documentation
  docs/source/documentation/platform/what-is-the-data-platform.html.md.erb
Labels: documentation

#168 🔧 Remove makl3
  terraform/github/teams.tf
Labels: identity-access-management

#167 Adds images, diagrams and an index for platform documentation
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/platform/What is the data platform.drawio
  docs/source/documentation/platform/images/data-platform-overview.png
  docs/source/documentation/platform/images/what-is-the-data-platform.png
  docs/source/documentation/platform/index.html.md.erb
  docs/source/documentation/platform/what-is-the-data-platform.html.md.erb
Labels: documentation

#169 📝 Add ways of working
  docs/config/tech-docs.yml
  docs/makefile
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/platform/index.html.md.erb
  docs/source/documentation/team/ways-of-working.html.md.erb
Labels: documentation

#170 :green_heart: Update documentation workflow
  .github/linters/.jscpd.json
  .github/workflows/documentation.yml
  .github/workflows/repository-code-formatters.yml
  docs/config/tech-docs.yml
  docs/makefile
Labels: documentation, github-workflow

#171 :art: Remove exception from URL checking
  .github/workflows/documentation.yml
Labels: github-workflow

#186 Update team memberships
  terraform/github/teams.tf
Labels: identity-access-management

#184 Added data platforms labs team
  terraform/github/locals.tf
  terraform/github/main.tf
  terraform/github/teams.tf
Labels: identity-access-management

#181 ✨ Add Alpine container images
  .github/CODEOWNERS
  .github/workflows/container-images.yml
  .github/workflows/path-filter/container-images.yml
  .gitignore
  container-images/base/CHANGELOG.md
  container-images/base/apko.yml
  container-images/base/config.json
  container-images/python3-dev/CHANGELOG.md
  container-images/python3-dev/apko.yml
  container-images/python3-dev/config.json
  container-images/python3/CHANGELOG.md
  container-images/python3/apko.yml
  container-images/python3/config.json
Labels: github-workflow, Data Platform Core Infrastructure

#188 🚑 Add on.push trigger for container images
  .github/workflows/container-images.yml
Labels: Data Platform Core Infrastructure

#189 🚀 Push base images to Docker Hub
  .github/linters/.markdown-lint.yml
  container-images/base/CHANGELOG.md
  container-images/base/config.json
  container-images/python3-dev/CHANGELOG.md
  container-images/python3-dev/config.json
  container-images/python3/CHANGELOG.md
  container-images/python3/config.json
Labels: Data Platform Core Infrastructure

#193 JML: Adding Braimah to AnalyticsHQ Group
  terraform/github/teams.tf
Labels: identity-access-management

#174 ✨ Add Simulated Data Producer migration
  .github/CODEOWNERS
  .github/workflows/platform-simulated-data-producer.yml
  scripts/simulated-data-producer/README.md
  scripts/simulated-data-producer/entrypoint.sh
  scripts/simulated-data-producer/job.yml
  scripts/simulated-data-producer/main.py
Labels: github-workflow, Data Platform Core Infrastructure

#198 💚 Moved certificate authority configuration to its own command
  .github/workflows/platform-simulated-data-producer.yml
Labels: github-workflow, Data Platform Core Infrastructure

#200 💚 Add HTTP to Kubernetes server address
  .github/workflows/platform-simulated-data-producer.yml
Labels: github-workflow, Data Platform Core Infrastructure

#202 jml/Removing-George-Schena
  terraform/github/teams.tf
Labels: identity-access-management

#206 🔧 Add Cloud Platform Kubernetes configuration to dev container
  .devcontainer/docs/DEVCONTAINER.md
  .devcontainer/features/src/base/moj-codespaces.zsh-theme
  .devcontainer/features/src/kubernetes-tools/src/home/vscode/.kube/config
Labels: enhancement, Data Platform Core Infrastructure

#208 📝 Update README with OpenSSF best practices
  README.md
Labels: documentation

#212 🔧 Update AWS dev container feature to use AWS SSO
  .devcontainer/data-engineering/devcontainer.json
  .devcontainer/docs/DEVCONTAINER.md
  .devcontainer/features/src/aws-tools/devcontainer-feature.json
  .devcontainer/features/src/aws-tools/install-aws-cli.sh
  .devcontainer/features/src/aws-tools/src/home/vscode/.aws/config
  .devcontainer/features/src/base/moj-codespaces.zsh-theme
  .devcontainer/platform-engineering/devcontainer.json
Labels: enhancement, Data Platform Core Infrastructure

#217 🗑️ Remove MoJ Code Formatter
  .github/workflows/repository-github-super-linter.yml
Labels: github-workflow, Data Platform Core Infrastructure

#219 🔧 Update AWS Vault installer to create directory
  .devcontainer/features/src/aws-tools/install-aws-vault.sh
Labels: Data Platform Core Infrastructure

#240 Give Simon Security Auditor Permissings in AP Accounts.
  terraform/github/main.tf
  terraform/github/teams.tf
Labels: identity-access-management

#242 Correcting Simon's github username
  terraform/github/teams.tf
Labels: identity-access-management

#247 🔥 Replace hclq with hcl2json
  .devcontainer/features/src/terraform-tools/devcontainer-feature.json
  .devcontainer/features/src/terraform-tools/install-hcl2json.sh
  .devcontainer/features/src/terraform-tools/install.sh
  .devcontainer/features/test/terraform-tools/test.sh
Labels: Data Platform Core Infrastructure

#253 Added michael collin to ap engieers team
  terraform/github/teams.tf
Labels: identity-access-management
