Repository ministryofjustice/analytical-platform, pull requests merged in 2024-04, with the labels that each got.

#3976 Remove tamsin from team as work has been completed
  terraform/github/analytical-platform-teams.tf
Labels: identity-access-management

#3985 Remove Github component
  .github/dependabot.yml
  terraform/github/.terraform.lock.hcl
  terraform/github/analytical-platform-repositories.tf
  terraform/github/analytical-platform-teams.tf
  terraform/github/configuration/data-engineering-access.json
  terraform/github/data-catalogue.tf
  terraform/github/data-platform-repositories.tf
  terraform/github/data-platform-teams.tf
  terraform/github/data.tf
  terraform/github/locals.tf
  terraform/github/modules/repository/main.tf
  terraform/github/modules/repository/outputs.tf
  terraform/github/modules/repository/providers.tf
  terraform/github/modules/repository/variables.tf
  terraform/github/modules/team/main.tf
  terraform/github/modules/team/outputs.tf
  terraform/github/modules/team/providers.tf
  terraform/github/modules/team/variables.tf
  terraform/github/terraform.tf
  terraform/github/terraform.tfvars
  terraform/github/variables.tf
Labels: identity-access-management

#4106 🌐 Set BOLD egress KMS keys to multi region
  terraform/aws/analytical-platform-data-production/ingestion-egress/kms-keys.tf
Labels: do-not-merge

#4224 🤖 Automatically update GitHub Projects issue type based on label
  .github/ISSUE_TEMPLATE/bug-report-template.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/epic-template.yml
  .github/ISSUE_TEMPLATE/feature-request-template.yml
  .github/ISSUE_TEMPLATE/ithc-template.yml
  .github/ISSUE_TEMPLATE/story-template.yml
  .github/workflows/repository-add-issue-to-project.yml
  .github/workflows/repository-update-issue-type.yml
Labels: github-workflow

#4221 Add ec2:DescribeLaunchTemplateVersions permission
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
Labels: override-static-analysis

#4243 😭 Remove noisy linters
  .github/workflows/repository-super-linter.yml
Labels: github-workflow
