Repository ministryofjustice/analytical-platform, pull requests merged in 2024-03, with the labels that each got.

#3450 Adding PowerBI Gateway Infra
  .github/path-filter/terraform.yml
  .github/workflows/trivy.yml
  terraform/aws/analytical-platform-data-production/powerbi-gateway/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/powerbi-gateway/data.tf
  terraform/aws/analytical-platform-data-production/powerbi-gateway/ec2-instances.tf
  terraform/aws/analytical-platform-data-production/powerbi-gateway/locals.tf
  terraform/aws/analytical-platform-data-production/powerbi-gateway/security-groups.tf
  terraform/aws/analytical-platform-data-production/powerbi-gateway/terraform.tf
  terraform/aws/analytical-platform-data-production/powerbi-gateway/terraform.tfvars
  terraform/aws/analytical-platform-data-production/powerbi-gateway/variables.tf
  terraform/aws/analytical-platform-data-production/powerbi-gateway/vpc.tf
Labels: github-workflow

#3499 adding Robin to data-enginneering-access to fix pr
  terraform/github/configuration/data-engineering-access.json
Labels: override-static-analysis

#3536 Adding Users and Roles for ITHC
  terraform/aws/analytical-platform-landing-production/ithc/.terraform.lock.hcl
  terraform/aws/analytical-platform-landing-production/ithc/data.tf
  terraform/aws/analytical-platform-landing-production/ithc/iam-roles.tf
  terraform/aws/analytical-platform-landing-production/ithc/iam-users.tf
  terraform/aws/analytical-platform-landing-production/ithc/locals.tf
  terraform/aws/analytical-platform-landing-production/ithc/secrets-manager.tf
  terraform/aws/analytical-platform-landing-production/ithc/terraform.tf
  terraform/aws/analytical-platform-landing-production/ithc/terraform.tfvars
  terraform/aws/analytical-platform-landing-production/ithc/variables.tf
Labels: override-static-analysis

#3503 Add Alex so we can assign tickets
  terraform/github/data-catalogue.tf
Labels: override-static-analysis

#3537 ITHC: Adding Pentesters as cluster masters to AP Dev
  .github/path-filter/terraform.yml
  terraform/aws/analytical-platform-development/cluster/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/cluster/data.tf
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
  terraform/aws/analytical-platform-development/cluster/terraform.tf
Labels: override-static-analysis

#3542 Add a new repo for spiking a custom ingestion source
  terraform/github/data-catalogue.tf
Labels: override-static-analysis

#3547 ♻️ Rename Data Platform Control Panel to Analytical Platform Dashboard
  terraform/github/analytical-platform-repositories.tf
  terraform/github/data-platform-repositories.tf
Labels: override-static-analysis

#3546 Replace data-catalogue with a new repo
  terraform/github/analytical-platform-repositories.tf
  terraform/github/data-catalogue.tf
Labels: do-not-merge

#3610 Adding permission to create QS Admin user to PenTester Role in APDP account.
  terraform/aws/analytical-platform-landing-production/ithc/data.tf
  terraform/aws/analytical-platform-landing-production/ithc/iam-roles.tf
  terraform/aws/analytical-platform-landing-production/ithc/iam-users.tf
Labels: override-static-analysis

#3612 Bug fix: Creating policy in the right account.
  terraform/aws/analytical-platform-landing-production/ithc/iam-roles.tf
Labels: override-static-analysis

#3678 Analytical Platform Bedrock Policy
  terraform/aws/analytical-platform-development/cluster/tooling-integration-iam-policies.tf
Labels: override-static-analysis

#3680 🐛 Bugfix: Typos in policy name
  terraform/aws/analytical-platform-development/cluster/tooling-integration-iam-policies.tf
Labels: override-static-analysis

#3681 🔧 Rename repositories
  terraform/github/analytical-platform-repositories.tf
  terraform/github/data-platform-teams.tf
Labels: identity-access-management

#3763 Removing PenTester from cluster-masters.
  terraform/aws/analytical-platform-development/cluster/data.tf
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
Labels: override-static-analysis

#3841 Added Tamsin Forbes
  terraform/github/analytical-platform-teams.tf
Labels: identity-access-management

#3856 Importing Glue Ireland policy.
  .github/dependabot.yml
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/data.tf
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/glue.tf
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/locals.tf
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/terraform.tf
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/terraform.tfvars
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/variables.tf
Labels: override-static-analysis

#3865 :bug: Adding Data Engineering SSO Role to Ireland Glue Policy
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/data.tf
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/glue.tf
Labels: override-static-analysis

#3877 added bold data share bucket to create a derived table permissions with signed commit
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-policies.tf
Labels: override-static-analysis
