Repository ministryofjustice/analytical-platform, pull requests merged in 2024-01, with the labels that each got.

#2809 🔥 Remove Rich B from PagerDuty schedule 👀
  terraform/pagerduty/schedules.tf
  terraform/pagerduty/teams.tf
  terraform/pagerduty/users.tf
Labels: override-static-analysis

#2813 [DP-2385] rename partition column to load timestamp
  containers/daap-athena-load/CHANGELOG.md
  containers/daap-athena-load/src/var/task/athena_load_handler.py
  containers/daap-athena-load/src/var/task/create_curated_athena_table.py
  containers/daap-athena-load/tests/unit/create_curated_athena_table_test.py
  containers/daap-python-base/CHANGELOG.md
  containers/daap-python-base/config.json
  containers/daap-python-base/src/var/task/curated_data/curated_data_loader.py
  containers/daap-python-base/src/var/task/curated_data/curated_data_query_builder.py
  containers/daap-python-base/src/var/task/infer_glue_schema.py
  containers/daap-python-base/tests/unit/curated_data/test_curated_data_query_builder.py
  containers/daap-resync-unprocessed-files/CHANGELOG.md
  containers/daap-resync-unprocessed-files/tests/unit/resync_unprocessed_file_test.py
  docs/source/documentation/platform/infrastructure/run-data-product-in-platform.html.md.erb
Labels: data-platform-labs

#2860 upgrade helm chart for airflow dev
  terraform/aws/analytical-platform-data-production/airflow/helm-charts.tf
Labels: override-static-analysis

#2861 upgrade eks on airflow dev
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
Labels: override-static-analysis

#2858 Add OPG LPA dashboard app bucket to create-a-derived-table permissions
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-policies.tf
Labels: override-static-analysis

#2952 🏷️ Add `feature-request` label to feature request template
  .github/ISSUE_TEMPLATE/feature-request-template.yml
Labels: enhancement

#2953 👋 😭 Remove Yikang from GitHub
  terraform/github/analytical-platform-teams.tf
  terraform/github/data-platform-teams.tf
Labels: identity-access-management

#2964 adding myself to data-platform-apps-and-tools
  terraform/github/data-platform-teams.tf
Labels: identity-access-management

#2972 ✨ Create analytical-platform repository
  terraform/github/analytical-platform-repositories.tf
Labels: enhancement

#2973 add mitch to apps and tools team
  terraform/github/data-platform-teams.tf
Labels: identity-access-management

#2987 🚑 Fix JML ECR repository naming
  containers/jml-extract-lambda/CHANGELOG.md
  containers/jml-extract-lambda/config.json
Labels: bug

#2967 eks-addons for airflow-dev
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
Labels: override-static-analysis

#2999 change kube-proxy version hotfix
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
Labels: override-static-analysis

#3003 add coredns addon to airflow-dev
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
Labels: override-static-analysis

#3006 ♻️ Refactor GitHub issues workflows
  .github/workflows/repository-add-issue-to-epic.yml
  .github/workflows/repository-create-epic-label.yml
  .github/workflows/repository-remove-issue-from-epic.yml
  docs/source/documentation/index.html.md.erb
  docs/source/documentation/platform/infrastructure/github-actions.html.md.erb
Labels: github-workflow, code-quality

#3054 📟 Bump PagerDuty to 3.4.1
  terraform/pagerduty/.terraform.lock.hcl
  terraform/pagerduty/terraform.tf
Labels: dependencies, terraform, override-static-analysis

#2836 886 static analysis - analytical-platform-development-cluster
  terraform/aws/analytical-platform-development/cluster/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/cluster/efs-access-points.tf
  terraform/aws/analytical-platform-development/cluster/efs-file-systems.tf
  terraform/aws/analytical-platform-development/cluster/eks-cluster.tf
  terraform/aws/analytical-platform-development/cluster/iam-policies.tf
  terraform/aws/analytical-platform-development/cluster/karpenter.tf
  terraform/aws/analytical-platform-development/cluster/kms-keys.tf
  terraform/aws/analytical-platform-development/cluster/security-groups.tf
  terraform/aws/analytical-platform-development/cluster/sns-topics.tf
Labels: override-static-analysis

#3060 upgrade production cluster for airflow
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
Labels: override-static-analysis

#3063 eks prod addons
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
Labels: override-static-analysis

#3073 trivy remediation on aws-analytical-platform-data-engineering-production-10ds component
  terraform/aws/analytical-platform-data-engineering-production/10ds/security-groups.tf
Labels: override-static-analysis

#3136 Added sean to dpl
  terraform/github/data-platform-teams.tf
Labels: identity-access-management

#3132 add vpc flow logs as part of trivy remediation
  terraform/aws/analytical-platform-data-engineering-production/10ds/vpc.tf
Labels: override-static-analysis

#3140 kms-key-hotfix
  terraform/aws/analytical-platform-data-engineering-production/10ds/vpc.tf
Labels: override-static-analysis
