Repository ministryofjustice/analytical-platform, pull requests merged in 2024-07, with the labels that each got.

#4589 :wrench: Alert to Slack on `terraform apply` failure
  .github/workflows/reusable-workflow-terraform.yml
Labels: github-workflow

#4617 🔧 EKS Development upgrade: `1.24` -> `1.25`
  terraform/aws/analytical-platform-development/cluster/terraform.tfvars
Labels: override-static-analysis

#4624 🔧 EKS upgrade to `1.25` -> `1.26`
  terraform/aws/analytical-platform-development/cluster/terraform.tfvars
Labels: override-static-analysis

#4629 eks dev upgrade to 1.27
  terraform/aws/analytical-platform-development/cluster/terraform.tfvars
Labels: override-static-analysis

#4630 eks-upgrade-dev-1.28
  terraform/aws/analytical-platform-development/cluster/terraform.tfvars
Labels: override-static-analysis

#4640 🔀 Rename SDP load
  .github/dependabot.yml
  terraform/aws/analytical-platform-data-engineering-sandbox-a/airflow-create-a-pipeline/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-engineering-sandbox-a/airflow-create-a-pipeline/data.tf
  terraform/aws/analytical-platform-data-engineering-sandbox-a/airflow-create-a-pipeline/iam-policies.tf
  terraform/aws/analytical-platform-data-engineering-sandbox-a/airflow-create-a-pipeline/iam-roles.tf
  terraform/aws/analytical-platform-data-engineering-sandbox-a/airflow-create-a-pipeline/terraform.tf
  terraform/aws/analytical-platform-data-engineering-sandbox-a/airflow-create-a-pipeline/terraform.tfvars
  terraform/aws/analytical-platform-data-engineering-sandbox-a/airflow-create-a-pipeline/variables.tf
  terraform/aws/analytical-platform-data-engineering-sandbox-a/airflow-hmcts-sdp-load/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-engineering-sandbox-a/airflow-hmcts-sdp-load/iam-roles.tf
  terraform/aws/analytical-platform-data-engineering-sandbox-a/airflow-hmcts-sdp-load/terraform.tfvars
Labels: override-static-analysis

#4660 eks prod cluster 1.25
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#4648 Policy Option for LakeFormation Sharing for OIDC roles
  terraform/aws/analytical-platform/oidc/configuration/assumable-roles.json
  terraform/aws/analytical-platform/oidc/oidc-roles.tf
Labels: override-static-analysis

#4661 eks prod nodes 1.25
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#4665 addons for eks 1.25
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#4666 Control Plane EKS Production Cluster Upgrade from 1.25 -> 1.26
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#4667 Upgrade EKS nodes to 1.26 in Analytical Platform Production
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#4674 Upgrade EKS addons for 1.26 in Analytical Platform production cluster
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#4675 upgrade EKS control plane to 1.27 on Analytical Platform Production c…
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#4676 Upgrade EKS nodes to 1.27 in Analytical Platform Production
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#4688 Upgrade EKS addons to 1.27 in Analytical Platform Production Cluster
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#4690 upgrade EKS control plane to 1.28 on Analytical Platform Production
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#4691 Upgrade EKS nodes to 1.28 in Analytical Platform Production
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#4698 Upgrade EKS addons for 1.28 Analytical Platform production
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#4717 Remove Missing roles that cause Terraform plan failure
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/locals.tf
Labels: override-static-analysis

#4726 add TLS to bucket remediation work
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/locals.tf
Labels: override-static-analysis

#4738 S3 - Bucket Policy Missing SecureTransport Statement
  terraform/aws/analytical-platform-data-production/airflow/buckets.tf
Labels: override-static-analysis

#4750 S3 - Bucket Policy Missing SecureTransport Statement
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/locals.tf
Labels: override-static-analysis

#4739 S3 - Bucket Policy Missing SecureTransport Statement DE pipeline
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/locals.tf
Labels: override-static-analysis

#4763 Revert "S3 - Bucket Policy Missing SecureTransport Statement "
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/locals.tf
Labels: override-static-analysis

#4762 Revert "S3 - Bucket Policy Missing SecureTransport Statement DE pipeline"
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/locals.tf
Labels: override-static-analysis

#4764 Bucket remediation missing SecureTransport Statement
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/locals.tf
Labels: override-static-analysis

#4767 Update locals.tf
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/locals.tf
Labels: override-static-analysis

#4768 Bucket remediation missing SecureTransport Statement
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/locals.tf
Labels: override-static-analysis

#4776 Add glue and Lake Formation perms to Control Panel prod role
  terraform/aws/analytical-platform-production/cluster/iam-policies.tf
Labels: override-static-analysis

#4779 Update control panel role
  terraform/aws/analytical-platform-development/cluster/iam-policies.tf
  terraform/aws/analytical-platform-production/cluster/iam-policies.tf
Labels: override-static-analysis

#4784 Doc review dates updates
  README.md
  source/documentation/adrs/adr-000-record-architecture-decisions.html.md.erb
  source/documentation/adrs/adr-007-use-aws-sagemaker-for-analytical-tooling.html.md.erb
  source/documentation/adrs/adr-008-documentation.html.md.erb
  source/documentation/adrs/adr-009-use-separate-aws-accounts-for-data.html.md.erb
  source/documentation/platform/index.html.md.erb
  source/documentation/platform/infrastructure/github-actions.html.md.erb
Labels: documentation
