Repository ministryofjustice/analytical-platform, pull requests merged in 2024-10, with the labels that each got.

#5527 :pencil: Correct typo
  .github/workflows/schedule-issue-cloud-development-environment-base.yml
Labels: github-workflow

#5436 :wrench: Add Compute Schedule Issue
  .github/workflows/schedule-issue-compute-infrastructure.yml
Labels: github-workflow

#5530 🔭 Enable AWS CloudWatch Logging on Production EKS
  terraform/aws/analytical-platform-production/cluster/.terraform.lock.hcl
  terraform/aws/analytical-platform-production/cluster/auth0-clients.tf
  terraform/aws/analytical-platform-production/cluster/cloudwatch-log-groups.tf
  terraform/aws/analytical-platform-production/cluster/data.tf
  terraform/aws/analytical-platform-production/cluster/helm-charts-system.tf
  terraform/aws/analytical-platform-production/cluster/iam-policies.tf
  terraform/aws/analytical-platform-production/cluster/iam-roles.tf
  terraform/aws/analytical-platform-production/cluster/kms-keys.tf
  terraform/aws/analytical-platform-production/cluster/kubernetes-manifests.tf
  terraform/aws/analytical-platform-production/cluster/kubernetes-namespace.tf
  terraform/aws/analytical-platform-production/cluster/managed-prometheus.tf
  terraform/aws/analytical-platform-production/cluster/observability-platform.tf
  terraform/aws/analytical-platform-production/cluster/src/helm/values/amazon-prometheus-proxy/values.yml.tftpl
  terraform/aws/analytical-platform-production/cluster/src/helm/values/aws-for-fluent-bit/values.yml.tftpl
  terraform/aws/analytical-platform-production/cluster/terraform.tf
Labels: override-static-analysis

#5584 🛂 Port Auth0 client changes
  terraform/auth0/ministryofjustice-data-platform-development/auth0-clients.tf
  terraform/auth0/ministryofjustice-data-platform/auth0-clients.tf
  terraform/aws/analytical-platform-development/cluster/auth0-clients.tf
Labels: do-not-merge, override-static-analysis

#5513 Changed jwt algorithm to HS256 for tooling
  terraform/aws/analytical-platform-production/cluster/auth0-clients.tf
Labels: override-static-analysis

#5657 🛠️ Upgrade `development-aWrhyc0m` to `1.29`
  terraform/aws/analytical-platform-development/cluster/terraform.tfvars
Labels: override-static-analysis

#5685 :wrench: Update VSCode scheduled maintenance issue
  .github/workflows/schedule-issue-vscode.yml
Labels: github-workflow

#5698 :wrench: Add steps to scheduled Maintenance Issue creation
  .github/workflows/schedule-issue-jupyterlab.yml
  .github/workflows/schedule-issue-vscode.yml
Labels: github-workflow

#5699 Add AssumeRole Permissions to Control Panel Dev Role
  terraform/aws/analytical-platform-development/cluster/iam-policies.tf
  terraform/aws/analytical-platform-development/cluster/terraform.tfvars
Labels: override-static-analysis

#5700 Change to require http_tokens (IMDSv2) in Dev
  terraform/aws/analytical-platform-data-production/airflow/launch-templates.tf
Labels: override-static-analysis

#5704 :wrench: Reduce scheduled issue frequency (1/month)
  .github/workflows/schedule-issue-actions-runner.yml
  .github/workflows/schedule-issue-cloud-development-environment-base.yml
  .github/workflows/schedule-issue-compute-infrastructure.yml
  .github/workflows/schedule-issue-ingestion.yml
  .github/workflows/schedule-issue-jupyterlab.yml
  .github/workflows/schedule-issue-vscode.yml
Labels: github-workflow

#5719 revert #5700 due to CrashLoopBackOffs
  terraform/aws/analytical-platform-data-production/airflow/launch-templates.tf
Labels: override-static-analysis

#5742 🚚 Import Analytical Platform's Terraform backend
  .github/dependabot.yml
  terraform/aws/analytical-platform-management-production/terraform-state/.terraform.lock.hcl
  terraform/aws/analytical-platform-management-production/terraform-state/data.tf
  terraform/aws/analytical-platform-management-production/terraform-state/dynamodb-table.tf
  terraform/aws/analytical-platform-management-production/terraform-state/s3-bucket.tf
  terraform/aws/analytical-platform-management-production/terraform-state/terraform.tf
  terraform/aws/analytical-platform-management-production/terraform-state/terraform.tfvars
  terraform/aws/analytical-platform-management-production/terraform-state/variables.tf
Labels: override-static-analysis

#5748 🎡 Update Dev Container features
  .devcontainer/devcontainer-lock.json
  .prettierignore
Labels: devcontainer

#5701 :memo: Update DoD
  .github/workflows/schedule-issue-cloud-development-environment-base.yml
Labels: github-workflow

#5769 Allow CP Role to Assume Role in APC Test and Prod
  terraform/aws/analytical-platform-production/cluster/iam-policies.tf
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#5795 🚀 Upgrade AP Production EKS
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#5862 Raise lifecycling cap on CaDeT run artefacts
  terraform/aws/analytical-platform-data-production/create-a-derived-table/locals.tf
Labels: override-static-analysis

#5863 🎡 Bump Dev Container features
  .devcontainer/devcontainer-lock.json
Labels: devcontainer

#5810 feat/AP 5599 add mojap cadet replication configuration
  terraform/aws/analytical-platform-data-production/create-a-derived-table/buckets.tf
  terraform/aws/analytical-platform-data-production/create-a-derived-table/data.tf
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-policies.tf
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-roles.tf
  terraform/aws/analytical-platform-data-production/create-a-derived-table/locals.tf
  terraform/aws/analytical-platform-data-production/create-a-derived-table/terraform.tf
  terraform/aws/analytical-platform-data-production/create-a-derived-table/terraform.tfvars
Labels: do-not-merge

#5870 📌 Update `tech-docs-github-pages-publisher` to v5.0.0
  .github/workflows/build-publish-documentation.yml
  .github/workflows/build-test-documentation.yml
  config/tech-docs.yml
  scripts/docs/local.sh
  source/javascripts/govuk_frontend.js
Labels: github-workflow

#5702 Allow Control Panel Role to Read AWS Managed Policies
  terraform/aws/analytical-platform-development/cluster/iam-policies.tf
  terraform/aws/analytical-platform-production/cluster/iam-policies.tf
Labels: override-static-analysis
