Repository ministryofjustice/analytical-platform, pull requests merged in 2024-09, with the labels that each got.

#5191 :wrench: Create Scheduled Issue workflows
  .github/workflows/schedule-issue-actions-runner.yml
  .github/workflows/schedule-issue-ingestion.yml
  .github/workflows/schedule-issue-jupyterlab.yml
  .github/workflows/schedule-issue-vscode.yml
  source/documentation/runbooks/001-ingestion-maintenance.html.md.erb
Labels: github-workflow, maintenance

#5235 Added new required permissions for control panel api to allow for LF …
  terraform/aws/analytical-platform-development/cluster/iam-policies.tf
  terraform/aws/analytical-platform-production/cluster/iam-policies.tf
Labels: override-static-analysis

#5287 Adding missing lf opt in permission
  terraform/aws/analytical-platform-development/cluster/iam-policies.tf
  terraform/aws/analytical-platform-production/cluster/iam-policies.tf
Labels: override-static-analysis

#5306 :wrench: Temporary Desired Node increase
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#5308 Revert ":wrench: Temporary Desired Node increase"
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#5325 Add missing permission causing error in bedrock
  terraform/aws/analytical-platform-data-production/tooling-iam/tooling-integration-iam-policies.tf
  terraform/aws/analytical-platform-development/cluster/tooling-integration-iam-policies.tf
Labels: override-static-analysis

#5394 :memo: Update scheduled issue details
  .github/workflows/schedule-issue-actions-runner.yml
  .github/workflows/schedule-issue-ingestion.yml
Labels: github-workflow, maintenance

#5431 🔧 Update RDS engine version to match live
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: override-static-analysis

#5384 Reworking PagerDuty Component to Avoid Undefined Dependencies
  terraform/pagerduty/.terraform.lock.hcl
  terraform/pagerduty/modules/team/main.tf
  terraform/pagerduty/modules/team/variables.tf
  terraform/pagerduty/teams.tf
  terraform/pagerduty/users.tf
Labels: do-not-merge

#5437 feature: require `http_tokens` for airflow-dev instances (NCC-MOJU147-9JU)
  terraform/aws/analytical-platform-data-production/airflow/launch-templates.tf
Labels: override-static-analysis

#5441 fix: revert `http_tokens` required setting as DAG tooling needs updating to support `"required"` setting
  terraform/aws/analytical-platform-data-production/airflow/launch-templates.tf
Labels: override-static-analysis

#5442 fmd-830: Add Data Catalogue rota to slack rota workflow
  .github/workflows/platform-pagerduty-rota-to-slack.yml
Labels: github-workflow
