Repository ministryofjustice/analytical-platform, pull requests merged in 2024-06, with the labels that each got.

#4437 Add policy to allow quicksight author access
  .github/dependabot.yml
  terraform/aws/analytical-platform-data-production/tooling-iam/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-production/tooling-iam/tooling-integration-iam-policies.tf
  terraform/aws/analytical-platform-development/cluster/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/cluster/tooling-integration-iam-policies.tf
  terraform/aws/analytical-platform-development/tooling-iam/.terraform.lock.hcl
  terraform/aws/analytical-platform-development/tooling-iam/terraform.tf
  terraform/aws/analytical-platform-development/tooling-iam/terraform.tfvars
  terraform/aws/analytical-platform-development/tooling-iam/tooling-integration-iam-policies.tf
  terraform/aws/analytical-platform-development/tooling-iam/variables.tf
Labels: override-static-analysis

#4447 Grant Control Panel role read policy permissions
  terraform/aws/analytical-platform-development/cluster/iam-policies.tf
  terraform/aws/analytical-platform-production/cluster/iam-policies.tf
Labels: override-static-analysis

#4459 🔧 Update Launch Template to match Production
  terraform/aws/analytical-platform-data-production/airflow/launch-templates.tf
Labels: override-static-analysis

#4460 ♻️ Refactor Airflow MNG and LT names
  source/documentation/diagrams/architecture-diagrams.html.md.erb
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/launch-templates.tf
Labels: override-static-analysis

#4455 Add IRSA to airflow dev environment
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
  terraform/aws/analytical-platform-data-production/airflow/kubernetes-namespaces.tf
  terraform/aws/analytical-platform-data-production/airflow/kubernetes-service-accounts.tf
Labels: override-static-analysis

#4464 🚑 Add provider to Kubernetes SA
  terraform/aws/analytical-platform-data-production/airflow/kubernetes-service-accounts.tf
Labels: override-static-analysis

#4467 Remove `airflow-sandpit` components
  terraform/aws/analytical-platform-data-production/airflow/launch-templates.tf
Labels: override-static-analysis

#4473 🔧 🔥 Remove `airflow-sandpit` from Dev Container config
  .devcontainer/src/kubernetes/config
Labels: devcontainer, override-static-analysis

#4478 change oidc config
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
Labels: override-static-analysis

#4493 add oidc
  terraform/aws/analytical-platform-data-production/airflow/data.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-openid-connect-providers.tf
  terraform/aws/analytical-platform-data-production/airflow/iam-roles.tf
Labels: override-static-analysis

#4495 oidc fix
  terraform/aws/analytical-platform-data-production/airflow/iam-openid-connect-providers.tf
Labels: override-static-analysis

#4496 ⏫ Airflow: Development EKS `1.26` -> `1.27`
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/launch-templates.tf
Labels: override-static-analysis

#4503 Added policy update required for DPR database functionality in control panel
  terraform/aws/analytical-platform-development/cluster/iam-policies.tf
Labels: override-static-analysis

#4475 📦 Add our services and remove catalogue ADRs
  .lycheeignore
  README.md
  source/documentation/adrs/adr-001-use-cloud-platform-for-hosting-infrastructure.html.md.erb
  source/documentation/adrs/adr-002-use-moderisation-platform-for-hosting-infrastructure-not-suitable-for-cloud-platform.html.md.erb
  source/documentation/adrs/adr-003-use-entraid-for-identity-and-access-management.html.md.erb
  source/documentation/adrs/adr-004-data-should-be-pushed-into-data-products.html.md.erb
  source/documentation/adrs/adr-004-use-aws-secrets-manager-for-secrets.html.md.erb
  source/documentation/adrs/adr-005-use-aws-quicksight-for-data-visualisation.html.md.erb
  source/documentation/adrs/adr-006-aws-bedrock.html.md.erb
  source/documentation/adrs/adr-006-use-gov-uk-eleventy-plugin-for-user-documentation-and-front-door.html.md.erb
  source/documentation/adrs/adr-007-use-aws-sagemaker-for-analytical-tooling.html.md.erb
  source/documentation/adrs/adr-008-documentation.html.md.erb
  source/documentation/adrs/adr-009-use-separate-aws-accounts-for-data.html.md.erb
  source/documentation/adrs/adr-012-datahub-self-hosted.html.md.erb
  source/documentation/adrs/adr-index.html.md.erb
  source/documentation/index.html.md.erb
  source/documentation/platform/services/airflow.html.md.erb
  source/documentation/platform/services/analytical-platform-ui.html.md.erb
  source/documentation/platform/services/create-a-derived-table.html.md.erb
  source/documentation/platform/services/data-sharing.html.md.erb
  source/documentation/platform/services/jupyter-lab.html.md.erb
  source/documentation/platform/services/rstudio.html.md.erb
  source/documentation/platform/services/vscode.html.md.erb
Labels: documentation

#4497 🔧 Update MWAA's Kubernetes configuration
  terraform/aws/analytical-platform-data-production/airflow/files/dev/config
  terraform/aws/analytical-platform-data-production/airflow/files/prod/config
  terraform/aws/analytical-platform-data-production/airflow/iam-policies.tf
  terraform/aws/analytical-platform-data-production/airflow/terraform.tfvars
Labels: override-static-analysis

#4509 ⏫ Airflow: Development EKS `1.27` -> `1.28`
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/launch-templates.tf
Labels: override-static-analysis

#4510 ⏫ Airflow: Production EKS 1.25 -> 1.26
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/launch-templates.tf
Labels: override-static-analysis

#4517 ⏫ Airflow: Production EKS `1.26` -> `1.27`
  terraform/aws/analytical-platform-data-production/airflow/eks.tf
  terraform/aws/analytical-platform-data-production/airflow/launch-templates.tf
Labels: override-static-analysis

#4522 Fixing mojap-metadata-dev action and adding List Bucket policies
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/locals.tf
Labels: override-static-analysis

#4523 another deformed resource
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/locals.tf
Labels: override-static-analysis

#4530 the last deformed policy in the mojap-metadata-dev bucket
  terraform/aws/analytical-platform-data-production/data-engineering-pipelines/locals.tf
Labels: override-static-analysis

#4558 create dev/requirements.txt for testing mojap-airflow-tools
  .github/dependabot.yml
  terraform/aws/analytical-platform-data-production/airflow/buckets.tf
  terraform/aws/analytical-platform-data-production/airflow/files/dev/requirements.txt
  terraform/aws/analytical-platform-data-production/airflow/files/prod/requirements.txt
Labels: override-static-analysis

#4568 ✨ Add Observability Platform module to Data Engineering Sandbox account
  terraform/aws/analytical-platform/baseline/.terraform.lock.hcl
  terraform/aws/analytical-platform/baseline/observability-platform.tf
  terraform/aws/analytical-platform/baseline/terraform.tf
  terraform/aws/analytical-platform/baseline/terraform.tfvars
  terraform/aws/analytical-platform/baseline/variables.tf
Labels: override-static-analysis

#4574 Update bedrock policy regions
  terraform/aws/analytical-platform-data-production/tooling-iam/tooling-integration-iam-policies.tf
  terraform/aws/analytical-platform-development/cluster/tooling-integration-iam-policies.tf
Labels: override-static-analysis

#4575 Revert ":dependabot: terraform(deps): Bump cloudposse/elasticache-red is/aws from 1.3.0 to 1.4.0 in /terraform/aws/analytical-platform-development/cluster (#4543)"
  terraform/aws/analytical-platform-development/cluster/redis.tf
Labels: override-static-analysis
