Repository ministryofjustice/analytical-platform, pull requests merged in 2024-02, with the labels that each got.

#3149 :octocat: Create GitHub Team
  terraform/github/analytical-platform-repositories.tf
  terraform/github/data-platform-teams.tf
Labels: identity-access-management

#3143 add policy for kms
  terraform/aws/analytical-platform-data-engineering-production/10ds/data.tf
  terraform/aws/analytical-platform-data-engineering-production/10ds/vpc.tf
Labels: override-static-analysis

#3186 Add James Stott to the AP and DPAT teams
  terraform/github/analytical-platform-teams.tf
  terraform/github/data-platform-teams.tf
Labels: identity-access-management

#3185 kms fix for vpc flow logs
  terraform/aws/analytical-platform-data-engineering-production/10ds/vpc.tf
Labels: override-static-analysis

#3189 Spell James Stott correctly
  terraform/github/analytical-platform-teams.tf
Labels: identity-access-management

#3190 Add Airflow CreateCliToken Permission
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-policies.tf
Labels: override-static-analysis

#3225 🥷 Backport RDS engine upgrade
  terraform/aws/analytical-platform-development/cluster/terraform.tfvars
  terraform/aws/analytical-platform-production/cluster/terraform.tfvars
Labels: dependencies, terraform, override-static-analysis

#3227 🧑‍🔧 Manually upgrade PagerDuty providers
  terraform/pagerduty/.terraform.lock.hcl
  terraform/pagerduty/terraform.tf
Labels: dependencies, terraform, override-static-analysis

#3267 Adding Holly, Alex, Chris, Phil to Finance Team
  terraform/github/data-platform-teams.tf
Labels: identity-access-management

#3291 :dependabot: 🔧  JML Multiple Dependabots
  .github/.trivyignore.yaml
  .github/workflows/repository-dependabot-docker.yml
  containers/jml-extract-lambda/CHANGELOG.md
  containers/jml-extract-lambda/Dockerfile
  containers/jml-extract-lambda/config.json
  containers/jml-extract-lambda/src/var/task/requirements.txt
Labels: github-workflow

#3292 Update pagerduty/teams.tf
  terraform/pagerduty/schedules.tf
  terraform/pagerduty/teams.tf
  terraform/pagerduty/users.tf
Labels: override-static-analysis

#3305 🧹 Analytical Platform GitHub housekeeping
  terraform/github/analytical-platform-repositories.tf
  terraform/github/analytical-platform-teams.tf
Labels: identity-access-management

#3321 🤝 Add Edwin to Analytical Platform
  terraform/github/analytical-platform-teams.tf
Labels: identity-access-management

#3367 Adding AlexVF an Richard Trist to AP team
  terraform/github/analytical-platform-teams.tf
Labels: identity-access-management

#3412 ♻️ PagerDuty rename
  .github/workflows/platform-pagerduty-rota-to-slack.yml
  terraform/pagerduty/business-services.tf
  terraform/pagerduty/escalation-policies.tf
  terraform/pagerduty/schedules.tf
  terraform/pagerduty/teams.tf
  terraform/pagerduty/technical-services.tf
Labels: github-workflow, override-static-analysis

#3453 Add airflow:CreateCliToken prod permission
  terraform/aws/analytical-platform-data-production/create-a-derived-table/iam-policies.tf
Labels: override-static-analysis

#3484 📌 Upgrade GitHub Actions Runner
  .github/workflows/reusable-workflow-containers.yml
  charts/actions-runner/CHANGELOG.md
  charts/actions-runner/Chart.yaml
  containers/actions-runner/CHANGELOG.md
  containers/actions-runner/Dockerfile
  containers/actions-runner/config.json
Labels: github-workflow

#3493 📌 Update deployed Actions Runners to 2.1.0
  terraform/cloud-platform/live/data-platform-production/actions-runners/create-a-derived-table.tf
  terraform/dpat-eks/production/actions-runners/create-a-derived-table.tf
Labels: do-not-merge

#3389 ✨ Data Catalogue team
  terraform/github/data-catalogue.tf
  terraform/github/data-platform-teams.tf
Labels: override-static-analysis, identity-access-management
