Repository ministryofjustice/analytical-platform, pull requests merged in 2025-05, with the labels that each got.

#7686 📝 TDT Update
  .github/workflows/publish-documentation.yml
  .github/workflows/test-documentation.yml
  Makefile
  config/tech-docs.yml
  source/images/favicon.ico
Labels: github-workflow

#7743 Add ListRoles permission to Bedrock policy
  terraform/aws/analytical-platform-data-production/tooling-iam/tooling-integration-iam-policies.tf
Labels: override-static-analysis

#7746 🚑 Update AWS feature
  .devcontainer/devcontainer-lock.json
Labels: devcontainer

#7755 ✍️ Consume Commit Signature Verification workflow
  .github/workflows/repository-check-commit-signatures.yml
Labels: github-workflow

#7740 Dms dev
  .github/dependabot.yml
  terraform/aws/analytical-platform-data-engineering-production/dms-dev/.gitignore
  terraform/aws/analytical-platform-data-engineering-production/dms-dev/.terraform.lock.hcl
  terraform/aws/analytical-platform-data-engineering-production/dms-dev/data.tf
  terraform/aws/analytical-platform-data-engineering-production/dms-dev/dms.tf
  terraform/aws/analytical-platform-data-engineering-production/dms-dev/ec2.tf
  terraform/aws/analytical-platform-data-engineering-production/dms-dev/kms.tf
  terraform/aws/analytical-platform-data-engineering-production/dms-dev/terraform.tf
  terraform/aws/analytical-platform-data-engineering-production/dms-dev/terraform.tfvars
  terraform/aws/analytical-platform-data-engineering-production/dms-dev/variables.tf
  terraform/aws/analytical-platform-data-engineering-production/dms-dev/vpc.tf
Labels: override-static-analysis
